<include file="Public:head" />
<script src="__JS__/jquerytool_1.0v.js"></script>
<script src="__PUBLIC__/laydate/laydate.js"></script>
<body>
<include file="Public:header" />
<script language="javascript" src="__JS__/LodopFuncs.js"></script>
<div id="main-pyf">
	<include file="Public:left" />

	<div id="content">
		<!-- 		<div class="ico-pt span12">
		<h4>店铺管理</h4>
	</div>
	-->
	<div class="row">

		<div class="tsan113">

			<div class="widget">

				<div class="tabbable">
					<ul class="nav nav-tabs" id="tabnav">
						<li class="active">
							<a href="__MODULE__/Orderyjh/orderList">全部订单</a>
							<if condition="$num.num gt 99"> <em>99+</em>
								<else /> <em>{$num.num}</em>
							</if>
						</li>
						<li name="S">
							<a href="__MODULE__/Orderyjh/orderList/order_status/S">待审核订单</a>
							<if condition="$num.s gt 99">
								<em>99+</em>
								<else />
								<em>{$num.s}</em>
							</if>
						</li>
						<li name="A">
							<a href="__MODULE__/Orderyjh/orderList/order_status/A">待安排订单</a>
							<if condition="$num.a gt 99">
								<em>99+</em>
								<else />
								<em>{$num.a}</em>
							</if>
						</li>
						<li name="T">
							<a href="__MODULE__/Orderyjh/orderList/order_status/T">待提车订单</a>
							<if condition="$num.t gt 99">
								<em>99+</em>
								<else />
								<em>{$num.t}</em>
							</if>
						</li>
						<li name="Z">
							<a href="__MODULE__/Orderyjh/orderList/order_status/Z">待核实订单</a>
							<if condition="$num.z gt 99">
								<em>99+</em>
								<else />
								<em>{$num.z}</em>
							</if>
						</li>
						<!-- <li name="Y">
							<a href="__MODULE__/Orderyjh/orderList/order_status/Y">运输中订单</a>
							<if condition="$num.y gt 99">
								<em>99+</em>
								<else />
								<em>{$num.y}</em>
							</if>
						</li> -->
					   <li name="C">
					         <a id="cctv" href="__MODULE__/Orderyjh/orderList/order_status/C">运输中订单</a>
							<if condition="$num.y gt 99">
								<em>99+</em>
								<else />
								<em>{$num.y}</em>
							</if>
				       </li>
						<li name="V">
							<a href="__MODULE__/Orderyjh/orderList/order_status/V">待回访订单</a>
							<if condition="$num.v gt 99">
								<em>99+</em>
								<else />
								<em>{$num.v}</em>
							</if>
						</li>
						<li name="R">
							<a href="__MODULE__/Orderyjh/orderList/order_status/R">需回单订单</a>
							<if condition="$num.r gt 99">
								<em>99+</em>
								<else />
								<em>{$num.r}</em>
							</if>
						</li>
						<li name="W">
							<a href="__MODULE__/Orderyjh/orderList/order_status/W">已完成订单</a>
							<if condition="$num.w gt 99">
								<em>99+</em>
								<else />
								<em>{$num.w}</em>
							</if>
						</li>
                        <li name="DIE">
							<a href="__MODULE__/Orderyjh/orderList/order_status/DIE">审核不通过订单</a>
							<if condition="$num.die gt 99">
								<em class ='dieNum'>99+</em>
								<else />
								<em class ='dieNum'>{$num.die}</em>
							</if>
						</li>
						 <li name="NUN">
							<a href="__MODULE__/Orderyjh/orderList/order_status/NUN">作废订单</a>
							<if condition="$num.nun gt 99">
								<em>99+</em>
								<else />
								<em>{$num.nun}</em>
							</if>
						</li>
					</ul>
					<ul class="nav nav-tabs cctv1" id="tabnav1" style="display:none;">
						<li name="C">
							<a href="__MODULE__/Orderyjh/orderList/order_status/C">全部</a>
						</li>
						<li name="Y">
							<a href="__MODULE__/Orderyjh/orderList/order_status/Y">待装板</a>
						</li>
						<li name="M">
							<a href="__MODULE__/Orderyjh/orderList/order_status/M">待中转</a>
						</li>
						<li name="N">
							<a href="__MODULE__/Orderyjh/orderList/order_status/N">待到达</a>
						</li>
						<li name="B">
							<a href="__MODULE__/Orderyjh/orderList/order_status/B">待送车</a>
						</li>
						<li name="G">
							<a href="__MODULE__/Orderyjh/orderList/order_status/G">待交车</a>
						</li>
						<li name="D">
							<a href="__MODULE__/Orderyjh/orderList/order_status/D">已到达</a>
						</li>
                    </ul>
                <script>
					$("#cctv").click(function(){
						if($(".cctv1").css("display")=="none"){
							$(".cctv1").show();
						}else{
							$(".cctv1").hide();
						}
					});
					$(function(){
						var order_status="{$order_status}";
						if(order_status=='C'||order_status=='Y'||order_status=='M'||order_status=='N'||order_status=='B'||order_status=='G'||order_status=='D'){
							$(".cctv1").show();
						}
					})
				</script>

					<div class="tab-content1">
						<div class="tab-content">
							<div class="tab-pane active">
								<form id="edit-profile" class="form-horizontal" />
								<fieldset>
									<div class="l_uit">
										<div class="control-group">

											<div style="float:left;" class="controls clec_t">
												<!-- <div class="dropdown">
													<select class="height46" name="" id="pay_status">
														<option value="0">请选择支付方式</option>
														<option value="W">网上支付</option>
														<option value="H">货到付款</option>
													</select>
												</div> -->
												<input type="text" style="float:left; margin-left:10px" class="i_n text2" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" id="startime" placeholder="起始时间" value="" readonly="readonly">					<input type="text" style="float:left;margin-left:10px;" class="i_n text2" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" id="endtime" value="" placeholder="结束时间" readonly="readonly">
												 <div class="pay1" style ="margin-left:10px;">
															<dd>
																<input type="text" placeholder="(出发/目的)地省份" id="provincea" value="{$arry.pname}"/>
																<div class="pay2" id="pay1" >
																	<ul id ="s1">
																		<volist name="provincea" id="vv">
                                                                        <li data1="{$vv.area_name}" data2="{$vv.area_id}" onclick='changeShi(this)'><h2>{$vv.area_name}</h2></li>
                                                                        </volist>
																	
																	</ul>
																</div>
															</dd>
															
														</div>
												<div class="v_pb">	
												<!-- <select class="height46" name="" id="provincea">
														<option value="f">(出发/目的)地省份</option>
                                                        <empty name="arry.pid">
                                                            <option selected="selected" value="">请选择省份</option>
                                                            <else />
                                                            <option selected="selected" value="{$arry.pid}">{$arry.pname}</option>
                                                        </empty>
														<volist name="provincea" id="vv">
															<option value="{$vv.area_id}">{$vv.area_name}</option>
														</volist>
												</select> -->
												 <input type="hidden" value="{$arry.pid}" id="pro"/>
													<input type="text" placeholder="备注" id="order_info_remark" value="{$order_info_remark}" style="width: 125px;height: 36px;" />
													<input type="text" placeholder="客服" id="admin_name" value="{$admin_name}" style="width: 125px;height: 36px;" />
													<input type="text" id="order" value="{$order}" name="order" placeholder="请输入订单/车牌/手机号"  class="i_n text2">
													<button class="btn btn-default5" id="btn" type="button">搜索</button>
												</div>

											</div>
											<!-- /controls -->

										</div>
										<script>
															$('.pay1 dd').click(function(){
																$(this).find('.pay2').slideToggle(1000).parent().siblings().find('.pay2').hide();
															});
															
															function changeShi(obj){
																
																var provinceid = $(obj).attr('data2');
				                                                $("#s2").children().remove();
				                                                $.post('__MODULE__/Product/area_act', {provinceid: provinceid}, function(data) {
				                                                    var _html = "";
				                                                    for (var i = 0; i < data.length; i++) {
				                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeCity(this)'><h2>"+data[i]['area_name']+"</h2></li>";
				                                                    }
				                                                    $('#s2').append(_html);
				                                                },'json');
				                                                
																$('#provincea').append().val(''+$(obj).attr('data1')+'');
																$('#pro').val($(obj).attr('data2'));
																$('#city').val('');
																$('#cit').val('');
															};
														
															function changeCity(obj){
                                                                var city = $(obj).attr('data2');
				                                                var city_name =$(obj).attr('data1');
				                                                $("#s3").children().remove();
				                                                $.post('__MODULE__/Product/area_act', {provinceid: city}, function(data) {
				                                                    var _html = "";
				                                                    for (var i = 0; i < data.length; i++) {
				                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeQu(this)'><h2>"+data[i]['area_name']+"</h2></li>";
				                                                    }
				                                                    $('#s3').append(_html);
				                                                },'json');
				                                                
																$('#city').append().val(city_name);
																$('#cit').val($(obj).attr('data2'));
																$('#county').val('');
																$('#cou').val('');
															}
														
															function changeQu(obj){
																$('#county').append().val(''+$(obj).attr('data1')+'');
																$('#cou').val($(obj).attr('data2'));
															}
															$('#provincea').bind('input propertychange', function() { 
															    //搜索省份
															     var name =$('#provincea').val();
															     $('#s1').children().remove();
																 $.post('__MODULE__/Product/get_area_bycon', {name:name,pid:1}, function(data) {
					                                                    var _html = "";
					                                                    for (var i = 0; i < data.length; i++) {
					                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeShi(this)'><h2>"+data[i]['area_name']+"</h2></li>";
					                                                    }
					                                                    $('#s1').append(_html);
					                                                },'json');
															
														     })
														     $('#city').bind('input propertychange', function() { 
															    //搜索省份
															     var name =$('#city').val();
															     var pid =$('#pro').val();
															     $('#s2').children().remove();
																 $.post('__MODULE__/Product/get_area_bycon', {name:name,pid:pid}, function(data) {
					                                                    var _html = "";
					                                                    for (var i = 0; i < data.length; i++) {
					                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeCity(this)'><h2>"+data[i]['area_name']+"</h2></li>";
					                                                    }
					                                                    $('#s2').append(_html);
					                                                },'json');
															
														     })
														     $('#county').bind('input propertychange', function() { 
															    //搜索省份
															     var name =$('#county').val();
															     var pid =$('#cit').val(); 
															     $('#s3').children().remove();
																 $.post('__MODULE__/Product/get_area_bycon', {name:name,pid:pid}, function(data) {
					                                                    var _html = "";
					                                                    for (var i = 0; i < data.length; i++) {
					                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeQu(this)'><h2>"+data[i]['area_name']+"</h2></li>";
					                                                    }
					                                                    $('#s3').append(_html);
					                                                },'json');
															
														     })
														</script>
										<script>
												$(function(){
													$('table tr.tr2:odd').css('background','#F0F0F0');
												});
												
											</script>
										<div class="l_table">
											<table>
												<tr class="tr1">
													<if condition="($order_status eq 'S') OR ($order_status eq '')">
													<td>下单时间</td>
													<else />
													<td>提车时间</td>
													</if>
													<td>订单编号</td>
													<td>咨询客服</td>
													<td>客户</td>
													<td>车辆信息</td>
													<td>车牌号</td>
													<td>出发地</td>
													<td>目的地</td>
													<td>价格</td>
													<if condition="$order_status eq 'R'">
													<td>回单人</td>
													<else />
													<td>当前位置</td>
													</if>
                                                                                                                       <td>发运商</td>
													<td>发运负责人</td>
													<if condition ="$order_status eq 'DIE' or $order_status eq 'NUN'">
													<td>操作</td>
													</if>
												</tr>
												<volist name="list" id="vo">
													<tr class="tr2">
														<if condition="($order_status eq 'S') OR ($order_status eq '')">
														<td>{$vo.order_time}</td>
														<else />
														<td>{$vo.ti_car_time}</td>
														</if>
														<td class="td3"><a href="__MODULE__/Orderyjh/orderinfo/order_code/{$vo.order_code}">{$vo.order_code}</a></td>
														<td>{$vo.admin_name}</td>
														<td><a href="__MODULE__/Orderyjh/orderinfo/order_code/{$vo.order_code}">
															{$vo.username}
															<br>{$vo.user_code}</a></td>
															
														<td class="td_d2"><a href="__MODULE__/Orderyjh/orderinfo/order_code/{$vo.order_code}">
															{$vo.order_info_brand}－{$vo.order_info_type}
															<br>{$vo.carmark}</a></td>
													    <td >{$vo.order_info_carmark}</td>
														<td><a href="__MODULE__/Orderyjh/orderinfo/order_code/{$vo.order_code}">{$vo['order_info_stars'][1]}</td>
														<td><a href="__MODULE__/Orderyjh/orderinfo/order_code/{$vo.order_code}">{$vo['order_info_ends'][1]}</td>
														<td><a href="__MODULE__/Orderyjh/orderinfo/order_code/{$vo.order_code}">{$vo['order_info_zj']/100}</a></td>
														<if condition="$order_status eq 'R'">
														<td><a href="__MODULE__/Orderyjh/orderinfo/order_code/{$vo.order_code}">{$vo['hui_man']}</a></td>
														<else />
														<td><a href="__MODULE__/Orderyjh/orderinfo/order_code/{$vo.order_code}">{$vo['area']}</a></td>
														</if>
														
														<!-- <td>
															
															<if condition="$vo.order_status eq 'T'">
																<a href="javascript:void(0)" onclick="printAskToGet('{$vo.order_code}')">打印</a>
															</if>
															<if condition="$vo.mark_c eq 'C'">
																<a href="__MODULE__/Worklwt/orderinfo/order_code/{$vo.order_code}" class="see4">修改</a>
															</if>
															<a href="javascript:" code="{$vo.order_code}" class="see2">删除</a>
														</td> -->
                                                                                                                                <td>{$vo.sper}</td>
														<td>{$vo.shipper}</td>
														<if condition ="$order_status eq 'DIE' or $order_status eq 'NUN'">
														<td><a href="javascript:" code="{$vo.order_code}" class="see2">删除</a></td>
														</if>
													</tr>
												</volist>
											</table>

										</div>
										<div class="l_fenye"><if condition="$page neq ''">{$page}</if></div>
									</div>
								</fieldset>
							</form>
						</div>

					</div>
				</div>

			</div>

		</div>
		<!-- /widget -->

	</div>
	<!-- /span11 -->

</div>
<!-- /row -->
<style>
	.l_table table tr td a{
		color: #000;
	}
</style>
</div>
</div>
<script>
	var LODOP; //声明为全局变量   
	$(document).ready(function(){
		var sign = '{$order_status}';
		if(sign!=''){
			$("#tabnav").find('li[name="'+sign+'"]').addClass('active').siblings().removeClass('active');
			$("#tabnav1").find('li[name="'+sign+'"]').addClass('active').siblings().removeClass('active');
			if(sign=='Y'||sign=='M'||sign=='N'||sign=='B'||sign=='G'){
				$("#tabnav").find('li').removeClass('active');
			}
		}
	})
	//加载运行
	$('#pay_status option').each(function(index, el) {
		var pay = "{$pay}";
		if ($(this).val() == pay) {
			$(this).attr('selected',true);
		}
	});
    //搜索
    $('#btn').click(function(event) {
    	var getos = "{$order_status}";
        var order = $('#order').val();
        var startime = $('#startime').val();
        var endtime = $('#endtime').val();
        var provincea=$('#pro').val();
        var admin_name=$('#admin_name').val();
        var order_info_remark=$('#order_info_remark').val();
        if(provincea ==''){
        	provincea ='f';
        }
       	if (startime == '') {
       		startime = 0;
       	}
       	if (endtime == '') {
       		endtime = 0;
       	}
        if (admin_name == '') {
            admin_name = 'f';
        }
        if (getos&&order) {
        	window.location.href="__MODULE__/Orderyjh/orderList/order_status/"+getos+"/star/"+startime+"/end/"+endtime+"/order/"+order+"/provincea/"+provincea+"/admin_name/"+admin_name+"/order_info_remark/"+order_info_remark;
        } else if(order){
        	window.location.href="__MODULE__/Orderyjh/orderList/star/"+startime+"/end/"+endtime+"/order/"+order+"/provincea/"+provincea+"/admin_name/"+admin_name+"/order_info_remark/"+order_info_remark;
        }else if(getos){
        	window.location.href="__MODULE__/Orderyjh/orderList/order_status/"+getos+"/star/"+startime+"/end/"+endtime+"/provincea/"+provincea+"/admin_name/"+admin_name+"/order_info_remark/"+order_info_remark;
        }else{
        	window.location.href="__MODULE__/Orderyjh/orderList/star/"+startime+"/end/"+endtime+"/provincea/"+provincea+"/admin_name/"+admin_name+"/order_info_remark/"+order_info_remark;
        }        
    });
    //删除
    $('.see2').click(function(event) {
    	var num ={$num.die};
    	var now_num =parseFloat(num) -1;
    	var numObj =$('.dieNum');
    	var code = $(this).attr('code');
    	var fh = $(this);
    	if (confirm('确定删除此信息吗？')) {
	    	$.post('__MODULE__/Order/orderdel', {code: code}, function(data) {
	    		if(data =='Y'){
	    			$.anewAlert('删除成功');
	    			fh.parents(".tr2").remove();
	    			if(now_num > 99){
	    				numObj.html('99+');
	    			}else{
	    				numObj.html(now_num);
	    			}
	    		}else{
	    			
	    			$.anewAlert('删除失败');
	    		}
	    		//window.location.reload();
	    	},'json');
	    }
    });
    
	function printpact(order_code){
		$.post('__MODULE__/Print/printpact/',{'order_code':order_code},function(data){
			//调用打印预览
			CreateFullBill2(data);
		  	LODOP.PREVIEW();
		})
	}
	
	function printAskToGet(order_code){
		$.post('__MODULE__/Print/printAskToGet/',{'order_code':order_code},function(data){
			//调用打印预览
			CreateFullBill3(data);
			//LODOP.PRINT_SETUP();
		  	LODOP.PREVIEW();
		})
	}
	
	//运车服务合同
	function CreateFullBill2(data) {
		LODOP.PRINT_INITA(10,10,831,1177,data.print_Title);
		LODOP.ADD_PRINT_SETUP_BKIMG("C:\\Users\\Administrator\\Desktop\\打印模板\\9-1.jpg");
		LODOP.SET_SHOW_MODE("BKIMG_LEFT",0);
		LODOP.SET_SHOW_MODE("BKIMG_TOP",0);
		LODOP.ADD_PRINT_TEXT(87,98,50,22,data.orderInfo.order_info_star);
		LODOP.ADD_PRINT_TEXT(86,196,50,22,data.orderInfo.order_info_end);
		LODOP.ADD_PRINT_TEXT(115,153,80,22,data.orderInfo.order_info_sclxr[0]);
		LODOP.ADD_PRINT_TEXT(150,167,80,22,data.orderInfo.order_info_tclxr[0]);
		LODOP.ADD_PRINT_TEXT(85,323,36,20,data.yundan.yd_j_time[0]);
		LODOP.ADD_PRINT_TEXT(83,386,22,20,data.yundan.yd_j_time[1]);
		LODOP.ADD_PRINT_TEXT(83,422,21,20,data.yundan.yd_j_time[2]);
		LODOP.ADD_PRINT_TEXT(877,647,34,20,"");
		LODOP.ADD_PRINT_TEXT(877,709,24,20,"");
		LODOP.ADD_PRINT_TEXT(875,686,24,20,"");
		LODOP.ADD_PRINT_TEXT(940,645,34,20,"");
		LODOP.ADD_PRINT_TEXT(942,714,24,20,"");
		LODOP.ADD_PRINT_TEXT(942,688,24,20,"");
		LODOP.ADD_PRINT_TEXT(1026,646,34,20,"");
		LODOP.ADD_PRINT_TEXT(1025,719,24,20,"");
		LODOP.ADD_PRINT_TEXT(1027,687,24,20,"");
		LODOP.ADD_PRINT_TEXT(113,312,135,22,data.orderInfo.order_info_sclxr[2]);
		LODOP.ADD_PRINT_TEXT(116,499,208,22,data.orderInfo.order_info_sclxr[1]);
		LODOP.ADD_PRINT_TEXT(147,312,135,22,data.orderInfo.order_info_tclxr[2]);
		LODOP.ADD_PRINT_TEXT(150,497,208,22,data.orderInfo.order_info_tclxr[1]);
		LODOP.ADD_PRINT_TEXT(186,363,416,22,data.orderInfo.order_info_end);
		LODOP.ADD_PRINT_TEXT(286,52,120,22,data.orderInfo.order_info_brand);
		LODOP.ADD_PRINT_TEXT(317,50,120,22,"");
		LODOP.ADD_PRINT_TEXT(288,214,122,22,data.orderInfo.order_info_carmark);
		LODOP.ADD_PRINT_TEXT(318,211,122,22,"");
		LODOP.ADD_PRINT_TEXT(285,366,62,22,data.orderInfo.order_info_price);
		LODOP.ADD_PRINT_TEXT(318,365,64,22,"");
		LODOP.ADD_PRINT_TEXT(286,444,60,22,data.orderInfo.order_info_bxd);
		LODOP.ADD_PRINT_TEXT(317,441,64,22,"");
		LODOP.ADD_PRINT_TEXT(286,513,67,22,data.orderInfo.order_info_c_car);
		LODOP.ADD_PRINT_TEXT(319,511,68,22,"");
		LODOP.ADD_PRINT_TEXT(349,177,30,17,data.carInfo.verify_car_keys);
		LODOP.ADD_PRINT_TEXT(370,176,30,17,data.carInfo.verify_km);
		LODOP.ADD_PRINT_TEXT(349,313,30,17,data.carInfo.verify_spare_tire);
		LODOP.ADD_PRINT_TEXT(368,314,30,17,data.carInfo.verify_instructions);
		LODOP.ADD_PRINT_TEXT(352,443,30,17,data.carInfo.verify_tool_kit);
		LODOP.ADD_PRINT_TEXT(372,443,30,17,data.carInfo.verify_warning_sign);
		LODOP.ADD_PRINT_TEXT(348,574,30,17,data.carInfo.verify_lifting_jack);
		LODOP.ADD_PRINT_TEXT(369,575,30,17,data.carInfo.verify_lighter);
		LODOP.ADD_PRINT_TEXT(350,712,30,17,data.carInfo.verify_door_mat);
		LODOP.ADD_PRINT_TEXT(370,708,30,17,data.carInfo.verify_fire_extinguisher);
		LODOP.ADD_PRINT_TEXT(403,223,383,22,data.carImg[0].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(404,622,160,22,data.carImg[0].verify_img_id);
		LODOP.ADD_PRINT_TEXT(437,222,383,22,data.carImg[1].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(437,622,161,22,data.carImg[1].verify_img_id);
		LODOP.ADD_PRINT_TEXT(469,622,162,22,data.carImg[2].verify_img_id);
		LODOP.ADD_PRINT_TEXT(468,221,382,22,data.carImg[2].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(501,222,383,22,data.carImg[3].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(502,622,160,22,data.carImg[3].verify_img_id);
		LODOP.ADD_PRINT_TEXT(533,222,383,22,data.carImg[4].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(533,622,160,22,data.carImg[4].verify_img_id);
		LODOP.ADD_PRINT_TEXT(562,222,383,22,data.carImg[5].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(562,622,160,22,data.carImg[5].verify_img_id);
		LODOP.ADD_PRINT_TEXT(593,222,383,22,data.carImg[6].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(593,622,160,22,data.carImg[6].verify_img_id);
		LODOP.ADD_PRINT_TEXT(624,222,383,22,"");
		LODOP.ADD_PRINT_TEXT(625,622,160,22,"");
		LODOP.ADD_PRINT_TEXT(654,222,383,22,"");
		LODOP.ADD_PRINT_TEXT(654,622,160,22,"");
		LODOP.ADD_PRINT_TEXT(776,191,30,17,data.orderInfo.number[5]);
		LODOP.ADD_PRINT_TEXT(776,253,30,17,data.orderInfo.number[4]);
		LODOP.ADD_PRINT_TEXT(778,300,30,17,data.orderInfo.number[3]);
		LODOP.ADD_PRINT_TEXT(779,346,30,17,data.orderInfo.number[2]);
		LODOP.ADD_PRINT_TEXT(778,396,30,17,data.orderInfo.number[1]);
		LODOP.ADD_PRINT_TEXT(780,442,30,17,data.orderInfo.number[0]);
		LODOP.ADD_PRINT_TEXT(1024,182,60,20,"");
		LODOP.ADD_PRINT_TEXT(1025,289,80,20,"");
		LODOP.ADD_PRINT_TEXT(1024,418,163,20,"");

	};
	
	//车妥妥提车单
	function CreateFullBill3(data) {
		LODOP.PRINT_INITA(10,10,831,1177,'11');
		LODOP.ADD_PRINT_SETUP_BKIMG("C:\\Users\\Administrator\\Desktop\\打印模板\\9-3.jpg");
		LODOP.SET_SHOW_MODE("BKIMG_LEFT",0);
		LODOP.SET_SHOW_MODE("BKIMG_TOP",0);
		LODOP.ADD_PRINT_TEXT(137,158,80,22,data.tclxr[0]);
		LODOP.ADD_PRINT_TEXT(200,183,72,22,data.name);
		LODOP.ADD_PRINT_TEXT(115,291,36,20,data.yd_j_time[0]);
		LODOP.ADD_PRINT_TEXT(114,354,22,20,data.yd_j_time[1]);
		LODOP.ADD_PRINT_TEXT(114,390,21,20,data.yd_j_time[2]);
		LODOP.ADD_PRINT_TEXT(583,463,34,20,"");
		LODOP.ADD_PRINT_TEXT(582,537,24,20,"");
		LODOP.ADD_PRINT_TEXT(581,508,24,20,"");
		LODOP.ADD_PRINT_TEXT(582,635,34,20,"");
		LODOP.ADD_PRINT_TEXT(581,701,24,20,"");
		LODOP.ADD_PRINT_TEXT(580,671,24,20,"");
		LODOP.ADD_PRINT_TEXT(138,410,111,22,data.tclxr[2]);
		LODOP.ADD_PRINT_TEXT(200,314,104,22,data.tel);
		LODOP.ADD_PRINT_TEXT(199,469,208,22,data.identity);
		LODOP.ADD_PRINT_TEXT(167,158,416,22,data.address);
		LODOP.ADD_PRINT_TEXT(242,202,30,17,data.number[4]);
		LODOP.ADD_PRINT_TEXT(242,271,30,17,data.number[3]);
		LODOP.ADD_PRINT_TEXT(242,334,30,17,data.number[2]);
		LODOP.ADD_PRINT_TEXT(242,394,30,17,data.number[1]);
		LODOP.ADD_PRINT_TEXT(242,466,30,17,data.number[0]);
		LODOP.ADD_PRINT_TEXT(295,155,177,22,data.brand);
		LODOP.ADD_PRINT_TEXT(300,517,159,22,data.carmark);
		
		LODOP.ADD_PRINT_TEXT(113,636,131,22,data.carcode);
		LODOP.ADD_PRINT_TEXT(213,636,131,22,data.tebie);
		
		
	};
</script>
</body>
</html>