
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WEB打印控件LODOP的样例四:打印设计和定位套打票据</title>

<script language="javascript" src="__JS__/LodopFuncs.js"></script>
</head>
<body>
<br>
<a href="JavaScript:Preview1()">打印预览</a>
<br>
<a href="JavaScript:Setup2()">打印维护</a>
<br>
<script language="javascript" type="text/javascript">
    var LODOP; //声明为全局变量   
    //打印预览
	function Preview1() {		
		CreateFullBill2();
	  	LODOP.PREVIEW();		
	};
	//打印维护
	function Setup2() {		
		CreateFullBill2();
		LODOP.PRINT_SETUP();		
	};

//财务支付凭证
function CreateFullBill2() {
	LODOP.PRINT_INITA(10,10,831,1177,"{$result['print_Title']}");
	LODOP.ADD_PRINT_SETUP_BKIMG("C:\\Users\\Administrator\\Desktop\\打印模板\\9-1.jpg");
	LODOP.SET_SHOW_MODE("BKIMG_LEFT",0);
	LODOP.SET_SHOW_MODE("BKIMG_TOP",0);
	LODOP.ADD_PRINT_TEXT(87,98,50,22,"{$result['orderInfo']['order_info_star']}");
	LODOP.ADD_PRINT_TEXT(86,196,50,22,"{$result['orderInfo']['order_info_end']}");
	LODOP.ADD_PRINT_TEXT(115,153,80,22,"{$result['orderInfo']['order_info_sclxr'][0]}");
	LODOP.ADD_PRINT_TEXT(150,167,80,22,"{$result['orderInfo']['order_info_tclxr'][0]}");
	LODOP.ADD_PRINT_TEXT(85,323,36,20,"{$result['yundan']['yd_j_time'][0]}");
	LODOP.ADD_PRINT_TEXT(83,386,22,20,"{$result['yundan']['yd_j_time'][1]}");
	LODOP.ADD_PRINT_TEXT(83,422,21,20,"{$result['yundan']['yd_j_time'][2]}");
	LODOP.ADD_PRINT_TEXT(877,647,34,20,"");
	LODOP.ADD_PRINT_TEXT(877,709,24,20,"");
	LODOP.ADD_PRINT_TEXT(875,686,24,20,"");
	LODOP.ADD_PRINT_TEXT(940,645,34,20,"");
	LODOP.ADD_PRINT_TEXT(942,714,24,20,"");
	LODOP.ADD_PRINT_TEXT(942,688,24,20,"");
	LODOP.ADD_PRINT_TEXT(1026,646,34,20,"");
	LODOP.ADD_PRINT_TEXT(1025,719,24,20,"");
	LODOP.ADD_PRINT_TEXT(1027,687,24,20,"");
	LODOP.ADD_PRINT_TEXT(113,312,135,22,"{$result['orderInfo']['order_info_sclxr'][2]}");
	LODOP.ADD_PRINT_TEXT(116,499,208,22,"{$result['orderInfo']['order_info_sclxr'][1]}");
	LODOP.ADD_PRINT_TEXT(147,312,135,22,"{$result['orderInfo']['order_info_tclxr'][2]}");
	LODOP.ADD_PRINT_TEXT(150,497,208,22,"{$result['orderInfo']['order_info_tclxr'][1]}");
	LODOP.ADD_PRINT_TEXT(186,363,416,22,"{$result['orderInfo']['order_info_end']}");
	LODOP.ADD_PRINT_TEXT(286,52,120,22,"{$result['orderInfo']['order_info_brand']}");
	LODOP.ADD_PRINT_TEXT(317,50,120,22,"");
	LODOP.ADD_PRINT_TEXT(288,214,122,22,"{$result['orderInfo']['order_info_carmark']}");
	LODOP.ADD_PRINT_TEXT(318,211,122,22,"");
	LODOP.ADD_PRINT_TEXT(285,366,62,22,"{$result['orderInfo']['order_info_price']}");
	LODOP.ADD_PRINT_TEXT(318,365,64,22,"");
	LODOP.ADD_PRINT_TEXT(286,444,60,22,"{$result['orderInfo']['order_info_bxd']}");
	LODOP.ADD_PRINT_TEXT(317,441,64,22,"");
	LODOP.ADD_PRINT_TEXT(286,513,67,22,"{$result['orderInfo']['order_info_c_car']}");
	LODOP.ADD_PRINT_TEXT(319,511,68,22,"");
	LODOP.ADD_PRINT_TEXT(349,177,30,17,"{$result['carInfo']['verify_car_keys']}");
	LODOP.ADD_PRINT_TEXT(370,176,30,17,"{$result['carInfo']['verify_km']}");
	LODOP.ADD_PRINT_TEXT(349,313,30,17,"{$result['carInfo']['verify_spare_tire']}");
	LODOP.ADD_PRINT_TEXT(368,314,30,17,"{$result['carInfo']['verify_instructions']}");
	LODOP.ADD_PRINT_TEXT(352,443,30,17,"{$result['carInfo']['verify_tool_kit']}");
	LODOP.ADD_PRINT_TEXT(372,443,30,17,"{$result['carInfo']['verify_warning_sign']}");
	LODOP.ADD_PRINT_TEXT(348,574,30,17,"{$result['carInfo']['verify_lifting_jack']}");
	LODOP.ADD_PRINT_TEXT(369,575,30,17,"{$result['carInfo']['verify_lighter']}");
	LODOP.ADD_PRINT_TEXT(350,712,30,17,"{$result['carInfo']['verify_door_mat']}");
	LODOP.ADD_PRINT_TEXT(370,708,30,17,"{$result['carInfo']['verify_fire_extinguisher']}");
	LODOP.ADD_PRINT_TEXT(403,223,383,22,"{$result['carImg'][0]['verify_img_describe']}");
	LODOP.ADD_PRINT_TEXT(404,622,160,22,"{$result['carImg'][0]['verify_img_id']}");
	LODOP.ADD_PRINT_TEXT(437,222,383,22,"{$result['carImg'][1]['verify_img_describe']}");
	LODOP.ADD_PRINT_TEXT(437,622,161,22,"{$result['carImg'][1]['verify_img_id']}");
	LODOP.ADD_PRINT_TEXT(469,622,162,22,"{$result['carImg'][2]['verify_img_id']}");
	LODOP.ADD_PRINT_TEXT(468,221,382,22,"{$result['carImg'][2]['verify_img_describe']}");
	LODOP.ADD_PRINT_TEXT(501,222,383,22,"{$result['carImg'][3]['verify_img_describe']}");
	LODOP.ADD_PRINT_TEXT(502,622,160,22,"{$result['carImg'][3]['verify_img_id']}");
	LODOP.ADD_PRINT_TEXT(533,222,383,22,"{$result['carImg'][4]['verify_img_describe']}");
	LODOP.ADD_PRINT_TEXT(533,622,160,22,"{$result['carImg'][4]['verify_img_id']}");
	LODOP.ADD_PRINT_TEXT(562,222,383,22,"{$result['carImg'][5]['verify_img_describe']}");
	LODOP.ADD_PRINT_TEXT(562,622,160,22,"{$result['carImg'][5]['verify_img_id']}");
	LODOP.ADD_PRINT_TEXT(593,222,383,22,"{$result['carImg'][6]['verify_img_describe']}");
	LODOP.ADD_PRINT_TEXT(593,622,160,22,"{$result['carImg'][6]['verify_img_id']}");
	LODOP.ADD_PRINT_TEXT(624,222,383,22,"");
	LODOP.ADD_PRINT_TEXT(625,622,160,22,"");
	LODOP.ADD_PRINT_TEXT(654,222,383,22,"");
	LODOP.ADD_PRINT_TEXT(654,622,160,22,"");
	LODOP.ADD_PRINT_TEXT(776,191,30,17,"{$result['orderInfo']['number'][5]}");
	LODOP.ADD_PRINT_TEXT(776,253,30,17,"{$result['orderInfo']['number'][4]}");
	LODOP.ADD_PRINT_TEXT(778,300,30,17,"{$result['orderInfo']['number'][3]}");
	LODOP.ADD_PRINT_TEXT(779,346,30,17,"{$result['orderInfo']['number'][2]}");
	LODOP.ADD_PRINT_TEXT(778,396,30,17,"{$result['orderInfo']['number'][1]}");
	LODOP.ADD_PRINT_TEXT(780,442,30,17,"{$result['orderInfo']['number'][0]}");
	LODOP.ADD_PRINT_TEXT(1024,182,60,20,"");
	LODOP.ADD_PRINT_TEXT(1025,289,80,20,"");
	LODOP.ADD_PRINT_TEXT(1024,418,163,20,"");

};


</script> 
</body>
</html>