<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<!--banner-->
<include file='public:up'/>
<!--banner-->
<div class="pc dhdiv">
	<ul>
		<li class="dhfili">妥妥服务<img src="/Public/Front/images/fcphoto.png"></li>
		<foreach name="ttfw" item="vo">
			<li <eq name="ret.title" value="$vo.title">class="dhactive"</eq> ><a href="__MODULE__/ProfessionalServices/sos/code/{$vo.article_code}">
			{$vo.title}
		</a></li>
		</foreach>
	</ul>
</div>
<div class="dengm2">
 <div class="deng0 container">
   <div class="deng2e0">
   	  <if condition="$order.flag eq 'Y'"><div class="ee1"><h2>订单费用：{$order.totalz}元</h2></div></if>
      <div class="ee1"><h2>{$name1} <img src="__FRONT__/images/ee1.png">{$name2}</h2></div>
	   <form action="__MODULE__/Order/normalOrderFu" method="post" id="quickz">
	   <input type="hidden" id="flag" name="flag" value="{$order.flag}">
	   <div class="rr3">
	     <div class="rr31">车辆信息</div>
	     <div class="rr320">
		   <div class="rr41a">
		   <dl><dt>车牌号  &nbsp;</dt><dd><input type="text" id="carmark" class="rry1" name="carmark" value=""></dd></dl>
		   </div>
		 </div>
	   </div>

	   	<div class="rr4" id="xaxX">
			<div class="rr41 frake1">
				<h2 class="rra23">出发地</h2>
				  <h2 class="rra2">发车人  <span  class="hhhh"  onclick='openF("S");'>常用联系人</span></h2>
				  <div class="rr41a">
				  <dl><dt>联系人  &nbsp;</dt><dd><input type="text" class="rry1" placeholder="" value="" id="fname" name="fname"></dd></dl>
			    <dl style="display:none;"><dt>*</dt><dd><input type="text" class="rry1" placeholder="联系人电话" value="-" id="fphone" name="fphone"></dd></dl>
				  <dl style="display:none;"><dt>*</dt><dd><input type="text" class="rry1" placeholder="联系人身份证号码" value="-" id="fiden" name="fiden"></dd></dl>
				  <dl><dt>提车地址  &nbsp;</dt><dd>
				  <div class="cscs1">
				  {$names[1]}{$names[2]}
				  <input type="text" class="rry1" placeholder="请输入详细地址" id="faddress" name="faddress">
				  </div>
				  </dd></dl>
				  </div>
		  </div>
		  <div class="rr41 frake1">
		   <h2 class="rra23">目的地</h2>
				<h2 class="rra2">收车人 <span>同发车人</span>  <span   class="hhhh"  onclick='openF("R");'>常用联系人</span></h2>
			  <div class="rr41a">
			  <dl><dt>联系人  &nbsp;</dt><dd><input type="text" class="rry1" placeholder="" id="sname" name="sname"></dd></dl>
			  <dl style="display:none;"><dt>*</dt><dd><input type="text" class="rry1" placeholder="联系人电话" id="sphone" value="-" name="sphone"></dd></dl>
			  <dl><dt>身份证号  &nbsp;</dt><dd><input type="text" class="rry1" placeholder="" id="siden" name="siden"></dd></dl>
			  <dl style="display:none;"><dt>详细地址 &nbsp;</dt><dd><input type="text" class="rry1" value="-" placeholder="" name="saddress" id="saddress"></dd></dl>
			  </div>
		  </div>
		</div>
	   </form>

		</div>
		<div style="clear:both;"></div>
 <div class="ee81"><button type="button" onclick="submitF();">确定发车</button></div>
   </div>
 </div>
</div>



<!--content-->

<div  id="bg" class="bg" style="display:none;"></div>
<div  id="tan1" class="tan1"  style="display:none;">
   <div class="tan11">
    <a class="closed" id="closed">X</a>
    <h2>常用联系人</h2>
   <div class="clist" style="overflow:auto;height:300px;">
   <volist name="linkList" id="v">
      <div class="clist1">
	    <b></b><input type="radio" name="bb[]" value="{$v.link_code}" class="del" ><span class="bm1" name="{$v.link_name}">姓名：{$v.link_name}</span><span class="bm2" name="{$v.link_tel}">手机号：{$v.link_tel}</span><span class="bm3" name="{$v.link_num}">身份证号：{$v.link_num}</span>
	  </div>
	</volist>
   </div>
     <p>
	 <button class="put2" type="button" id="sel" name="S" onclick="selectF(this)">选择</button>
	 <!-- <button class="put3" type="button" id="del" onclick="delLink()">删除</button> -->
	 </p>
   </div>

</div>

<script>
	$(".ee71 span,.rra2 span").click(function(){
	  if($(this).hasClass('on')){
	  	$(this).removeClass('on');
	  	$("#sname").val('');
		$("#sphone").val('');
		$("#siden").val('');
	  }else{
	  	$(this).addClass("on");
	  	$("#sname").val($("#fname").val());
		$("#sphone").val($("#fphone").val());
		$("#siden").val($("#fiden").val());
	  }
	});
	function submitF(){
		var pai = $("#carmark").val();
		var fname = $("#fname").val();
		var fphone = $("#fphone").val();
		var fiden = $("#fiden").val();
		var sname = $("#sname").val();
		var sphone = $("#sphone").val();
		var siden = $("#siden").val();
		var faddress = $("#faddress").val();
		//var saddress = $("#saddress").val();
		//var sign = '{$order.order_info_smsc}';
		if(pai==''){
			layer.msg('请输入车牌号');
			return false;
		}
		if(fname==''){
			layer.msg('请输入发车人姓名');
			return false;
		}
		if(faddress==''){
			layer.msg('请输入发车详细地址');
			return false;
		}
		/* if(saddress==''){
			layer.msg('请输入收车详细地址');
			return false;
		} */

		if(sname==''){
			layer.msg('请输入收车人姓名');
			return false;
		}
		/* if(!$.check_Mobile(fphone)){
			layer.msg('请输入正确的手机号');
			return false;
		}
		if(!$.check_Mobile(sphone)){
			layer.msg('请输入正确的手机号');
			return false;
		} */
		if(!$.isIdCardNo(siden)){
			layer.msg("身份证格式不对");
			return false;
		}
		/* if(!$.isIdCardNo(fiden)){
			layer.msg("身份证格式不对");
			return false;
		} */
		$("#quickz").submit();
	}
	$("#fname").blur(function(){
		if($(this).val()==''){
			layer.msg('请输入发车人姓名');
		}
	});
	$("#sname").blur(function(){
		if($(this).val()==''){
			layer.msg('请输入收车人姓名');
		}
	});
	/* $("#fphone").blur(function(){
		if(!$.check_Mobile($(this).val())){
			layer.msg('请输入正确的手机号');
		}
	});
	$("#sphone").blur(function(){
		if(!$.check_Mobile($(this).val())){
			layer.msg('请输入正确的手机号');
		}
	});
	$("#fiden").blur(function(){
		if(!$.isIdCardNo($(this).val())){
			layer.msg('身份证格式不对');
		}
	}); */
	$("#siden").blur(function(){
		if(!$.isIdCardNo($(this).val())){
			layer.msg('身份证格式不对');
		}
	});
	$("#faddress").blur(function(){
		if($(this).val()==''){
			layer.msg('请输入发车详细地址');
		}
	});

	function openF(sign){
		$("#bg").show();
		$("#tan1").show();
		$("#sel").attr('name',sign);
	}
	function selectF(obj){
		var sign = $(obj).attr('name');
		var name = $(".clist1.on").find('.bm1').attr('name');
		var phone = $(".clist1.on").find('.bm2').attr('name');
		var iden = $(".clist1.on").find('.bm3').attr('name');
		if(sign=='S'){
			$("#fname").val(name);
			$("#fphone").val(phone);
			$("#fiden").val(iden);
		}else{
			$("#sname").val(name);
			$("#sphone").val(phone);
			$("#siden").val(iden);
		}
		$("#bg").hide();
		$("#tan1").hide();
	}
	$(".clist1").click(function(){
		$(this).addClass("on").siblings().removeClass('on');
	});
	$("#closed").click(function(){
		$("#bg").hide();
		$("#tan1").hide();
	})
</script>

<!--content-->
<include file='public:foot'/>