<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<!--banner-->
<include file='public:up'/>
<script src="__JS__/indexTuo.js?t=0.1"></script>
<!--banner-->
<div class="pc dhdiv">
	<ul>
		<li class="dhfili">妥妥服务<img src="/Public/Front/images/fcphoto.png"></li>
		<foreach name="ttfw" item="vo">
			<li <eq name="ret.title" value="$vo.title">class="dhactive"</eq> ><a href="__MODULE__/ProfessionalServices/sos/code/{$vo.article_code}">
			{$vo.title}
		</a></li>
		</foreach>
	</ul>
</div>
<div class="dengm2">
 <div class="deng0 container">
   <div class="deng2e0">
   	  <if condition="$order.flag eq 'Y'"><div class="ee1"><h2>订单费用：{$order.totalz}元</h2></div></if>
      <div class="ee1"><h2>{$name1} <img src="__FRONT__/images/ee1.png">{$name2}</h2></div>
	   <input type="hidden" id="end_names" value="{$name2}">
	   <form action="__MODULE__/Order/normalOrderFu" method="post" id="quickz">
	   <input type="hidden" id="flag" name="flag" value="{$order.flag}">
	   <div class="rr3">
	     <div class="rr31">车辆信息</div>
	     <div class="rr320">
		   <div class="rr41a">
		   <dl><dt>车牌号  &nbsp;</dt><dd><input type="text" id="carmark" class="rry1" name="carmark" value=""></dd></dl>
		   </div>
		 </div>
	   </div>

	   	<div class="rr4" id="xaxX">
			<div class="rr41 frake1">
				<h2 class="rra23">出发地</h2>
				  <h2 class="rra2">发车人  <span  class="hhhh"  onclick='openF("S");'>常用联系人</span></h2>
				  <div class="rr41a">
				  <dl><dt>联系人  &nbsp;</dt><dd><input type="text" class="rry1" placeholder="" value="" id="fname" name="fname"></dd></dl>
			    <dl style="display:none;"><dt>*</dt><dd><input type="text" class="rry1" placeholder="联系人电话" value="-" id="fphone" name="fphone"></dd></dl>
				  <dl style="display:none;"><dt>*</dt><dd><input type="text" class="rry1" placeholder="联系人身份证号码" value="-" id="fiden" name="fiden"></dd></dl>
				  <dl><dt>提车地址  &nbsp;</dt><dd>
				  <div class="cscs1">
				  {$names[1]}{$names[2]}
				  <input type="text" class="rry1" placeholder="请输入详细地址" id="faddress" name="faddress">
				  </div>
				  </dd></dl>
				  </div>
		  </div>
		  <div class="rr41 frake1">
		   <h2 class="rra23">目的地</h2>
				<h2 class="rra2">收车人 <span>同发车人</span>  <span   class="hhhh"  onclick='openF("R");'>常用联系人</span></h2>
			  <div class="rr41a">
			  <dl><dt>联系人  &nbsp;</dt><dd><input type="text" class="rry1" placeholder="" id="sname" name="sname"></dd></dl>
			  <dl style="display:none;"><dt>*</dt><dd><input type="text" class="rry1" placeholder="联系人电话" id="sphone" value="-" name="sphone"></dd></dl>
			  <dl><dt>身份证号  &nbsp;</dt><dd><input type="text" class="rry1" placeholder="" id="siden" name="siden"></dd></dl>
			  <dl style="display:none;"><dt>详细地址 &nbsp;</dt><dd><input type="text" class="rry1" value="-" placeholder="" name="saddress" id="saddress"></dd></dl>
			  </div>
		  </div>
			<div class="rr41 frake1">
				<h2 class="rra23">附加服务</h2>
				<h2 class="rra2 ee32"><div class="ee32a"><ul style="margin-left: 73px;"><li onclick="smsFun(this);">送车上门</li><li style="display: none;" id="sefwrg" onclick="xiFun(this);"><span class="hhfg1">洗车50元</span> <span  class="hhfg2">*选择送车上门后才能选此项</span></li></ul></div></h2>
				<div class="rr41a">
					<div class="rr41a frake1" id="awgfw" style="display: none;">

							<dl class="frake2">
								<dt>地址：</dt>
								<dd><input type="text" placeholder="区域" id="citys" class="txt1a inko"><br><b style="font-size: 18px">费用：<ca id="wegwe">0</ca>元</b>
									<span class="xxsj"></span>
									<div class="selected" style="display: none;">
										<div class="province star_province">
											<foreach name="block" item="vo">
												<li data-id="1" onclick="getBlock('{$vo.area_id}','{$vo.area_name}');">{$vo.area_name}</li>
											</foreach>
										</div>
										<div class="city star_city" data-id=""></div>
										<div class="county star_county" data-id=""></div>
									</div> </dd>
							</dl>
							<dl style="margin-top: 44px;">
								<dt>详细地址：</dt>
								<dd>
									<!-- <input type="text" id="order_info_end_address" name="order_info_end_address" class="txt1" value="{$saddress}"> -->
									<div class="cscs1">
										<span id="sgrgw"></span><input type="text" class="rry1" placeholder="请输入详细地址" id="order_info_end_address" value="{$saddress}" name="order_info_end_address">
									</div>
								</dd>
							</dl>
						</div>

				</div>
				<input type="hidden" id="order_info_smsc" name="order_info_smsc" value="N">
				<input type="hidden" id="car_washing" name="car_washing" value="0">
				<input type="hidden" id="city_qus" name="city_qus" value="">
				<input type="hidden" id="order_smsc_car" name="order_smsc_car" value="">
				<input type="hidden" id="totalz" name="totalz" value="{$order.totalz}">
				<input type="hidden" id="qerez" value="{$order.qerez}">
				<div class="ee6 ee67" style="margin-left: 50px;">
					<div class="ee61">
						<dl>
							<dd>
								<p>运费<b id="yuns">{$yun}</b>元 &nbsp; 保险费<b id="bao">{$order.order_info_bxd}</b>元 &nbsp; 上门费<b id="smsprice">0</b>元<b style="display: none" id="xiprice">0</b></p>
								<!--<p><span >输入优惠码：</span><input type="text" onblur="favFun(this);" id="fav_code" name="fav_code" placeholder="优惠码编号" value=""><span class="ccaca">优惠金额:<b id="youhui">0</b>元</span></p>-->
								<input type="hidden" onblur="favFun(this);" id="fav_code" name="fav_code" placeholder="优惠码编号" value="">
							</dd>
						</dl>
					</div>
					<div class="ee62" style="width: 396px;margin: auto;">
						<p><span class="fg1">本次服务需支付总金额：</span><span class="fg2">￥<b id="heji">{$order.totalz}</b>元</span></p>
					</div>
				</div>
			</div>
		</div>
	   </form>

		</div>
		<div style="clear:both;"></div>
 <div class="ee81"><button type="button" onclick="submitF();">确定发车</button></div>
   </div>
 </div>
</div>



<!--content-->

<div  id="bg" class="bg" style="display:none;"></div>
<div  id="tan1" class="tan1"  style="display:none;">
   <div class="tan11">
    <a class="closed" id="closed">X</a>
    <h2>常用联系人</h2>
   <div class="clist" style="overflow:auto;height:300px;">
   <volist name="linkList" id="v">
      <div class="clist1">
	    <b></b><input type="radio" name="bb[]" value="{$v.link_code}" class="del" ><span class="bm1" name="{$v.link_name}">姓名：{$v.link_name}</span><span class="bm2" name="{$v.link_tel}">手机号：{$v.link_tel}</span><span class="bm3" name="{$v.link_num}">身份证号：{$v.link_num}</span>
	  </div>
	</volist>
   </div>
     <p>
	 <button class="put2" type="button" id="sel" name="S" onclick="selectF(this)">选择</button>
	 <!-- <button class="put3" type="button" id="del" onclick="delLink()">删除</button> -->
	 </p>
   </div>

</div>

<script>
	$(".ee71 span,.rra2 span").click(function(){
	  if($(this).hasClass('on')){
	  	$(this).removeClass('on');
	  	$("#sname").val('');
		$("#sphone").val('');
		$("#siden").val('');
	  }else{
	  	$(this).addClass("on");
	  	$("#sname").val($("#fname").val());
		$("#sphone").val($("#fphone").val());
          iden = $("#fiden").val();
          iden = iden == '-'?'':iden;
		$("#siden").val(iden);
	  }
	});
	function submitF(){
		var pai = $("#carmark").val();
		var fname = $("#fname").val();
		var fphone = $("#fphone").val();
		var fiden = $("#fiden").val();
		var sname = $("#sname").val();
		var sphone = $("#sphone").val();
		var siden = $("#siden").val();
		var faddress = $("#faddress").val();
		//var saddress = $("#saddress").val();
		//var sign = '{$order.order_info_smsc}';
		if(pai==''){
			layer.msg('请输入车牌号');
			return false;
		}
		if(fname==''){
			layer.msg('请输入发车人姓名');
			return false;
		}
		if(faddress==''){
			layer.msg('请输入发车详细地址');
			return false;
		}
		/* if(saddress==''){
			layer.msg('请输入收车详细地址');
			return false;
		} */

		if(sname==''){
			layer.msg('请输入收车人姓名');
			return false;
		}
		/* if(!$.check_Mobile(fphone)){
			layer.msg('请输入正确的手机号');
			return false;
		}
		if(!$.check_Mobile(sphone)){
			layer.msg('请输入正确的手机号');
			return false;
		} */
		if(!$.isIdCardNo(siden)){
			layer.msg("身份证格式不对");
			return false;
		}
		/* if(!$.isIdCardNo(fiden)){
			layer.msg("身份证格式不对");
			return false;
		} */
		$("#quickz").submit();
	}
	$("#fname").blur(function(){
		if($(this).val()==''){
			layer.msg('请输入发车人姓名');
		}
	});
	$("#sname").blur(function(){
		if($(this).val()==''){
			layer.msg('请输入收车人姓名');
		}
	});
	/* $("#fphone").blur(function(){
		if(!$.check_Mobile($(this).val())){
			layer.msg('请输入正确的手机号');
		}
	});
	$("#sphone").blur(function(){
		if(!$.check_Mobile($(this).val())){
			layer.msg('请输入正确的手机号');
		}
	});
	$("#fiden").blur(function(){
		if(!$.isIdCardNo($(this).val())){
			layer.msg('身份证格式不对');
		}
	}); */
	$("#siden").blur(function(){
		if(!$.isIdCardNo($(this).val())){
			layer.msg('身份证格式不对');
		}
	});
	$("#faddress").blur(function(){
		if($(this).val()==''){
			layer.msg('请输入发车详细地址');
		}
	});

	function openF(sign){
		$("#bg").show();
		$("#tan1").show();
		$("#sel").attr('name',sign);
	}
	function selectF(obj){
		var sign = $(obj).attr('name');
		var name = $(".clist1.on").find('.bm1').attr('name');
		var phone = $(".clist1.on").find('.bm2').attr('name');
		var iden = $(".clist1.on").find('.bm3').attr('name');
        iden = iden == '-'?'':iden;
		if(sign=='S'){
			$("#fname").val(name);
			$("#fphone").val(phone);
			$("#fiden").val(iden);
		}else{
			$("#sname").val(name);
			$("#sphone").val(phone);
			$("#siden").val(iden);
		}
		$("#bg").hide();
		$("#tan1").hide();
	}
	$(".clist1").click(function(){
		$(this).addClass("on").siblings().removeClass('on');
	});
	$("#closed").click(function(){
		$("#bg").hide();
		$("#tan1").hide();
	})
    function queFun(){
        var order_info_smsc = $("#order_info_smsc").val();
        var city_qus = $("#city_qus").val();
        var order_info_end_address = $("#order_info_end_address").val();
        if(order_info_smsc == "Y"){
            if(city_qus == ''){
                layer.msg("请选择送车区域");
                return false;
            }
            if(order_info_end_address == ''){
                layer.msg("请输入详细地址");
                return false;
            }
        }
        $("#quickz").submit();
    }
    function favFun(obj){
        var code = $(obj).val();
        if(code!=""){
            $.post("__MODULE__/Order/getFavPrice",{code:code},function(data){
                if(data.flag){
                    $("#youhui").html(data.price);
                    totelFun();
                }else{
                    $("#youhui").html(0);
                    totelFun();
                }
            },'json');
        }else{
            $("#youhui").html(0);
            totelFun();
        }

    }
    function smsFun(obj){
        if($(obj).attr("class")=="on"){
            $(obj).removeClass("on");
            $("#order_info_smsc").val('N');
            $("#awgfw").hide();
            $("#sefwrg").removeClass("on");
            $("#car_washing").val(0);
            $("#xiprice").html(0);
        }else{
            $(obj).addClass("on");
            $("#order_info_smsc").val('Y');
            $("#awgfw").show();
        }
        block();
    }
    function xiFun(obj){
        if($("#order_info_smsc").val() == 'Y'){
            if($(obj).attr("class")=="on"){
                $(obj).removeClass("on");
                $("#car_washing").val(0);
                $("#xiprice").html(0);
            }else{
                $(obj).addClass("on");
                $("#car_washing").val(50);
                $("#xiprice").html(50);
            }
            totelFun();
        }else{
            layer.msg("请选择上门送车");
            return false;
        }

    }
    function block(){
        var id = $("#city_qus").val();
        var city_jie_sheng = $("#qerez").val();
        var mark = $('#order_info_smsc').val();
        $.post("__MODULE__/Order/smscFun",{id:id,type:mark,str:city_jie_sheng},function(data){
            if(data.flag){
                $("#smsprice").html(data.prices);
                $("#order_smsc_car").val(data.prices);
                $('#wegwe').html(data.prices);
                totelFun();
            }else{
                $("#smsprice").html(0);
                $("#order_smsc_car").val(0);
                $('#wegwe').html(0);
                totelFun();
            }
        },'json');
    }
    function getBlock(id,name){
        var ss = $("#end_names").val();
        $("#city_qus").val(id);
        $("#sgrgw").html(ss+name);
        $('#citys').val(name);
        $('.selected0,.selected').hide();
        block();
    }
</script>

<!--content-->
<include file='public:foot'/>