<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<!--banner-->
<include file='public:up'/>

<!--content-->
<div class="dengm2">
 <div class="deng0 container">
   <div class="deng2e0">
		<div class="rr4">
			<div class="rr41 frake1 frake3 fhhm1">
				<h2 class="rra2">车辆信息</h2>
				<div class="deng2b1">
					<dl><dt>车型：</dt><dd><p>{$order.qsctez} {$order.qsctcz}</p></dd></dl>
					<dl><dt>车牌号：</dt><dd><p>{$order.order_info_carmark}</p></dd></dl>
				</div>
			</div>
			<div class="fhhm2">
			<div class="rr41 frake1 frake3">
				<h2 class="rra2">出发地</h2>
				<div class="deng2b1">
					<dl><dt>联系人：</dt><dd><p>{$tclxr[0]}</p></dd></dl>
		<!-- 			<dl><dt>电话：</dt><dd><p>{$tclxr[1]}</p></dd></dl>
					<dl><dt>身份证：</dt><dd><p>{$tclxr[2]}</p></dd></dl> -->
					<dl><dt>提车地址：</dt><dd><p>{$order.qsrezname} {$order.order_info_star_address}</p></dd></dl>
				</div>
			</div>
			<div class="rr41 frake1 frake3">
				<h2 class="rra2">目的地</h2>
				<div class="deng2b1">
					<dl><dt>联系人：</dt><dd><p>{$sclxr[0]}</p></dd></dl>
				<!-- 	<dl><dt>电话：</dt><dd><p>{$sclxr[1]}</p></dd></dl> -->
					<dl><dt>身份证：</dt><dd><p>{$sclxr[2]}</p></dd></dl>
				<!-- 	<dl><dt>送车地址：</dt><dd><p>{$order.qerezname}{$citys} {$order.order_info_end_address}</p></dd></dl> -->
				</div>
			</div>
			</div>
			<div class="rr41 frake1 frake3  fhhm3">
				<h2 class="rra2">附加服务</h2>
				<div class="deng2b1">
					<dl>{$str|default="无"}</dl>
				</div>
			</div>
			<div class="rr41 frake1 frake3  fhhm4">
				<h2 class="rra2">合计费用：{$strs}</h2>
			</div>
		</div>

		</div>  
		<div style="clear:both;"></div>
 <div class="ee81"><button type="button" onclick="queFun();">确定发车</button></div>
   </div>
 </div>
</div>
<script>
	function queFun(){
		$.post("__MODULE__/Order/orderInsert",{},function(data){
			if(data.flag){
				window.location.href="__MODULE__/Order/suOrder/code/"+data.code;
			}else{
				layer.msg("下单失败");
				return false;
			}
		},'json');
	}
</script>

<include file='public:foot'/>