<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<!--banner-->
<include file='public:up'/>

<!--content-->
<div class="dengm2">
 <div class="deng0 container">
   <div class="deng2e0">
		<div class="rr4">
			<div class="rr41 frake1 frake3 fee3">
			<h2 class="rra2">订单信息</h2>
				<div class="deng2b1">
				<div class="frake4 fee1">
					<p>车型：{$info.order_info_brand} {$info.order_info_type}</p></div>
					<div class="olist1  fee2">{$info.str}<img class="eq1" src="__FRONT__/images/ee1.png">{$info.end}</div>
				</div>
			</div>

		</div>  
			<div class="rr4">
			<div class="rr41 frake1 frake3 fee3">
			<h2 class="rra2">支付</h2>
				<div class="deng2b1">
				 <ul class="zff0">
				  <li class="zff1 on" data="Z">支付宝</li>
				  <li class="zff2" data="H">货到付款</li>
				  <li class="zff3" data="W">微信支付</li>
				 
				 </ul>
				</div>
			</div>

		</div> 
		
		
		<div style="clear:both;"></div>
		<div class="ee81 fee4"><button type="button" onclick="queFun();">确认支付</button></div>
   </div>
   <form action="__MODULE__/Order/paynow" method="post" id="formSubmit">
   		<input type="hidden" name="code" value="{$info.order_code}">
   		<input type="hidden" id="payway" name="payway" value="Z">
   		<input type="hidden" name="fee" value="{$info['order_info_zj']/100}">
   </form>
 </div>
</div>
<script>
	function queFun(){
		$("#formSubmit").submit();
	}
	$(".zff0 li").click(function(){
	$("#payway").val($(this).attr("data"));
	$(this).addClass('on').siblings().removeClass('on');
	
	});
	
	
	
</script>

<include file='public:foot'/>