<include file='public:head'/>
<script src="__JS__/jquery.Huploadify.js"></script>
	<body>
		<include file='public:header'/>
     <div id="main-pyf">
		<include file='public:left'/>
		<div id="content">
	<!-- 		<div class="ico-pt span12">
				<h4>店铺管理</h4>
			</div> -->
			<div class="row">
			<form action="__MODULE__/Worklwt/adv_insert" method="post" id='formMaster'>
				<div class="tsan113">
					<div class="widget">
						<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">
					 	   <li class="active">
								<a href="__MODULE__/Worklwt/advList">广告列表</a>
							</li>
							<li class="">
								<a href="__MODULE__/Worklwt/link">友情链接列表</a>
							</li>
						</ul>
						<div class="tab-content1">
						
						<div class="dw6">
						   <div class="dw61">
						   <dl>
						   <div class="dropdown">
								<button type="button" value="" class="btn1 dropdown-toggle" id="dropdownMenu1" style="" data-toggle="dropdown">
									<span id="awdawd" class="sss1"><if condition="$des eq ''">请选择广告位置<else />{$des}</if></span>
									 <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<foreach name="sk" item="vo" key='k'>
										<li role="presentation">
											<a role="menuitem" tabindex="-1" onclick="clickFuns(this,'{$k}');" data="{$k}" href="javascript:;">{$vo}</a>
									 	</li>
									</foreach>
								   </ul>
								</div>
						   </dl>
						
							<dl><input type="text" name="title" id="title" class="i_n text2" placeholder="请输入广告标题" value="{$data.adv_img_title}"></dl>
							<dl><input type="text" name="adv_img_info" id="adv_img_info" class="i_n text2" placeholder="请输入描述" value="{$data.adv_img_info}"></dl>			
							<dl><input type="text" name="adv_img_url" class="i_n text2" placeholder="请输入指向链接http://" value="{$data.adv_img_url}" ></dl>
							<input type="hidden" name="adv_img" id="adv_img" value="{$data.adv_img}" >
							<input type="hidden" name="adv_code" id="adv_code" value="{$data.adv_code}" >
							<input type="hidden" name='token' value='{$token}'>
		 					<input type="hidden" id='adv_img_id' name='adv_img_id' value='{$data.adv_img_id}'>
							<div class="dw62">
							   <div class="dw62a">
							    <h2>上传广告图片</h2>
							     <div class="dw62c">
							     <if condition="$data.adv_img eq ''">
							    	 <img id="oneclick" src="__BACK__/images/de1.png">
							     <else />
							    	 <img id="oneclick" src="{$data.adv_img}">
							     </if>
								 
								 </div>
							   </div>
							   <div class="dw62b">
							   </div>
							</div>
						   </div>
						</div>
						
						<hr>
						<div class="sad1">
						<button class="btn btn-default7" type="button" onclick="bttonFun();">确定</button>
						<!-- <button class="btn btn-default8" type="button">取消</button> -->
						</div>
						</div>
						</div> <!-- /widget -->
					</div> <!-- /span11 -->
				</div> <!-- /row -->
				</form>
			</div>
		</div>
		<div id="upload" style="display:none;"></div>
		<script>
  		function clickFuns(obj,code){
  			$("#upload").html('');
  			var name = $(obj).html();
  			$("#awdawd").html(name);
  			var up = $('#upload').Huploadify({
				auto:true,
				fileTypeExts:'*.jpg;*.gif;*.png;*.jpeg',
				multi:false,
				fileSizeLimit:1024,
				showUploadedPercent:false,
				showUploadedSize:false,
				removeTimeout:1000,
				abs:1,
				canshu:code,
				uploader:'{:U("Base/upload")}',
				onUploadStart:function(file){
					console.log(file.name+'开始上传');
				},
				onInit:function(obj){
					console.log('初始化');
					console.log(obj);
				},
				onUploadComplete:function(file,data){
					var datas = $.parseJSON(data);
					if(datas.flag){
						$("#adv_img").val(datas.fileurl);
						$("#oneclick").attr('src',datas.fileurl);
					}else{
						$.anewAlert(datas.msg);
					}
				},
			});
  			$("#adv_code").val(code);
  		}
  		function bttonFun(){
	  		var us = $("#title").val();
	  		var ps = $("#adv_img").val();
	  		var adv_code = $("#adv_code").val();
	  		if(us==''){
	  			$.anewAlert('名称不能为空');
	  			return false;
	  		}
	  		if(ps==''){
	  			$.anewAlert('请选择一张图片上传');
	  			return false;
	  		}
	  		if(adv_code==''){
	  			$.anewAlert('请选择广告位置');
	  			return false;
	  		}
	  		$('#formMaster').submit();
	  	}
  		var codes_img = $("#adv_code").val();
  		var up = $('#upload').Huploadify({
			auto:true,
			fileTypeExts:'*.jpg;*.gif;*.png;*.jpeg',
			multi:false,
			fileSizeLimit:1024,
			showUploadedPercent:false,
			showUploadedSize:false,
			removeTimeout:1000,
			abs:1,
			canshu:codes_img,
			uploader:'{:U("Base/upload")}',
			onUploadStart:function(file){
				console.log(file.name+'开始上传');
			},
			onInit:function(obj){
				console.log('初始化');
				console.log(obj);
			},
			onUploadComplete:function(file,data){
				var datas = $.parseJSON(data);
				if(datas.flag){
					$("#adv_img").val(datas.fileurl);
					$("#oneclick").attr('src',datas.fileurl);
				}else{
					$.anewAlert(datas.msg);
				}
			},
		});
	  	$(function(){
			$("#oneclick").click(function(){
				$("#file_upload_1-button").click();
			});
			
		});
  	</script>
	</body>
</html>
