<include file='public:head'/>
<body>
<include file='public:header'/>
<div id="main-pyf">
	<include file='public:left'/>
	<div id="content">
		<!-- 		<div class="ico-pt span12">
		<h4>店铺管理</h4>
	</div>
	-->
	<div class="row">

		<div class="tsan113">

			<div class="widget">

				<div class="tabbable">
					<ul class="nav nav-tabs" id="tabnav">
						<li class="">
							<a href="__MODULE__/Worklwt/advList">广告列表</a>
						</li>
						<li class="active">
							<a href="__MODULE__/Worklwt/link">友情链接列表</a>
						</li>
					</ul>

					<div class="tab-content1">
						<div class="tab-content">
							<div class="tab-pane active">
								<form id="edit-profile" class="form-horizontal" />
								<fieldset>
									<div class="l_uit">
										<div class="control-group">

											<div style="float:left;" class="controls clec_t">
												<div class="v_pb">
													<input type="text" id="fskj" placeholder="请输入广告标题" value="{$name}" class="i_n text2 width360">
													<button class="btn btn-default5" onclick="awdfuns();" type="button">搜索</button>
												</div>
											</div>
											<!-- /controls -->
											<a href="__MODULE__/Worklwt/linkadd">
												<button class="red btn btn-default5 fr" type="button">添加友情链接</button>
											</a>

										</div>
										<script>
												$(function(){
													$('table tr.tr2 height70:odd').css('background','#F0F0F0');
												});
												function awdfuns(){
													var ss = $("#fskj").val();
													window.location.href="__MODULE__/Worklwt/link/name/"+ss;
												}
											</script>
										<div class="l_table">
											<table>
												<tr class="tr1">
													<td>网站标题</td>
													<td>链接</td>
													<td>图片</td>
													<td>操作</td>
												</tr>
												<foreach name="list" item="vo">
													<tr class="tr2 height70">
														<td>{$vo.fl_name}</td>
														<td class="td_d2">{$vo.fl_link}</td>
														<td class="td_d2"><img src="{$vo.fl_img}"></td>
														<td>
															<a href="__MODULE__/Worklwt/linkadd/id/{$vo.fl_id}" class="see1">修改</a>
															<a href="" code="{$vo.fl_id}" class="see2">删除</a>
														</td>
													</tr>
												</foreach>
											</table>
										</div>
										<div class="l_fenye">{$page}</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /widget -->
	</div>
	<!-- /span11 -->
</div>
<!-- /row -->
</div>
</div>
<script>
    //删除
    $('.see2').click(function(event) {
        var code = $(this).attr('code');
        if (confirm('确定删除此信息吗？')) {
            $.post('__MODULE__/Worklwt/linkdel', {code: code}, function(data) {
            	$.anewAlert(data);
                window.location.reload();
            },'json');
        }
    })
</script>
<include file='public:footer'/>
</body>
</html>