<include file='public:head'/>
<script type="text/javascript" charset="utf-8" src="__UE__/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__UE__/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="__UE__/lang/zh-cn/zh-cn.js"></script>
	<body>
		<include file='public:header'/>
     <div id="main-pyf">
		<include file='public:left'/>
		<div id="content">
	<!-- 		<div class="ico-pt span12">
				<h4>店铺管理</h4>
			</div> -->
			<div class="row">
			<form action="__MODULE__/Worklwt/cont_insert" method="post" id='formMaster'>
				<div class="tsan113">
					<div class="widget">
						<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">
					 	    <li>
								<a href="__MODULE__/Worklwt/contList">内容维护</a>
							</li>
							<li class="active">
								<a href="__MODULE__/Worklwt/ideaList">意见反馈</a>
							</li>
						</ul>
						<div class="tab-content1">
						
						<div class="dw6">
						   <div class="dw61">
							<dl><input type="text" disabled="disabled" class="i_n text2" value="{$info.yj_name}"></dl>
							<dl><input type="text" disabled="disabled" class="i_n text2" value="{$info.yj_tel}"></dl>
							<dl style="height:auto;"><textarea type="text" style="height:100px;" disabled="disabled" class="i_n text2">{$info.yj_content}</textarea></dl>
						   </div>
						</div>
						
						<hr>
						<div class="sad1">
						<a href="__MODULE__/Worklwt/ideaList"><button class="btn btn-default7" type="button">返回列表</button></a>
						<!-- <button class="btn btn-default8" type="button">取消</button> -->
						</div>
						</div>
						</div> <!-- /widget -->
					</div> <!-- /span11 -->
				</div> <!-- /row -->
				</form>
			</div>
		</div>
	</body>
</html>
