<include file='public:head'/>
<script src="__BACK__/laydate/laydate.js"></script>
<script src="__JS__/jquerytool_1.0v.js"></script>
<script language="javascript" src="__JS__/LodopFuncs.js"></script>
<script>
	function sum(obj){
		var hhk=$(".td3 input[type='checkbox']:checked");
		var sum=0;
		hhk.each(function(k,v){
			sum=sum+parseFloat($(v).attr('names'));
		});
		//alert(sum);
		$("#total").html(sum);
	}
	function checktime(){
		var start = $("#startDate").val();
		var end = $("#endDate").val();
		var start = Date.parse(start);
		var end = Date.parse(end);
		if(start>=end&&start!=''&&end!=''){
			$.anewAlert('搜索日期范围有误');
			return false;
		}else if((start||end)&&(!end&&start)){
			$.anewAlert('请完善起始日期和终止日期');
			return false;
		}
		//return false;
	}
</script>
<body>

	<include file='public:header'/>
	<div id="main-pyf">
		<include file='public:left'/>
		<div id="content">
			<!-- 		<div class="ico-pt span12">
			<h4>店铺管理</h4>
		</div>
		-->
		<div class="row">

			<div class="tsan113">

				<div class="widget">

					<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">
							<li>
								<a href="__MODULE__/Financeyjh/getOrderList">订单收入</a>
							</li>
						
							<li>
								<a href="__MODULE__/Financeyjh/getYunList">运单支出</a>
							</li>
						
							<li>
								<a href="__MODULE__/Financeyjh/getBaoList">保费支出</a>
							</li>
						
							<li>
								<a href="__MODULE__/Financeyjh/getFaList">发票费用</a>
							</li>
						
							<li class="active">
								<a href="">总揽</a>
							</li>
						</ul>
						<div class="tab-content1">
							<div class="tab-content">
								<div class="tab-pane active">
									<form id="edit-profile" class="form-horizontal" />
									<fieldset>
										<div class="l_uit">
											<div class="control-group">
											<form method="get" action="__MODULE__/Financeyjh/getTotalList">
												<div style="float:left;" class="controls clec_t">

												<div class="dropdown">

												<input type="text" placeholder="搜索开始时间" id="startDate" name="startDate" value="{$startDate}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="i_n text2" readonly="readonly">
												<input type="text" placeholder="搜索结束时间" id="endDate" name="endDate" value="{$endDate}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="i_n text2" readonly="readonly">
												</div>
												<div class="v_pb">
													<button class="btn btn-default5" type="submit" onclick="return checktime();">搜索</button>

												</div>
											</form>
											</div>
												<!-- /controls -->
											</div>
											<script>
												$(function(){
													$('table tr.tr2:odd').css('background','#F0F0F0');
												});

											</script>
											<div class="l_table">
												<table>
													<tr class="tr1">
														<td>总欠收</td>
														<td>运费欠付</td>
														<td>保费欠付</td>
														<td>发票欠付</td>
													</tr>
														<tr class="tr2">
															<td>{$orderAllMoney}元</td>
															<td>{$yunMoney}元</td>
															<td>{$orderBaoMoney}元</td>
															<td>{$orderFaMoney}元</td>
														</tr>
												</table>
												
											</div>
											<div class="l_fenye">
												<div class="sad">
													
												</div>
												<if condition="$num neq 0">
												{$page}
												</if>
											</div>
										</div>
									</fieldset>
										</form>
									</div>

								</div>
							</div>

						</div>

					</div>
					<!-- /widget -->

				</div>
				<!-- /span11 -->

			</div>
			<!-- /row -->

		</div>
	</div>
<script>
function selectAll(sel){  //全选  全不选
		$(".box").attr('checked',sel.checked);
			var hhk=$(".td3 input[type='checkbox']:checked");
		var sum=0;
		hhk.each(function(k,v){
			sum=sum+parseFloat($(v).attr('names'));
		});
		$("#total").html(sum);
}
function daochu(){
	var selid = '';
		  $(".box:checked").each(function(){
			   if(selid==''){
				   selid=$(this).val();
			   }else{
				   selid = selid+','+$(this).val();
			   }

		  })
		  //alert(selid);
		  if(selid == ""){
			$.anewAlert('请勾选想导出的订单！');
			return false;
		  }else{
			window.location.href="__MODULE__/Finance/daochu/code/"+selid;
		  }

}
</script>
<script language="javascript" type="text/javascript">
    var LODOP; //声明为全局变量   
    //打印预览
	function Preview1(yd_code,yd_star,yd_end,yd_name,zj,time_A,time_B,time_C) {
		CreateFullBill(yd_code,yd_star,yd_end,yd_name,zj,time_A,time_B,time_C);
	  	LODOP.PREVIEW();	
		//LODOP.PRINT_SETUP();		
	};

//财务支付凭证
function CreateFullBill(yd_code,yd_star,yd_end,yd_name,zj,time_A,time_B,time_C) {
	LODOP.PRINT_INITA(10,10,831,1177,"");
	LODOP.ADD_PRINT_SETUP_BKIMG("C:\\Users\\Administrator\\Desktop\\打印模板\\9-4.jpg");
	LODOP.SET_SHOW_MODE("BKIMG_LEFT",0);
	LODOP.SET_SHOW_MODE("BKIMG_TOP",0);
	LODOP.ADD_PRINT_TEXT(129,172,210,22,yd_name);
	LODOP.ADD_PRINT_TEXT(166,172,209,22,yd_star+"-"+yd_end);
	LODOP.ADD_PRINT_TEXT(203,173,84,22,zj+"元");
	LODOP.ADD_PRINT_TEXT(102,385,36,20,time_A);
	LODOP.ADD_PRINT_TEXT(101,445,22,20,time_B);
	LODOP.ADD_PRINT_TEXT(101,482,21,20,time_C);
	LODOP.ADD_PRINT_TEXT(70,555,74,20,yd_code);
};

</script> 
</body>
</html>