<include file='public:head'/>
<script src="__JS__/jquery.Huploadify.js"></script>
	<body>
		<include file='public:header'/>
     <div id="main-pyf">
		<include file='public:left'/>
		<div id="content">
	<!-- 		<div class="ico-pt span12">
				<h4>店铺管理</h4>
			</div> -->
			<div class="row">
			<form action="__MODULE__/Worklwt/systemUpdate" method="post" id='formMaster'>
				<div class="tsan113">
					<div class="widget">
						<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">
				 		  	<li class="active">
						    	<a href="__MODULE__/Worklwt/setSystem">系统设置</a>
						  	</li>
						</ul>
						<div class="tab-content1">
						
						<div class="dw6">
						   <div class="dw61">
							<dl><input type="text" id="title" name="title" value="{$info.title}" placeholder="首页标题" class="i_n text2"></dl>
							<dl><input type="text" id="keywords" name="keywords" value="{$info.keywords}" placeholder="首页关键字" class="i_n text2"></dl>
							<dl><input type="text" id="description" name="description" value="{$info.description}" placeholder="首页描述" class="i_n text2"></dl>
							<dl><input type="text" id="icp" name="icp" value="{$info.icp}" placeholder="备案号" class="i_n text2"></dl>
							<dl><input type="text" id="address" name="address" value="{$info.address}" placeholder="地址" class="i_n text2"></dl>
							<dl><input type="text" id="tel" name="tel" value="{$info.tel}" placeholder="联系方式" class="i_n text2"></dl>
							<dl><input type="text" id="acale" name="acale" value="{$info.acale}" placeholder="财务结算保费费率(%)" class="i_n text2"></dl>
							<dl><input type="text" id="acale_clent" name="acale_clent" value="{$info.acale_clent}" placeholder="客户下单保费费率(%)" class="i_n text2"></dl>
							<!-- <dl><input type="text" id="pay_time" name="pay_time" value="{$info.pay_time}" placeholder="后台支付时限时间  单位分钟" class="i_n text2"></dl> -->
							<dl><input type="text" id="vat_rate" name="vat_rate" value="{$info.vat_rate}" placeholder="增值税率(%)" class="i_n text2"></dl>
							<dl><input type="text" id="tar_rate" name="tar_rate" value="{$info.tar_rate}" placeholder="普票税率(%)" class="i_n text2"></dl>
							<input type="hidden" name="qrcode" id="qrcode" value="{$info.qrcode}">
							<div class="dw62">
							   <div class="dw62a">
							    <h2>二维码上传</h2>
							     <div class="dw62c">
								 <if condition="$info.qrcode eq ''">
							    	 <img id="oneclick" src="__BACK__/images/de1.png">
							     <else />
							    	 <img id="oneclick" src="{$info.qrcode}">
							     </if>
								 </div>
							   </div>
							</div>
						   </div>
						</div>
						
						<hr>
						<div class="sad1">
						<button class="btn btn-default7" type="button" onclick="bttonFun();">确定</button>
						<!-- <button class="btn btn-default8" type="button">取消</button> -->
						</div>
						</div>
						</div> <!-- /widget -->
					</div> <!-- /span11 -->
				</div> <!-- /row -->
				</form>
			</div>
		</div>
		<div id="upload" style="display:none;"></div>
		<script>
  		function bttonFun(){
	  		var title = $("#title").val();
	  		var keywords = $("#keywords").val();
	  		var description = $("#description").val();
	  		var icp = $("#icp").val();
	  		var address = $("#address").val();
	  		var tel = $("#tel").val();
	  		var qrcode = $("#qrcode").val();
	  		var acale = $('#acale').val();
	  		var acale_clent=$("#acale_clent").val();
	  		var pay_time=$("#pay_time").val();
	  		var vat_rate=$("#vat_rate").val();
	  		var tar_rate=$("#tar_rate").val();
	  		if(title==''){
	  			$.anewAlert('请输入标题');
	  			return false;
	  		}
	  		if(keywords==''){
	  			$.anewAlert('请输入关键字');
	  			return false;
	  		}
	  		if(description==''){
	  			$.anewAlert('请输入描述');
	  			return false;
	  		}
	  		if(icp==''){
	  			$.anewAlert('请输入备案号');
	  			return false;
	  		}
	  		if(address==''){
	  			$.anewAlert('请输入地址');
	  			return false;
	  		}
	  		if(tel==''){
	  			$.anewAlert('请输入联系方式');
	  			return false;
	  		}
	  		if(acale==''){
	  			$.anewAlert('请输入财务结算保费费率');
	  			return false;
	  		}
	  		if(acale_clent==''){
	  			$.anewAlert('请输入客户下单保费费率');
	  			return false;
	  		}
	  		if(pay_time==''){
	  			$.anewAlert('请输入支付时限时间');
	  			return false;
	  		}
	  		if(vat_rate==''){
	  			$.anewAlert('请输入增值税率');
	  			return false;
	  		}
	  		if(tar_rate==''){
	  			$.anewAlert('请输入普票税率');
	  			return false;
	  		}
	  		if(qrcode==''){
	  			$.anewAlert('请选择上传图片');
	  			return false;
	  		}
	  		$('#formMaster').submit();
	  	}
  		var up = $('#upload').Huploadify({
			auto:true,
			fileTypeExts:'*.jpg;*.gif;*.png;*.jpeg',
			multi:false,
			fileSizeLimit:1024,
			showUploadedPercent:false,
			showUploadedSize:false,
			removeTimeout:1000,
			abs:1,
			uploader:'{:U("Worklwt/upload")}',
			onUploadStart:function(file){
				console.log(file.name+'开始上传');
			},
			onInit:function(obj){
				console.log('初始化');
				console.log(obj);
			},
			onUploadComplete:function(file,data){
				var datas = $.parseJSON(data);
				if(datas.flag){
					$("#qrcode").val(datas.fileurl);
					$("#oneclick").attr('src',datas.fileurl);
				}else{
					$.anewAlert(datas.msg);
				}
			},
		});
	  	$(function(){
			$("#oneclick").click(function(){
				$("#file_upload_1-button").click();
			});
			
		});
  	</script>
	</body>
</html>
