<include file='public:head'/>
<script src="__JS__/jquerytool_1.0v.js"></script>
<script src="__JS__/jquery.Huploadify.js"></script>
<body>
<include file='public:header'/>
<div id="main-pyf">
	<include file='public:left'/>
	<div id="content">
		<!-- 		<div class="ico-pt span12">
		<h4>店铺管理</h4>
	</div>
	-->
	<div class="row">

		<div class="tsan113">

			<div class="widget">

				<div class="tabbable">
					<ul class="nav nav-tabs" id="tabnav">
                        <li class="">
					    	<a href="__MODULE__/Worklwt/setSystem">系统设置</a>
					  	</li>
					  	<li class="active">
                           	<a href="__MODULE__/Worklwt/price">团购优惠设置</a>
                       	</li>
                       	<!-- 
                       	<li>
                            <a href="__MODULE__/Worklwt/favorable">优惠设置</a>
                       	</li>
                       	 -->
					</ul>
					<div class="tab-content1">
						<div class="tab-content">
							<div class="tab-pane active">
								<form id="edit-profile" class="form-horizontal" />
								<fieldset>
									<div class="l_uit">
										<div class="control-group">
											<div style="float:left;" class="controls clec_t">

												<div class="v_pb">
													<input type="text" id="searcha"  placeholder="请输入关键词搜索" value="{$search}" class="i_n text2 width360">
													<button id="btn" class="btn btn-default5" type="button">搜索</button>
												</div>
											</div>
											<!-- /controls -->
											<button onclick="hiefviFun();" data-toggle="modal" data-target="#myModa2" class="red btn btn-default5 fr" type="button">添加</button>

										</div>
										<script>
												$(function(){
													$('table tr.tr2:odd').css('background','#F0F0F0');
												});

											</script>
										<div class="l_table">
											<table>
												<tr class="tr1">
													<td>规则（数量）</td>
													<td>优惠金额（元）</td>
													<td>操作</td>
												</tr>
												<volist name="list" id="vo">
												<tr class="tr2">
													<td>{$vo.group_star}</td>
													<td>{$vo['group_scale']/100}</td>
													<td class="td_d2">
														<a href="javascript:;" data-toggle="modal" data-target="#myModa2"
														star = "{$vo.group_star}"
														img = '{$vo.group_url}'
														code = "{$vo.group_code}"
														discount = "{$vo['group_scale']/100}"
														class="see1">修改</a>
														<a href="javascript:;" del="{$vo.group_code}" class="see2">删除</a>
													</td>
												</tr>
												</volist>
											</table>

										</div>
										<div class="l_fenye">{$page}</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
	<!-- /widget -->

</div>

<!-- /span11 -->

</div>
<!-- /row -->

</div>
</div>
<div id="upload" style="display:none;"></div>
<!--tanceng-->
<div id="myModa2" style="display:none; z-index:9999" class="tan1">
<div class="tan11">
<form action="__MODULE__/Worklwt/setprice" method="post">
<h2>添加价格规则</h2>
<dl style="margin:0px auto 20px;overflow:hidden;">
<input type="text" value="" name="group_star" id="group_star" placeholder="请输入数量" class="put1">
</dl>
<dl>
<input type="hidden" id="code" name="code">
<input type="hidden" id="send" name="send">
<input type="text" value="" name="group_scale" id="group_scale"  placeholder="请输入优惠金额" class="put1"></dl>
<dl>
<input type="hidden" id="imgs" name="imgs" value="">
<img id="oneclick" width="160px;" height="160px;" style="margin-top:20px;" src="__BACK__/images/de1.png">
</dl>
<p>
<input type="submit" id="submit" class="put2" value="确认">
</form>
</div>

</div>
<script>
	function hiefviFun(){
		$("#myModa2").find("input[type='text']").val("");
		$("#oneclick").attr("src","__BACK__/images/de1.png");
	}
    //搜索
    $('#btn').click(function(event) {
        var search = $('#searcha').val();
        window.location.href="__MODULE__/Worklwt/price/search/"+search;
    });
    //删除
    $('.see2').click(function(event) {
        var did = $(this).attr('del');
        if (confirm('确定删除此信息吗？')) {
            $.post('__MODULE__/Worklwt/pricedel', {'did': did}, function(data) {
                $.anewAlert(data,0,1,'__MODULE__/Worklwt/price');
            },'json');
        }
    })
    //修改
    $('.see1').click(function(event) {
    	var code = $(this).attr('code');
    	var discount = $(this).attr('discount');
    	var star = $(this).attr('star');
    	var img = $(this).attr('img');
    	//var end = $(this).attr('end');
        $('#group_scale').val(discount);
        $('#code').val(code);
        $('#imgs').val(img);
        $('#group_star').val(star);
        if(img!=""){
        	$("#oneclick").attr('src',img);
        }else{
        	$("#oneclick").attr('src',"__BACK__/images/de1.png");
        }
        //$('#group_end').val(end);
        $('#send').val(star);
        //$('#end').val(end);
    });
    var up = $('#upload').Huploadify({
		auto:true,
		fileTypeExts:'*.jpg;*.gif;*.png;*.jpeg',
		multi:false,
		fileSizeLimit:1024,
		showUploadedPercent:false,
		showUploadedSize:false,
		removeTimeout:1000,
		abs:1,
		canshu:'NUMIMG',
		uploader:'{:U("Base/upload")}',
		onUploadStart:function(file){
			console.log(file.name+'开始上传');
		},
		onInit:function(obj){
			console.log('初始化');
			console.log(obj);
		},
		onUploadComplete:function(file,data){
			var datas = $.parseJSON(data);
			if(datas.flag){
				$("#imgs").val(datas.fileurl);
				$("#oneclick").attr('src',datas.fileurl);
			}else{
				$.anewAlert(datas.msg);
			}
		},
	});
  	$(function(){
		$("#oneclick").click(function(){
			$("#file_upload_1-button").click();
		});
		
	});
</script>
<include file='public:footer'/>
</body>

</html>