
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WEB打印控件LODOP的样例四:打印设计和定位套打票据</title>

<script language="javascript" src="__JS__/LodopFuncs.js"></script>
</head>
<body>
<br>
<a href="JavaScript:Preview1()">打印预览</a>
<br>
<a href="JavaScript:Setup2()">打印维护</a>
<br>
<script language="javascript" type="text/javascript">
    var LODOP; //声明为全局变量   
    //打印预览
	function Preview1() {		
		CreateFullBill3();
	  	LODOP.PREVIEW();		
	};
	//打印维护
	function Setup2() {		
		CreateFullBill3();
		LODOP.PRINT_SETUP();		
	};

//财务支付凭证
function CreateFullBill3() {
	LODOP.PRINT_INITA(10,10,831,1177,"车妥妥承运底单");
	LODOP.ADD_PRINT_SETUP_BKIMG("C:\\Users\\Administrator\\Desktop\\打印模板\\9-2.jpg");
	LODOP.SET_SHOW_MODE("BKIMG_LEFT",0);
	LODOP.SET_SHOW_MODE("BKIMG_TOP",0);
	LODOP.ADD_PRINT_TEXT(144,166,80,22,"快运公司");
	LODOP.ADD_PRINT_TEXT(206,201,60,20,"赵刚");
	LODOP.ADD_PRINT_TEXT(116,332,36,20,"2017");
	LODOP.ADD_PRINT_TEXT(116,388,22,20,"09");
	LODOP.ADD_PRINT_TEXT(116,421,21,20,"03");
	LODOP.ADD_PRINT_TEXT(597,467,34,20,"2018");
	LODOP.ADD_PRINT_TEXT(597,534,22,20,"08");
	LODOP.ADD_PRINT_TEXT(597,508,22,20,"10");
	LODOP.ADD_PRINT_TEXT(597,631,34,20,"2019");
	LODOP.ADD_PRINT_TEXT(597,690,22,20,"09");
	LODOP.ADD_PRINT_TEXT(597,668,22,20,"09");
	LODOP.ADD_PRINT_TEXT(174,603,74,21,"京G 88888");
	LODOP.ADD_PRINT_TEXT(206,319,75,20,"18500061807");
	LODOP.ADD_PRINT_TEXT(205,502,125,20,"132546875925454666");
	LODOP.ADD_PRINT_TEXT(175,164,175,23,"北京市朝阳区红缨路24号院");
	LODOP.ADD_PRINT_TEXT(235,216,20,21,"壹");
	LODOP.ADD_PRINT_TEXT(235,278,19,19,"贰");
	LODOP.ADD_PRINT_TEXT(235,340,20,20,"叁");
	LODOP.ADD_PRINT_TEXT(234,401,19,20,"肆");
	LODOP.ADD_PRINT_TEXT(234,465,21,20,"伍");
	LODOP.ADD_PRINT_TEXT(270,214,30,20,"伍1");
	LODOP.ADD_PRINT_TEXT(269,276,30,20,"伍2");
	LODOP.ADD_PRINT_TEXT(269,338,30,20,"伍3");
	LODOP.ADD_PRINT_TEXT(269,398,30,20,"伍4");
	LODOP.ADD_PRINT_TEXT(268,463,30,20,"伍5");
	LODOP.ADD_PRINT_TEXT(332,180,89,20,"梅德赛斯.奔驰");
	LODOP.ADD_PRINT_TEXT(331,512,115,17,"GBK25310V23157361");
	LODOP.ADD_PRINT_TEXT(362,220,20,20,"1");
	LODOP.ADD_PRINT_TEXT(363,350,19,19,"1");
	LODOP.ADD_PRINT_TEXT(362,476,22,21,"1");
	LODOP.ADD_PRINT_TEXT(362,605,19,19,"1");
	LODOP.ADD_PRINT_TEXT(362,739,21,19,"3");
	LODOP.ADD_PRINT_TEXT(382,220,21,19,"5");
	LODOP.ADD_PRINT_TEXT(383,350,21,19,"1");
	LODOP.ADD_PRINT_TEXT(382,476,21,19,"1");
	LODOP.ADD_PRINT_TEXT(382,605,21,19,"2");
	LODOP.ADD_PRINT_TEXT(381,739,21,19,"1");
	LODOP.ADD_PRINT_TEXT(117,109,46,20,"北京市");
	LODOP.ADD_PRINT_TEXT(116,204,47,22,"上海市");
};
</script> 
</body>
</html>