<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<!--content-->
<div class="banner0">
<img src="__FRONT__/images/bannerd.jpg">
  </div>
<div class="new_main">
  <div class="new1">
     <h2>服务流程</h2>
    <p>Service flow</p>
  </div>
<div class="news_m container mewr" style="padding-top:0px;">
 <div class="jkh0">
 <div class="jkh1 fl">
	     <div class="jkh11 jha"><img src="__FRONT__/images/ll1.jpg"></div>
		  <div class="jkh12">
            <h2>1、预约</h2>
		   <p>电话预约：拨打公司热线：400-877-1107；
网站预约：选择运输线路及车型，确认下单；
公众号预约：微信关注：“妥妥运车”，通过公众号下单。</p>
  <img src="__FRONT__/images/ll5.jpg">
		  </div>

	  </div>

  <div class="jkh1 fr">
	     <div class="jkh11 jha"><img src="__FRONT__/images/ll2.jpg"></div>
		  <div class="jkh12">
            <h2>2、提车</h2>
		   <p>预约成功后安排提车司机并提供委托书；
司机上门主动提供身份证件供用户核对；
确认提车司机身份无误后，司机拍照验车；
车辆信息交接完成，签订托运合同开始运输</p>

		  </div>

	  </div>

   <div class="jkh1 fl">
	     <div class="jkh11 jha"><img src="__FRONT__/images/ll3.jpg"></div>
		  <div class="jkh12">
            <h2>3、运输</h2>
		   <p>车辆交接完成，购买全程等值运输保险；
司机提车到公司当地分部停车场安排装板；
当日装车发运，专职顾问实时跟进物流状态
网站、公众号、短信多通道提供车辆发运情况。</p>

		  </div>

	  </div>
    <div class="jkh1 fr">
	     <div class="jkh11 jha"><img src="__FRONT__/images/ll4.jpg"></div>
		  <div class="jkh12">
            <h2>4、签收</h2>
		   <p>运输到达目的地前一天提示用户提车时间；
根据运输标的告知前来提车或安排司机送车；
收车前请检查车辆状态，确认运输无损伤；
到付需要您现场结账给送车人，本次服务结束</p>

		  </div>

	  </div>



 </div>








</div>


 </div>
<!--content-->
<include file='public:foot'/>