<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<include file='public:up'/>
<!--content-->
<div class="pc dhdiv">
    <ul>
        <li class="dhfili">妥妥服务<img src="/Public/Front/images/fcphoto.png"></li>
        <foreach name="ttfw" item="vo">
            <li <eq name="ret.title" value="$vo.title">class="dhactive"</eq> ><a href="__MODULE__/ProfessionalServices/sos/code/{$vo.article_code}">
            {$vo.title}
            </a></li>
        </foreach>
    </ul>
</div>
<div class="ttfw">
   <!-- <div style="margin-top: -25px">
        <center><strong><font style="font-size: 22px;">{$ret.title}</font></strong></center>
    </div>-->
    <div style="font-size: 18px;margin-top: 20px;color:#999 ">
        {$ret.content}
    </div>
</div>
<if condition="$ret.title eq 我要运车">
<script>
    window.location.href="__MODULE__/Order/normal"
</script>
</if>
<!--content-->
<include file='public:foot'/>