<include file='public:head'/>
<script src="__JS__/jquerytool_1.0v.js"></script>
    <script>
	function change(obj){
		var mark = $(obj).prev().attr('names');
		var status = $(obj).prev().attr('name');
		var code = $(obj).attr("name");
		$("#s1").html(mark);
		if(status=='Y'){
			$("#s2").attr('checked',true);
		}else{
			$("#s3").attr('checked',true);
		}
		$("#s5").val(code);
		$("#bg").show();
		$("#tan").show();
	}
	function submit(obj){
		var code = $("#s5").val();
		var mark = $("#s1").val();
		if($("#s2").attr('checked')=='checked'){
			var status = $("#s2").val();
		}else{
			var status = $("#s3").val();
		}
		$.post('__MODULE__/Finance/change',{'code':code,'mark':mark,'status':status},function(data){
			if(data.sign=='Y'){
				$.anewAlert(data.con);
				window.location.reload();
			}else{
				$.anewAlert(data.con);
			}	
		})
	}
	function closeF(){
		$("#bg").hide();
		$("#tan").hide();
		
	}
	function inputFee(obj){
		var id = $(obj).prev().prev().prev().attr('name');
		var fee = $(obj).prev().prev().val();
		var r = /^[0-9]*[1-9][0-9]*$/;
		if(r.test(fee)==false){
			$.anewAlert("费用输入数字");
			return false;
		}else{
			$.post('__MODULE__/Finance/inputFee',{'id':id,'fee':fee},function(data){
				if(data.sign=='Y'){
					$.anewAlert(data.con);
					window.location.reload();
				}else{
					$.anewAlert(data.con);
				}	
			})
		}
		
	}
</script>
    <body>
        <include file='public:header'/>
        <div id="main-pyf">
            <include file='public:left'/>
            <div id="content">
                <!-- <div class="ico-pt span12">
                <h4>店铺管理</h4>
                </div> -->
                <div class="row">
                    <div class="tsan113">
                        <div class="widget">
                            <div class="tabbable">
                                <ul class="nav nav-tabs" id="tabnav">
                                    <li>
                                        <a href="">
                                            	财务详情
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content1">
                                    <h2 class="dw88">
                                        	订单基本信息
                                    </h2>
                                    <div class="du1">
                                        <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	订单号:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list.order_code}">
                                            </div>
                                        </div>
                                        <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	车型:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list.OrderInfo.order_info_type}">
                                            </div>
                                        </div>
                                        <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	线路:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list.route}">
                                            </div>
                                        </div>
                                    </div>
                                    <h2 class="dw88">
                                        	支出费用
                                    </h2>
                                    <div class="du1">
                                        <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	保险费用:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list['Cwgl']['cwgl_bxf']/100}元">
                                            </div>
                                        </div>
                                        <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	提车费用:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list['Cwgl']['cwgl_t_price']/100}元">
                                            </div>
                                        </div>
                                        <!-- <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	运单总费用:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list['zong']/100}元">
                                            </div>
                                        </div> -->
                                        <!-- <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	送车费用:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list['songche']/100}元">
                                            </div>
                                        </div> -->
                                        <!-- <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	上门送车费用:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list['shangmen']/100}元">
                                            </div>
                                        </div> -->
                                        <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	其他费用:
                                                </span>
                                                <input type="hidden" name="{$list['Cwgl']['cwgl_id']}">
                                                <input type="text" class="i_n text2" placeholder="{$list['Cwgl']['cwgl_s_price']/100}" style="width:30%;"><span>元</span>
                                                <button class="btn btn-default5" style="float:right" type="submit" onclick="inputFee(this);">确认</button>
                                            </div>
                                        </div>
                                        <!-- <div class="dua">
                                            	总收入费用
                                        </div>
                                        <div class="dua">
                                           	 支付总费
                                        </div>
                                        <div class="dua">
                                         	 盈利
                                        </div>
                                        <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	总收入费用:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list['OrderInfo']['order_info_zj']/100}元">
                                            </div>
                                        </div>
                                        <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	支付总费:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list['Cwgl']['cwgl_price']/100}元">
                                            </div>
                                        </div>
                                        <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	盈利:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list['OrderInfo']['order_info_zj']/100-$list['Cwgl']['cwgl_price']/100}元">
                                            </div>
                                        </div> -->
                                    </div>
                                    <h2 class="dw88">
                                        	调度情况
                                    </h2>
                                    <form id="edit-profile" class="form-horizontal" />
                                    <fieldset>
                                        <div class="l_uit">
                                            <script>
                                                $(function() {
                                                    $('table tr.tr2:odd').css('background', '#F0F0F0');
                                                });
                                            </script>
                                            <div class="l_table" style="margin-top:0px;">
                                                <table>
                                                    <tr class="tr1">
                                                        <td>
                                                            	运单编号
                                                        </td>
                                                        <td>
                                                            	承运人
                                                        </td>
                                                        <!-- <td>
                                                            	公司
                                                        </td> -->
                                                        <td>
                                                            	联系电话
                                                        </td>
                                                        <td>
                                                           	 路线
                                                        </td>
                                                        <td>
                                                            	费用
                                                        </td>
                                                        <td>
                                                            	状态
                                                        </td>
                                                        <td>
                                                           	 备注
                                                        </td>
                                                        <td>
                                                           	 操作
                                                        </td>
                                                    </tr>
                                                    <foreach name="list['Yundan']" item="vo">
                                                    <tr class="tr2">
                                                        <td>
                                                            {$vo.yd_code}
                                                        </td>
                                                        <td>
                                                            	{$vo.yd_name}
                                                            <br>
                                                            {$vo.yd_indetity}
                                                        </td>
                                                       <!--  <td>
                                                            	妥妥物流
                                                            <br>
                                                            	负责人 李四
                                                        </td> -->
                                                        <td class="td_d2">
                                                            13233333333
                                                        </td>
                                                        <td class="td_d2">
                                                            	{$vo.yd_star}
                                                            <br>
                                                            	{$vo.yd_end}
                                                        </td>
                                                        <td class="td_d2">
                                                            {$vo.yd_price}
                                                        </td>
                                                        <td class="td_d2">
                                                            	<if condition="$vo.yd_status eq 'Y'">已支付<else/>未支付</if>
                                                        </td>
                                                        <td class="td_d2">
                                                           	{$vo.yd_mark}
                                                        </td>
                                                        <td>
                                                        	<input type="hidden" name="{$vo.yd_status}" names="{$vo.yd_mark}">
                                                            <a class="see5" name="{$vo.yd_code}"  href="javascript:;" onclick="change(this);">
                                                                	更改
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </foreach>
                                                </table>
                                            </div>
                                        </div>
                                    </fieldset>
                                    </form>
                                    <br/>
                                     <br/>
                                      <br/>
                                       <br/>
                                    <div class="du1">
                                        <div class="dua">
                                            	总收入费用
                                        </div>
                                        <div class="dua">
                                           	 支付总费
                                        </div>
                                        <div class="dua">
                                         	 盈利
                                        </div>
                                        <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	总收入费用:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list['OrderInfo']['order_info_zj']/100}元">
                                            </div>
                                        </div>
                                        <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	支付总费:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list['Cwgl']['cwgl_price']/100}元">
                                            </div>
                                        </div>
                                        <div class="dua">
                                            <div class="duaa">
                                                <span>
                                                    	盈利:
                                                </span>
                                                <input type="text" class="i_n text2" value="{$list['OrderInfo']['order_info_zj']/100-$list['Cwgl']['cwgl_price']/100}元">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                </div>
                            </div>
                            <!-- /widget -->
                        </div>
                        <!-- /span11 -->
                    </div>
                    <!-- /row -->
                </div>
            </div>
            		<div class="bg" id="bg" style="display:none"></div>
<div class="tan1" id="tan" style="display:none">
   <div class="tan11">
    <h2>更改</h2>
    <input type="hidden" id="s5">
     <div  class="di1"><textarea name="yd_mark" id="s1">请输入备注信息</textarea></div>
	  <div  class="di2" id="s4"><label><input type="radio" name="yd_status"  value="Y" id="s2"> 已支付</label>  <label><input  type="radio" name="yd_status" value="W" id="s3"> 未支付</label></div>
     <p>
	 <input type="submit" class="put2" value="确认" onclick="submit(this);">
	 <input type="reset" class="put3" value="取消" onclick="closeF();">
	 </p>
   </div>

</div>
    </body>

</html>