<!--logo and nav-->
<nav class="navbar navbar-default">
	<div class="head1">
		<a class="navbar-brand0" href="/"><img class="logoimg" src="__FRONT__/images/logo.png" alt="logo"></a>
	</div>
	<div class="pc tel1" style="float: left;">
		<a>400-877-1107</a>
	</div>
	<div id="sasa" class="container">
		<if condition="$UserInfo.login eq 0">
			<a class="phone " href="__MODULE__/Login/pclogin/">
				<img class="renimg" src="__FRONT__/images/ren.png" alt="图标">
			</a>
		<else/>
			<span class="phone gerendj" href="javascript:volid(0);">
				<img class="renimg" src="__FRONT__/images/ren.png" alt="图标">
				<dl>
					<dt><a href="__MODULE__/Personal/personalInfo">个人资料</a></dt>
					<dt><a href="__MODULE__/MyOrder/index">我的订单</a></dt>
					<dt><a href="__MODULE__/MyCoupon/index">我的优惠券</a></dt>
					<dt><a href="javascript:volid(0);" onclick="loginout();">退出</a></dt>
				</dl>
			</span>
		</if>
		<a href="javascript:volid(0);" data-toggle="collapse" data-target="#sousuok" aria-expanded="false" aria-controls="sousuok">
		<img class="phone sousuoimg" src="__FRONT__/images/sousuo.png" alt="放大镜">
		</a>
		<a href="javascript:volid(0);" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<img class="phone dhimg" src="__FRONT__/images/sjdh.png" style="width: 6%" alt="图标">
		</a>
		<div id="sousuok" class="phone du3d">
			<input type="text" placeholder="请在此输入订单号" class="cx1" id="keyword2" ><!-- onkeyup="sel(this);" --><button onclick="tiaoFun('keyword2');" type="button"></button>
			<div id="searchBoxs"></div>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<div class="baotio">
				<ul class="nav navbar-nav">
					<li class="firstnav"  <if condition="$Think.const.CONTROLLER_NAME  eq 'Index'">class="active"</if>>
					<h2><a href="/">首页</a></h2>
					</li>

					<li <if condition="$Think.const.CONTROLLER_NAME  eq 'ProfessionalServices'">class="active"</if>><h2><a  href="__MODULE__/ProfessionalServices/sos/code/{$ttfw.0.article_code}">妥妥服务</a></h2>
					<dl>
						<div class="fgrr"></div>
						<foreach name="ttfw" item="vo">
							<dd><a href="__MODULE__/ProfessionalServices/sos/code/{$vo.article_code}">{$vo.title}</a></dd>
						</foreach>
						<!-- <dd><a href="__MODULE__/Worklwt/lineDis">长途托运</a></dd> -->
					</dl>
					</li>
					</li>
					<!-- <li id="tt1"><h2><a href="javascript:;">托车优惠</a></h2>
                         <dl>
                          <div class="fgrr"></div>

                          <dd><a href="__MODULE__/Worklwt/lineDisList">优惠线路</a></dd>
                          <dd><a href="__MODULE__/GroupBuy/gotoGroupBuy">团购线路</a></dd>

                         </dl>
                    </li> -->
					</li>
					<li <if condition="$Think.const.CONTROLLER_NAME  eq 'SecurityGuarantee'">class="active"</if>><h2><a   href="__MODULE__/SecurityGuarantee/index/code/{$aq.0.article_code}">安全保障</a></h2>
					<dl>
						<div class="fgrr"></div>
						<foreach name="aq" item="vo">
							<dd><a href="__MODULE__/SecurityGuarantee/index/code/{$vo.article_code}">{$vo.title}</a></dd>
						</foreach>

					</dl>
					</li>
					</li>
					<li  <if condition="$Think.const.CONTROLLER_NAME  eq  'AboutUs'">class="active"</if>><h2><a  href="__MODULE__/AboutUs/index/code/{$dh.0.article_code}">关于妥妥</a></h2>
					<dl>
						<div class="fgrr"></div>
						<foreach name="dh" item="vo">
							<dd><a href="__MODULE__/AboutUs/index/code/{$vo.article_code}">{$vo.title}</a></dd>
						</foreach>

						<dd><a href="__MODULE__/News/newsList">妥妥新闻</a></dd>
					</dl>
					</li>
					<li>
						<h2><a href="__MODULE__/Ordersel/orderselView">运单查询</a></h2>
					</li>
					<li>
						<h2><a target="_blank" href="__MODULE__/News/detail/code/AC1528702684PD2V">联系我们</a></h2>
					</li>
				</ul>

			</div>
		</div>
	</div>
	<div style="float: right;margin-top: -49px;margin-right: 15px;">
		<if condition="$UserInfo.login eq 0">
			<div class="header_top2">
						<span class="login">
                            <a  class="deng1" href="__MODULE__/Login/pclogin/">登录</a>&nbsp;&nbsp;|&nbsp;
                            <a  class="deng2" href="__MODULE__/Register/index/">注册</a>
                        </span>
			</div>
			<else/>
			<div class="pc header_top1">
				<h3>
					<a  class="deng3" href="javascript:;">个人中心</a>
					<dl>
						<dt><a href="__MODULE__/Personal/personalInfo">个人资料</a></dt>
						<dt><a href="__MODULE__/MyOrder/index">我的订单</a></dt>
						<dt><a href="__MODULE__/MyCoupon/index">我的优惠券</a></dt>
					</dl>
				</h3>
				<a class="deng4" href="#" onclick="loginout();">退出</a>
			</div>
			<script>
				function loginout(){
					$.post('__MODULE__/Login/logout/',function(data){
						window.location.reload();
					})
				}
			</script>
		</if>
	</div>
</nav>
<!--logo and nav-->
