<!--banner-->
<div class="banner">
    <img src="/Public/Front/images/fbanner.png" style="width: 100%">
</div>
<div class="part1" style="width: 100%">
    <img class="pc" src="/Public/Front/images/HEARTONFIRE2.png"  style="width: 100%">
    <img class="phone" src="/Public/Front/images/qiche.png"  style="width: 100%">
    <div class="fwfont fwfontx">
        <font><strong>{$ret.title}</strong></font>
        <h3>Process display</h3>
        <img src="__FRONT__/images/Rectangle.png">
    </div>
</div>
<!--banner-->