<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<include file='public:up'/>
<!--content-->
<div class="order_body">
	<foreach name="oList" item="vo" >
	
	 <div  class="mlist">
     <div  class="mlista">
	 <h2><a>订单号：{$vo.order_code}</a></h2>
	 			<div class="order_lisa2">
			<div class="olist1"><if condition="($vo.start_name neq '') and ($vo.start_name neq null)"> {$vo.start_name}<else />--</if> <img class="eq1" src="__FRONT__/images/ee1.png"><img  class="eq2" src="__FRONT__/images/ee2.png"> <if condition="($vo.end_name neq '') and ($vo.end_name neq null)"> {$vo.end_name}<else />--</if></div>
			<div class="olist2">
				<p><span>车型：<if condition="($vo.order_info_type neq '') and ($vo.order_info_type neq null)"> {$vo.order_info_type}<else />--</if></span></p>
			</div>
		</div>
	    <div class="mlista2">
		 <h2 class="xinh2">跟踪信息</h2>
		 <dl>
		 	<volist name="vo.posit" id="voi" >
		 		<if condition="$key eq 0">
		 		<dt class="on">{$voi.time|strtotime|date='Y年m月d日',###}   {$voi.content}</dt>
		 		<else />
		 		<dt class="">{$voi.time|strtotime|date='Y年m月d日',###}   {$voi.content}</dt>
		 		</if>
		 	</volist>
		  <div class="bkl1"></div>
		  <div class="bkl2"></div>
		 </dl>
		</div>
	 
	 </div>
     <div  class="mlistb">
	    <div  class="mlistb1">	<p>订单状态：
			<a>
				<if condition="($vo.order_status eq 'S')">
				 待审核
				<elseif condition="($vo.order_status eq 'A')"/>
				 待安排
				<elseif condition="($vo.order_status eq 'Z')"/>
				 待核实
				 <elseif condition="($vo.order_status eq 'Y') OR ($vo.order_status eq 'M') OR ($vo.order_status eq 'N') OR ($vo.order_status eq 'B') OR ($vo.order_status eq 'G') OR ($vo.order_status eq 'D')"/>
				 运输中
				 <elseif condition="($vo.order_status eq 'W')"/>
				 已完成
				 <else /> 
				--
				</if>
			</a>
			</p></div>
			  <div  class="mlistb2">
				  <p>
				  	<a href="__MODULE__/MyOrder/orderInfo/orderCode/{$vo.order_code}">订单详情</a>
				  	<if condition="($vo.order_status eq 'T') OR ($vo.order_status eq 'Y') OR ($vo.order_status eq 'M') OR ($vo.order_status eq 'N') OR ($vo.order_status eq 'B') OR ($vo.order_status eq 'G') OR ($vo.order_status eq 'D') OR ($vo.order_status eq 'W')">
						<a class="bmm1" href="__MODULE__/PdfPrint/pdf_sqwts/order_code/{$vo.order_code}">委托书 </a>
					<else />
						<a class="bmm1" href="__MODULE__/PdfPrint/pdf_sqwts/order_code/{$vo.order_code}/status/N">委托书 </a>
					</if>
					<if condition="($vo.order_status eq 'A') OR ($vo.order_status eq 'T') OR ($vo.order_status eq 'Y') OR ($vo.order_status eq 'M') OR ($vo.order_status eq 'N') OR ($vo.order_status eq 'B') OR ($vo.order_status eq 'G') OR ($vo.order_status eq 'D') OR ($vo.order_status eq 'W')">
						<a class="bmm1" href="__MODULE__/PdfPrint/pdf_fwhtd/order_code/{$vo.order_code}">运输协议(合同)</a>
					<else />
						<a class="bmm1" href="__MODULE__/PdfPrint/pdf_fwhtd/order_code/{$vo.order_code}/status/N">运输协议(合同)</a>
					</if>
				  </p>
			  </div>
			 </div>
  
  		</div>
	
<!-- 	
	<div class="order_lisa">
		<div class="order_lisa1">
			<h2><a>订单号：{$vo.order_code}</a></h2>
			<p>订单状态：
			<a>
				<if condition="($vo.order_status eq 'S')">
				 待审核
				<elseif condition="($vo.order_status eq 'A')"/>
				 待安排
				<elseif condition="($vo.order_status eq 'Z')"/>
				 待核实
				 <elseif condition="($vo.order_status eq 'Y') OR ($vo.order_status eq 'M') OR ($vo.order_status eq 'N') OR ($vo.order_status eq 'B') OR ($vo.order_status eq 'G') OR ($vo.order_status eq 'D')"/>
				 运输中
				 <elseif condition="($vo.order_status eq 'W')"/>
				 已完成
				 <else /> 
				--
				</if>
			</a>
			</p>
		</div>
		<div class="order_lisa2">
			<div class="olist1"><if condition="($vo.start_name neq '') and ($vo.start_name neq null)"> {$vo.start_name}<else />--</if> <img class="eq1" src="__FRONT__/images/ee1.png"><img  class="eq2" src="__FRONT__/images/ee2.png"> <if condition="($vo.end_name neq '') and ($vo.end_name neq null)"> {$vo.end_name}<else />--</if></div>
			<div class="olist2">
				<p><span>车型：<if condition="($vo.order_info_type neq '') and ($vo.order_info_type neq null)"> {$vo.order_info_type}<else />--</if></span></p>
			</div>
		</div>
		<div class="conts">
			<!-- <a href=""><h2>去付款 </h2></a> -->
<!-- 			<a href="__MODULE__/MyOrder/orderInfo/orderCode/{$vo.order_code}"><h3>订单详情</h3></a>
		</div>
	</div> --> 
	
	</foreach>
	
</div>

	<div class="num">
		<if condition="$num gt 0 ">
			{$show}
		</if>
		
	</div>
</div>
 </div> 
<!--content-->
<script>
	function pay(code,total,bxd,smsc_car){
		var str="";
		if(smsc_car!=""){
			str += "/smsc_car/"+smsc_car;
		}
		window.location.href = '__MODULE__/MyOrder/payNow/code/'+code+'/fee/'+total+'/bxd/'+bxd+str;
	}
</script>
<include file='public:foot'/>