<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<!--content-->
<div class="order_body1">
	<div class="order_main container">
		<div class="order_h2"><h2>验车详情</h2></div>
		<div class="order_navc">
			<ul>
				<li class="on">车钥匙：{$ret.verify_car_keys}(单位:把)</li>
				<li>车辆当前公里数：{$ret.verify_km}(单位:km)</li>
				<li>提车预计行驶公里数：{$ret.verify_km}(单位:km)</li>
			</ul>
		</div>
		<div class="dengm2">
			<div class="deng0">
				<div class="deng2e">
					<div class="rr5h">
						<dl><dt>行李工具备注：</dt><dd><p>{$ret.verify_xingli}</p><dd></dl>
					</div>
					<div class="rr5h">
						<dl><dt>车身外观：</dt><dd><p>{$ret.verify_car_wai}</p><dd></dl>
					</div>
					<div class="yyu1">
						<div class="order_h2"><h2>拍照验车</h2></div>
						<ul>
							<foreach name="ret.imgs" item="vo">
								<li>
									<div class="xxz4"><img  style="height:200px;"  src="{$vo.verify_img_upload}"/></div>
								</li>
							</foreach>
						</ul>
					</div>
					<div class="rr5h">
						<dl><dt>备注：</dt><dd><p>{$ret.verify_bei}</p><dd></dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--content-->

<include file='public:foot'/>