<include file='public:head'/>
<script src="__JS__/jquerytool_1.0v.js"></script>
<script>
	function submits(){
		var car_name = $("#car_name").val().trim();//公司简称
		var car_identity = $("#car_identity").val().trim();//负责人
		var car_tel = $("#car_tel").val().trim();//负责人电话
		var car_flag = $("#car_flag").val();//调度员
		var car_sheng = $("#car_sheng").val().trim();//调度员电话
		var car_shi = $("#car_shi").val().trim();//调度员电话
		
		if(car_name!=''&&car_tel!=''&&car_flag!=''&&car_sheng!=''&&car_shi!=''){
			$("#sub").submit();
		}else{
			alert('请先完善数据填写');
		}
	}
	
	function getArea(obj){
		var id = $(obj).val();
		$.post("__MODULE__/Logistics/getSon",{id:id},function(data){
			if(data.sign){
				$("#car_shi").empty();
				var list = data.data;
				var size = list.length;
				var str = "";
				for(var i=0;i<size;i++){
					str+="<option value='"+list[i]['area_id']+"' >"+list[i]['area_name']+"</option>";
				}
				$("#car_shi").append(str);
			}
			
		});
	}
</script>
	<body>
		<include file='public:header'/>
		<div class="clear_both"></div>
     <div id="main-pyf">
		<include file='public:left'/>
	
		<div id="content">
	<!-- 		<div class="ico-pt span12">
				<h4>店铺管理</h4>
			</div> -->
			<div class="row">
					
					<div class="tsan113">
				
						<div class="widget">

								<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">
					
					 	  <li class="active">
						    <a>司机添加|编辑</a>
						  </li>
					
			
						</ul>
						
						<div class="tab-content1">
						<form method="post" action="__MODULE__/Logistics/driverDoAdd" id="sub">
						<div class="dw7">
						   <div class="dw71">
							<dl>
							<div class="fh1">
							<span>*司机名称:</span>
							<input type="text" class="i_n text2" name="car_name" id="car_name"  value="{$list.car_name}">
							</div>
							</dl>
							
							<dl>
							<div class="fh1">
							<span>*司机身份证:</span>
							<input type="text" class="i_n text2" name="car_identity" id="car_identity"  value="{$list.car_identity}">
							</div>
							</dl>
							
							
							<dl>
							<div class="fh1">
							<span>*司机电话:</span>
							<input type="text" class="i_n text2" name="car_tel" id="car_tel"  value="{$list.car_tel}">
							</div>
							</dl>
							<dl>
							<div class="fh1">
							<span>*省市:</span>
							<select name="car_sheng" id="car_sheng" onchange="return getArea(this);">
								<option value="">选择省份</option>
								<foreach name="area" item="vo" >
									
									<if condition="($vo.area_id eq $sheng) ">
										<option value="{$vo.area_id}" selected="selected">{$vo.area_name}</option>
									<else />
										<option value="{$vo.area_id}" >{$vo.area_name}</option>
									</if>
								</foreach>
							</select>
							<select name="car_shi" id="car_shi">
								
								
								<if condition="($list.car_sheng neq '') ">
										<option value="{$list.car_shi}" selected="selected">{$list.car_shi_name}</option>
									<else />
										<option value="">选择市</option>
									</if>
							</select>
							</div>
							</dl>
							
							<dl>
							<div class="fh1">
							<span>*是否有效:</span>
							<if condition="($list.lc_status eq 'Y')">
								<input type="radio" class="i_n text2" name="car_flag" value="Y" checked="checked">是
								<input type="radio" class="i_n text2" name="car_flag" value="N">否
							<elseif condition="($list.lc_status eq 'N')"/>
								<input type="radio" class="i_n text2" name="car_flag" value="Y">是
								<input type="radio" class="i_n text2" name="car_flag" value="N" checked="checked">否
							<else />
								<input type="radio" class="i_n text2" name="car_flag" value="Y" checked="checked">是
								<input type="radio" class="i_n text2" name="car_flag" value="N">否
							</if>
														
							</div>
							</dl>
							
							<dl>
							<div class="fh1">
							<span>合同编号:</span>
							<input type="text" class="i_n text2" name="car_he_code" id="car_he_code" value="{$list.car_he_code}">
							</div>
							</dl>
							<!-- 
							<dl>
							<div class="fh1">
							<span>备注:</span>
							<textarea rows="20" cols="30" name="lc_bei" id="lc_bei" class="i_n text2">{$list.lc_bei}</textarea>
							</div>
							</dl>
							 -->
						   </div>
						</div>
						<input type="hidden" name="car_code" value="{$list.car_code}" />
						</form>
						
						<hr>
						<div class="sad1">
						<button class="btn btn-default7"  type="button" onclick="submits();">确定</button>
						<a href="__MODULE__/Logistics/companyShow"><button class="btn btn-default8" type="button">取消</button></a>
						</div>
						</div>
							
							
						</div> <!-- /widget -->
						
					</div> <!-- /span11 -->
					
				</div> <!-- /row -->

		</div>
		</div>

	</body>
	
</html>
