<include file="Public:head" />
<script src="__JS__/jquerytool_1.0v.js"></script>
<script src="__PUBLIC__/laydate/laydate.js"></script>
<body>
<include file="Public:header" />
<script language="javascript" src="__JS__/LodopFuncs.js"></script>
<div id="main-pyf">
	<include file="Public:left" />

	<div id="content">
		<!-- 		<div class="ico-pt span12">
		<h4>店铺管理</h4>
	</div>
	-->
	<div class="row">

		<div class="tsan113">

			<div class="widget">

				<div class="tabbable">
					

					<div class="tab-content1">
						<div class="tab-content">
							<div class="tab-pane active">
								<form id="edit-profile" class="form-horizontal" action="__MODULE__/Log/logList" id="sub" method="post">
								<fieldset>
									<div class="l_uit">
										<div class="control-group">
											<div style="float:left;" class="controls clec_t">
												<input type="text" style="float:left; margin-left:10px" class="i_n text2" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="start" id="startime" placeholder="起始时间" value="{$start}" readonly="readonly">					<input type="text" style="float:left;margin-left:10px;" class="i_n text2" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"  name="end" id="endtime" value="{$end}" placeholder="结束时间" readonly="readonly">
												<div class="v_pb">	
													<input type="text" name="search" id="order" value="{$search}"  placeholder="请输入搜索内容" class="i_n text2">
													<button class="btn btn-default5" >搜索</button>
												</div>

											</div>
											<!-- /controls -->

										</div>
										<script>
												$(function(){
													$('table tr.tr2:odd').css('background','#F0F0F0');
												});
												
											</script>
										<div class="l_table">
											<table>
												<tr class="tr1">
													<td>时间</td>
													<td>管理员</td>
													<td>操作</td>
													<td>操作前</td>
													<td>操作后</td>
												</tr>
												<volist name="list" id="vo">
													<tr class="tr2">
														<td>{$vo.log_time}</td>
														<td>{$vo.admin_code}</td>
														<td>{$vo.log_operation}</td>
														<td>{$vo.log_content}</td>
														<td>{$vo.log_back_cont}</td>
													</tr>
												</volist>
											</table>

										</div>
										<div class="l_fenye"><if condition="$num neq 0">{$show}</if></div>
									</div>
								</fieldset>
							</form>
						</div>

					</div>
				</div>

			</div>

		</div>
		<!-- /widget -->

	</div>
	<!-- /span11 -->

</div>
<!-- /row -->
<style>
	.l_table table tr td a{
		color: #000;
	}
</style>
</div>
</div>
<script>
	var LODOP; //声明为全局变量   
	$(document).ready(function(){
		var sign = '{$order_status}';
		if(sign!=''){
			$("#tabnav").find('li[name="'+sign+'"]').addClass('active').siblings().removeClass('active');
		}
	})
	//加载运行
	$('#pay_status option').each(function(index, el) {
		var pay = "{$pay}";
		if ($(this).val() == pay) {
			$(this).attr('selected',true);
		}
	});
    //搜索
    $('#btn').click(function(event) {
    	alert(123);
    	$('#sub').submit();  
    });
    //删除
    $('.see2').click(function(event) {
    	var code = $(this).attr('code');
    	if (confirm('确定删除此信息吗？')) {
	    	$.post('__MODULE__/Order/orderdel', {code: code}, function(data) {
	    		$.anewAlert(data);
	    		window.location.reload();
	    	},'json');
	    }
    });
    
	function printpact(order_code){
		$.post('__MODULE__/Print/printpact/',{'order_code':order_code},function(data){
			//调用打印预览
			CreateFullBill2(data);
		  	LODOP.PREVIEW();
		})
	}
	
	function printAskToGet(order_code){
		$.post('__MODULE__/Print/printAskToGet/',{'order_code':order_code},function(data){
			//调用打印预览
			CreateFullBill3(data);
//			LODOP.PRINT_SETUP();
		  	LODOP.PREVIEW();
		})
	}
	
	//运车服务合同
	function CreateFullBill2(data) {
		LODOP.PRINT_INITA(10,10,831,1177,data.print_Title);
		LODOP.ADD_PRINT_SETUP_BKIMG("C:\\Users\\Administrator\\Desktop\\打印模板\\9-1.jpg");
		LODOP.SET_SHOW_MODE("BKIMG_LEFT",0);
		LODOP.SET_SHOW_MODE("BKIMG_TOP",0);
		LODOP.ADD_PRINT_TEXT(87,98,50,22,data.orderInfo.order_info_star);
		LODOP.ADD_PRINT_TEXT(86,196,50,22,data.orderInfo.order_info_end);
		LODOP.ADD_PRINT_TEXT(115,153,80,22,data.orderInfo.order_info_sclxr[0]);
		LODOP.ADD_PRINT_TEXT(150,167,80,22,data.orderInfo.order_info_tclxr[0]);
		LODOP.ADD_PRINT_TEXT(85,323,36,20,data.yundan.yd_j_time[0]);
		LODOP.ADD_PRINT_TEXT(83,386,22,20,data.yundan.yd_j_time[1]);
		LODOP.ADD_PRINT_TEXT(83,422,21,20,data.yundan.yd_j_time[2]);
		LODOP.ADD_PRINT_TEXT(877,647,34,20,"");
		LODOP.ADD_PRINT_TEXT(877,709,24,20,"");
		LODOP.ADD_PRINT_TEXT(875,686,24,20,"");
		LODOP.ADD_PRINT_TEXT(940,645,34,20,"");
		LODOP.ADD_PRINT_TEXT(942,714,24,20,"");
		LODOP.ADD_PRINT_TEXT(942,688,24,20,"");
		LODOP.ADD_PRINT_TEXT(1026,646,34,20,"");
		LODOP.ADD_PRINT_TEXT(1025,719,24,20,"");
		LODOP.ADD_PRINT_TEXT(1027,687,24,20,"");
		LODOP.ADD_PRINT_TEXT(113,312,135,22,data.orderInfo.order_info_sclxr[2]);
		LODOP.ADD_PRINT_TEXT(116,499,208,22,data.orderInfo.order_info_sclxr[1]);
		LODOP.ADD_PRINT_TEXT(147,312,135,22,data.orderInfo.order_info_tclxr[2]);
		LODOP.ADD_PRINT_TEXT(150,497,208,22,data.orderInfo.order_info_tclxr[1]);
		LODOP.ADD_PRINT_TEXT(186,363,416,22,data.orderInfo.order_info_end);
		LODOP.ADD_PRINT_TEXT(286,52,120,22,data.orderInfo.order_info_brand);
		LODOP.ADD_PRINT_TEXT(317,50,120,22,"");
		LODOP.ADD_PRINT_TEXT(288,214,122,22,data.orderInfo.order_info_carmark);
		LODOP.ADD_PRINT_TEXT(318,211,122,22,"");
		LODOP.ADD_PRINT_TEXT(285,366,62,22,data.orderInfo.order_info_price);
		LODOP.ADD_PRINT_TEXT(318,365,64,22,"");
		LODOP.ADD_PRINT_TEXT(286,444,60,22,data.orderInfo.order_info_bxd);
		LODOP.ADD_PRINT_TEXT(317,441,64,22,"");
		LODOP.ADD_PRINT_TEXT(286,513,67,22,data.orderInfo.order_info_c_car);
		LODOP.ADD_PRINT_TEXT(319,511,68,22,"");
		LODOP.ADD_PRINT_TEXT(349,177,30,17,data.carInfo.verify_car_keys);
		LODOP.ADD_PRINT_TEXT(370,176,30,17,data.carInfo.verify_km);
		LODOP.ADD_PRINT_TEXT(349,313,30,17,data.carInfo.verify_spare_tire);
		LODOP.ADD_PRINT_TEXT(368,314,30,17,data.carInfo.verify_instructions);
		LODOP.ADD_PRINT_TEXT(352,443,30,17,data.carInfo.verify_tool_kit);
		LODOP.ADD_PRINT_TEXT(372,443,30,17,data.carInfo.verify_warning_sign);
		LODOP.ADD_PRINT_TEXT(348,574,30,17,data.carInfo.verify_lifting_jack);
		LODOP.ADD_PRINT_TEXT(369,575,30,17,data.carInfo.verify_lighter);
		LODOP.ADD_PRINT_TEXT(350,712,30,17,data.carInfo.verify_door_mat);
		LODOP.ADD_PRINT_TEXT(370,708,30,17,data.carInfo.verify_fire_extinguisher);
		LODOP.ADD_PRINT_TEXT(403,223,383,22,data.carImg[0].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(404,622,160,22,data.carImg[0].verify_img_id);
		LODOP.ADD_PRINT_TEXT(437,222,383,22,data.carImg[1].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(437,622,161,22,data.carImg[1].verify_img_id);
		LODOP.ADD_PRINT_TEXT(469,622,162,22,data.carImg[2].verify_img_id);
		LODOP.ADD_PRINT_TEXT(468,221,382,22,data.carImg[2].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(501,222,383,22,data.carImg[3].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(502,622,160,22,data.carImg[3].verify_img_id);
		LODOP.ADD_PRINT_TEXT(533,222,383,22,data.carImg[4].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(533,622,160,22,data.carImg[4].verify_img_id);
		LODOP.ADD_PRINT_TEXT(562,222,383,22,data.carImg[5].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(562,622,160,22,data.carImg[5].verify_img_id);
		LODOP.ADD_PRINT_TEXT(593,222,383,22,data.carImg[6].verify_img_describe);
		LODOP.ADD_PRINT_TEXT(593,622,160,22,data.carImg[6].verify_img_id);
		LODOP.ADD_PRINT_TEXT(624,222,383,22,"");
		LODOP.ADD_PRINT_TEXT(625,622,160,22,"");
		LODOP.ADD_PRINT_TEXT(654,222,383,22,"");
		LODOP.ADD_PRINT_TEXT(654,622,160,22,"");
		LODOP.ADD_PRINT_TEXT(776,191,30,17,data.orderInfo.number[5]);
		LODOP.ADD_PRINT_TEXT(776,253,30,17,data.orderInfo.number[4]);
		LODOP.ADD_PRINT_TEXT(778,300,30,17,data.orderInfo.number[3]);
		LODOP.ADD_PRINT_TEXT(779,346,30,17,data.orderInfo.number[2]);
		LODOP.ADD_PRINT_TEXT(778,396,30,17,data.orderInfo.number[1]);
		LODOP.ADD_PRINT_TEXT(780,442,30,17,data.orderInfo.number[0]);
		LODOP.ADD_PRINT_TEXT(1024,182,60,20,"");
		LODOP.ADD_PRINT_TEXT(1025,289,80,20,"");
		LODOP.ADD_PRINT_TEXT(1024,418,163,20,"");

	};
	
	//车妥妥提车单
	function CreateFullBill3(data) {
		LODOP.PRINT_INITA(10,10,831,1177,data.print_Title);
		LODOP.ADD_PRINT_SETUP_BKIMG("C:\\Users\\Administrator\\Desktop\\打印模板\\9-3.jpg");
		LODOP.SET_SHOW_MODE("BKIMG_LEFT",0);
		LODOP.SET_SHOW_MODE("BKIMG_TOP",0);
		LODOP.ADD_PRINT_TEXT(168,211,80,22,data.tclxr[0]);
		LODOP.ADD_PRINT_TEXT(200,183,160,22,data.name);
		LODOP.ADD_PRINT_TEXT(138,303,36,20,data.yd_j_time[0]);
		LODOP.ADD_PRINT_TEXT(135,364,22,20,data.yd_j_time[1]);
		LODOP.ADD_PRINT_TEXT(137,400,21,20,data.yd_j_time[2]);
		LODOP.ADD_PRINT_TEXT(583,463,34,20,"");
		LODOP.ADD_PRINT_TEXT(582,537,24,20,"");
		LODOP.ADD_PRINT_TEXT(581,508,24,20,"");
		LODOP.ADD_PRINT_TEXT(582,635,34,20,"");
		LODOP.ADD_PRINT_TEXT(581,701,24,20,"");
		LODOP.ADD_PRINT_TEXT(580,671,24,20,"");
		LODOP.ADD_PRINT_TEXT(168,410,111,22,data.tclxr[2]);
		LODOP.ADD_PRINT_TEXT(235,314,104,22,data.tel);
		LODOP.ADD_PRINT_TEXT(235,469,208,22,data.identity);
		LODOP.ADD_PRINT_TEXT(200,158,416,22,data.address);
		LODOP.ADD_PRINT_TEXT(265,202,30,17,data.number[4]);
		LODOP.ADD_PRINT_TEXT(266,271,30,17,data.number[3]);
		LODOP.ADD_PRINT_TEXT(269,334,30,17,data.number[2]);
		LODOP.ADD_PRINT_TEXT(268,394,30,17,data.number[1]);
		LODOP.ADD_PRINT_TEXT(267,466,30,17,data.number[0]);
		LODOP.ADD_PRINT_TEXT(338,158,177,22,data.brand);
		LODOP.ADD_PRINT_TEXT(337,511,177,22,data.carmark);
	};
</script>
</body>
</html>