<include file='public:head'/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
		#l-map{height:100%;width:78%;float:left;border-right:2px solid #bcbcbc;}
		#r-result{height:100%;width:20%;float:left;}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=zyuElynGLUdY8GGV3TY2lU0e4BoLePCn"></script>
	
<body>
<include file='public:header'/>

<div id="main-pyf">
	<include file='public:left'/>
		<button class="red btn btn-default5 fr" style="position:relative;z-index:800;" type="button" onclick="history.back(-1)">返回上一级</button>
		<div id="content" style="position:relative;">
			<div id="allmap" style="position:absolute;z-index:500;left:0px;top:50px;width:100%;height:100%;"></div>
		</div>
	</div>
</body>
</html>

	<p>点击标注点，可查看由纯文本构成的简单型信息窗口</p>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能	
	map = new BMap.Map("allmap");
	
	//map.centerAndZoom(new BMap.Point({$lon},{$lat}),8); 
	setTimeout(function(){
		map.setZoom(14);   
	}, 2000);  //2秒后放大到14级
	map.enableScrollWheelZoom(true);
	
	map.centerAndZoom(new BMap.Point({$lon},{$lat}), 15);
	var data_info = {$data};
	var opts = {
				width : 250,     // 信息窗口宽度
				height: 80,     // 信息窗口高度
				title : "信息窗口" , // 信息窗口标题
				enableMessage:true//设置允许信息窗发送短息
			   };
	for(var i=0;i<data_info.length;i++){
		var marker = new BMap.Marker(new BMap.Point(data_info[i][0],data_info[i][1]));  // 创建标注
		var content = data_info[i][2];
		map.addOverlay(marker);               // 将标注添加到地图中
		addClickHandler(content,marker);
	}
	function addClickHandler(content,marker){
		marker.addEventListener("click",function(e){
			openInfo(content,e)}
		);
	}
	function addClickHandler(content,marker){
		marker.addEventListener("click",function(e){
			openInfo(content,e)}
		);
	}
	function openInfo(content,e){
		var p = e.target;
		var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
		var infoWindow = new BMap.InfoWindow(content,opts);
		map.openInfoWindow(infoWindow,point);
	}
	</script>
		
		
		
		