<include file="Public:head" />
<body>
<script src="/Public/JS/jquery.Huploadify.js"></script>
<script src="/Public/JS/jquerytool_1.0v.js"></script>
<script src="laydate/laydate.js"></script>
<script language="javascript" src="/Public/JS/LodopFuncs.js"></script>

<style>
.tan11 h2{margin-bottom:10px;}
.hk1 input{line-height:30px;height:30px;}
.hk1{margin-bottom:5px;}
</style>
<include file="Public:header" />
<div id="main-pyf">
   <include file="Public:left" />
	<script type="text/javascript">
			var id = "";
			$('#sidebar ul li a').each(function(index, el) {
				console.log($(this).attr('type'));
				if ($(this).attr('type') == id) {
					$(this).parent().addClass('active');
				}
			});
	</script>
	<div id="content">
		<div class="row">
			<div class="tsan113">
				<div class="widget">
					<div class="tabbable">
						<ul class="nav nav-tabs dd" id="tabnav">
						</ul>
						<div class="tab-content1">
						<div class="dq5">
							<p>请输入优惠劵面值（元）</p>
							<dl><input type="text" class="i_n text2" id="fav_price" placeholder="请输入优惠劵面值（元）" name="fav_price" value=""></dl>
							<p>请选择优惠劵可用时间</p>
							<dl>
								<input type="text" id="startime" onclick="laydate({istime: true, format: 'YYYY-MM-DD '})" class="i_n text2 dh1" placeholder="开始时间" name="fav_startime" value="">
								<input type="text" id="endtime" onclick="laydate({istime: true, format: 'YYYY-MM-DD '})" class="i_n text2 dh2" placeholder="结束时间" name="fav_endtime" value="">
							</dl>
							<div class="skty1">
								<span>姓名</span>
								<input type="text"  class="input2" placeholder="姓名" id="datau1" value="">
								<span>电话</span>
								<input type="text" class="input2" placeholder="电话" id="datau2" value="">
								<button class="btn btn-default7" onclick="datau11()"  type="button">增加</button>
							</div>
					    </div>
						<div class="skty2">
							<div class="skty3">
								<div class="skty4">
									<table> 
										<thead>
											<tr>
												<th class="dsmt1">姓名</th>
												<th class="dsmt2">电话</th>
												<th class="dsmt1">操作</th>
											</tr>
										</thead>
									</table> 
									<div class="skty6">
										<table> 
											<tbody id="dddt">
							
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="skty5">
								<div class="v_pb">
									<input type="text" placeholder="提车人姓名" class="i_n text2 width360" name="car_name" value="" id="text">
									<button class="btn btn-default5" type="submit" id="sea">搜索</button>
								</div>
								<div class="skty4">
									<table> 
										<thead>
											<tr>
												<th class="dsmt1">选择</th>
												<th class="dsmt3">姓名</th>
												<th class="dsmt4">电话</th>
											</tr>
										</thead>
									</table> 
									<div class="skty6">
										<table> 
											<tbody id="table">
												<foreach name="userList" item="va" >
												<tr>
													<td class="dsmt1 td3"><input data1="{$va['user_name']}" data2="{$va['tel']}" type="checkbox" class="box" name="code[]" value="14"></td>
													<td class="dsmt3">{$va['user_name']}</td>
													<td class="dsmt4">{$va['tel']}</td>
												</tr>
												</foreach>
											</tbody>
										</table>
									</div>
								</div>
								<div class="sad">
									<button type="button" class="btn btn-default5" onclick="selectAll();">全选</button>
									<button type="button" onclick="data11()" class="btn btn-default6">添加</button>
								</div>
								<script>
									function data11(){
										
										var str='';
										$('.skty5 .td3 input:checked').each(function (k,v){
					str+='<tr><td class="dsmt1">'+$(this).attr('data1')+'</td><td class="dsmt2">'+$(this).attr('data2')+'</td><td class="dsmt1"><a class="see1 sa1" onclick="tyty(this)">删除</a></td></tr>';
										$(this).parent().parent().remove();
										})
										$('#dddt').append(str);
										
									}
									
									function datau11(){
										
										var str='';
					str+='<tr><td class="dsmt1">'+$('#datau1').val()+'</td><td class="dsmt2">'+$('#datau2').val()+'</td><td class="dsmt1"><a class="see1 sa1" onclick="tyty(this)">删除</a></td></tr>';
								
										$('#dddt').append(str);
										
									}
									
									function tyty(t){
										$(t).parent().parent().remove();
									}									
									function selectAll(){
										if($(".skty5 .td3").children('input:checked').length==0){
											$(".skty5 .td3").children().attr('checked',true);
										}else{
											$(".skty5 .td3").children().removeAttr('checked');
										}
									}
								</script>
								<script>
								$("#sea").click(function(){
									var text=$("#text").val();
									if(text==''){
										alert('请输入内容');
										return false;
									}
									$.post("__MODULE__/Couponyjh/addFav",{text:text},function(data){
										 var len=data.length;
										 var str='';
										 $("#table").html('');
										 for(var i=0;i<len;i++){
											 str += "<tr>";
										     str += "<td class='dsmt1 td3'><input data1='"+data[i]['user_name']+"' data2='"+data[i]['tel']+"' type='checkbox' class='box' name='code[]' value='14'></td>";
										     str +="<td class='dsmt3'>"+data[i]['user_name']+"</td>";
											 str +=	"<td class='dsmt4'>"+data[i]['tel']+"</td>";
										     str +="</tr>";
										 }
										 $("#table").append(str);
									})
								})
								function subFun(){
									var fav_price=$("#fav_price").val();
									var startime=$("#startime").val();
									var endtime=$("#endtime").val();
									var len=$("#dddt").find('tr').length;
									if(fav_price==''){
										alert('请输入金额');
										return false;
									}
									if(startime==''){
										alert('请输入开始日期');
										return false;
									}
									if(endtime==''){
										alert('请输入结束日期');
										return false;
									}
									if(len==''){
										alert('请添加用户');
										return false;
									}
									 $("#dddt").find('tr').each(function(){
										 var user_name=$(this).find(".dsmt1").html();
										 var user_phone=$(this).find(".dsmt2").html();
									     $.post("__MODULE__/Couponyjh/couponDoAdd",{fav_price:fav_price,fav_startime:startime,fav_endtime:endtime,user_name:user_name,user_code:user_phone},function(data){
									    	
									    	 window.location.href="__MODULE__/Couponyjh/couponList";
			 						     });
									 });
									 
								}
								</script>
							</div>
						</div>
						<div style="clear:both"></div>
						<hr/>
						<div class="sad1">
							<button class="btn btn-default7" type="button" onclick="subFun();">确定</button>
							<a href="__MODULE__/Couponyjh/couponList"><button class="btn btn-default8" type="button">取消</button></a>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /row -->
<script src="js/li.js"></script>
</body>
</html>