	    <!DOCTYPE html>
	<html>
	<head>
		<title>数据库备份</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, ,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5, user-scalable=no" />
		<link rel="stylesheet" href="__BACK__/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__BACK__/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="__BACK__/css/unicorn.main.css" />
		<link rel="stylesheet" href="__BACK__/css/unicorn.grey.css" class="skin-color" />
		<link rel="stylesheet" href="__BACK__/css/li.css" class="skin-color" />
		<link href="__BACK__/css/adminia.css" rel="stylesheet" />
		<link href="__BACK__/css/yao.css" rel="stylesheet" class="skin-color" />
	
		<script src="__JS__/jquery-1.7.2.min.js"></script>
		<script src="__BACK__/js/bootstrap.js"></script>
		<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<![endif]-->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style>.l_table table tr td.td_d{width:200px;}</style>
	</head>
    <body>
        <include file='public:header'/>
        </div>
        <div id="main-pyf">
            <include file='public:left'/>
            <div id="content">
                <!-- <div class="ico-pt span12">
                <h4>店铺管理</h4>
                </div>
                -->
                <div class="row">
                    <div class="tsan113">
                        <div class="widget">
                            <div class="tabbable">
                                <ul class="nav nav-tabs" id="tabnav">
                                    <li>
                                        <a href="{:U('Database/exportPage')}">
                                            	数据库备份
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="{:U('Database/importPage')}">
                                            	数据库还原
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content1">
                                    <div class="tab-content">
                                        <div class="control-group">
                                            &nbsp;&nbsp;&nbsp;
                                            <input type="text" value="数据库还原请慎用" class="fgru" style="margin-left:0px;margin-right:5px;color: red;" disabled="disabled">
                                        </div>
                                        <div class="tab-pane active">
                                            <form id="edit-profile" class="form-horizontal" />
                                            <fieldset>
                                                <div class="l_uit">
                                                    <script>
                                                        $(function() {
                                                            $('table tr.tr2:odd').css('background', '#F0F0F0');
                                                        });
                                                    </script>
                                                    <div class="l_table">
                                                        <table>
                                                            <tr class="tr1">
                                                                <td>
                                                                	备份名称
                                                                </td>
                                                                <td>
                                                                	卷数
                                                                </td>
                                                                <td>
                                                                	数据大小
                                                                </td>
                                                                <td>
                                                                	备份时间
                                                                </td>
                                                                <td>
                                                                	操作
                                                                </td>
                                                            </tr>
                                                            <volist name="list" id="data" key='k'>
													          <tr>
										                        <td>{$data.time|date='Ymd-His',###}</td>
										                        <td>{$data.part}</td>
										                        <td>{$data.size|format_bytes}</td>
										                        <td>{$data.time|date='Y-m-d H:i:s',###}</td>
										                        <td class="action">
											                        <a class="see1" href="{:U('import?time='.$data['time'])}">还原</a>&nbsp;
                  													<a class="see2" href="{:U('del?time='.$data['time'])}" onclick="if(confirm('确定删除?')==false)return false;">删除</a>
										                        </td>
										                    </tr>
													       	</volist>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="l_fenye">
													{$list.show}
												</div>
                                            </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /widget -->
                    </div>
                    <!-- /span11 -->
                </div>
                <!-- /row -->
            </div>
        </div>
</body>
</html>
