<include file='public:head'/>
<body>
<include file='public:header'/>
<div id="main-pyf">
    <include file='public:left'/>
        <div id="content">
            <div style="width: 675px;margin: auto;">
                <a href="__MODULE__/Queryprice/portform"><input type="button" value="导入"></a>
                <span>出发地：</span>
                <select class="prov" id="start" style="height: 33px;width:100px">
                    <option value="0">请选择</option>
                    <volist name="area" id="v">
                        <option value="{$v.area_id}">{$v.area_name}</option>
                    </volist>
                </select>
                <select id="start_city" style="height: 33px;width:100px">
                    <option value="0">请选择</option>
                </select>
                <span>目的地：</span>
                <select class="prov" id="end" style="height: 33px;width:100px">
                    <option value="0">请选择</option>
                    <volist name="area" id="v">
                        <option value="{$v.area_id}">{$v.area_name}</option>
                    </volist>
                </select>
                <select id="end_city" style="height: 33px;width:100px">
                    <option value="0">请选择</option>
                </select>
                <input id="serch" type="button" value="查询">
                <!--<form method="post" action="__MODULE__/Queryprice/portprice" enctype="multipart/form-data">
                    <input type="file" name="csvFile">
                    <input type="submit" value="提交">
                </form>-->
                <div style="margin-top: 20px;height:200px;">
                    <span id="line"></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).on('change','.prov',function(){
        id = $(this).val();
        type = $(this).attr('id');
        if(type == 'start'){
            obj = $('#start_city');
        }else{
            obj = $('#end_city');
        }
        $.post('__MODULE__/Queryprice/getcity',{'id':id},function(data){
            obj.html(data);
        })
    })

    $(document).on('click','#serch',function(){
        start = $("#start").val();
        start_city = $("#start_city").val();
        end = $("#end").val();
        end_city = $("#end_city").val();
        if(type == 'start'){
            obj = $('#start_city');
        }else{
            obj = $('#end_city');
        }
        $.post('__MODULE__/Queryprice/getprice',{'start':start,'start_city':start_city,'end':end,'end_city':end_city},function(data){
            if(data == ''){
                $('#line').html('暂无报价');
            }else{
                $('#line').html(data);
            }

        })
    })
</script>