<include file='public:head'/>
<script src="__BACK__/laydate/laydate.js"></script>
<script src="__JS__/jquerytool_1.0v.js"></script>
<body>

	<include file='public:header'/>
	<div id="main-pyf">
		<include file='public:left'/>
		<div id="content">
			<!-- 		<div class="ico-pt span12">
			<h4>店铺管理</h4>
		</div>
		-->
		<div class="row">

			<div class="tsan113">

				<div class="widget">
					
					<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">
							<li>
								<a href="__MODULE__/Finance/getFinanceList/">财务管理</a>
							</li>
							<li class="active">
								<a href="__MODULE__/Finance/carOrderList/">提车人订单</a>
							</li>
						</ul>
						<div class="tab-content1">
							<div class="tab-content">
								<div class="tab-pane active">
									<fieldset>
										<div class="l_uit">
											</div>
											<script>
												$(function(){
													$('table tr.tr2:odd').css('background','#F0F0F0');
												});
											</script>
											<div class="l_table">
												<table>
													<tr class="tr1">
														<td>订单编号</td>
														<td>下单者</td>
														<td>下单者手机号</td>
														<td style="width: 100px;">下单时间</td>
														<td>订单金额</td>
														<td>提车员编号</td>
														<td>提车员名称</td>
														<td>出发地</td>
														<td>目的地</td>
														<td>接车时间</td>
														<td>送车时间</td>
													</tr>
													<foreach name="list" item="vo">
													<tr class="tr2">
														<td>{$vo.order_code}</td>
														<td>{$vo.user_name}</td>
														<td>{$vo.user_tel}</td>
														<td>{$vo.order_time}</td>
														<td>{$vo.order_info_zj}</td>
														<td title="{$vo.car_code}">{$vo.carCode}</td>
														<td>{$vo.car_name}</td>
														<td>{$vo.ss_cfd}<br>{$vo.q_cfd}</td>
														<td>{$vo.car_mdd}</td>
														<td>{$vo.car_jc_time}</td>
														<td>{$vo.car_sc_time}</td>
													</tr>
													</foreach>
												</table>
											</div>
											<div class="l_fenye">
												<if condition="$num neq 0">
												{$page}
												</if>
											</div>
										</div>
									</fieldset>
									</div>

								</div>
							</div>

						</div>

					</div>
					<!-- /widget -->

				</div>
				<!-- /span11 -->

			</div>
			<!-- /row -->

		</div>
	</div>
<script>
function selectAll(sel){  //全选  全不选
		$(".box").attr('checked',sel.checked);
			var hhk=$(".td3 input[type='checkbox']:checked");
		var sum=0;
		hhk.each(function(k,v){
			sum=sum+parseFloat($(v).attr('names'));
		});
		$("#total").html(sum);
}
function daochu(){
	var selid = '';
		  $(".box:checked").each(function(){
			   if(selid==''){
				   selid=$(this).val();
			   }else{
				   selid = selid+','+$(this).val();
			   }

		  })
		  //alert(selid);
		  if(selid == ""){
			$.anewAlert('请勾选想导出的订单！');
			return false;
		  }else{
			window.location.href="__MODULE__/Finance/daochu/code/"+selid;
		  }

}
</script>

</body>
</html>