<include file="Public:head" />
<body>
<script>
	$(document).ready(function(){
		$("#tabnav").find('li[id="{$sec}"]').addClass('active').siblings().removeClass();
		$("#brandb").find('option[value="{$brands}"]').attr('selected',true);
		if('{$type}'!=''){
			$.post('__MODULE__/Product/car_act', {brand:'{$brands}'}, function(data) {
	            var _html = "";
	            for (var i = 0; i < data.length; i++) {
	            	if('{$type}'==data[i]['cxjj_id']){
	            		_html += "<option value='"+data[i]['cxjj_id']+"' selected='selected' class='delc'>"+data[i]['cxjj_brand']+"</option>"
	            	}
	            	_html += "<option value='"+data[i]['cxjj_id']+"' class='delc'>"+data[i]['cxjj_brand']+"</option>"
	            }
	            $('#type').append(_html);
	        },'json');
		}
		/* if('{$coval.cid}'!=''){
			$.post('__MODULE__/Product/area_act', {provinceid:'{$cval.cid}'}, function(data) {
	            var _html = "";
	            for (var i = 0; i < data.length; i++) {
	            	if('{$coval.cid}'==data[i]['area_id']){
	            		_html += "<option value="+data[i]['area_id']+" selected='selected' class='delb'>"+data[i]['area_name']+"</option>"
	            	}
	                _html += "<option value="+data[i]['area_id']+">"+data[i]['area_name']+"</option>"
	            }
	            $('#county').append(_html);
	        },'json');
		}*/
	}) 
	//获取市

</script>
<include file="Public:header" />
<div id="main-pyf">
	<include file="Public:left" />

	<div id="content">
		<!-- 		<div class="ico-pt span12">
		<h4>店铺管理</h4>
	</div>
	-->
	<div class="row">

		<div class="tsan113">

			<div class="widget">

				<div class="tabbable">
					<ul class="nav nav-tabs" id="tabnav">
						<li id="area">
							<a href="__MODULE__/Product/area">区域管理</a>
						</li>
						<li id="bulk">
							<a href="__MODULE__/Product/bulk/provincea/f/city/f">集散地管理</a>
						</li>
						<li id="star">
							<a href="__MODULE__/Product/star/provincea/f/city/f/county/f">出发地管理</a>
						</li>
						<li id="end">
							<a href="__MODULE__/Product/end/provincea/f/city/f">送车地管理</a>
						</li>
						<li id="visitend">
							<a href="__MODULE__/Product/visitend/provincea/f/city/f/county/f">上门送车管理</a>
						</li>
						<li id="product_line">
							<a href="__MODULE__/Product/product_line/provincea/f/city/f/county/f">直发管理</a>
						</li>
						<li id="maoli">
							<a href="__MODULE__/Product/maoli/provincea/f/provinceb/f">毛利管理</a>
						</li>
						<li id="arctic" class="active">
							<a href="__MODULE__/Product/arctic/brand/f/type/f">车型加价</a>
						</li>
					</ul>

					<div class="tab-content1">
						<div class="tab-content">
							<div class="tab-pane active">
								<!-- <form id="edit-profile" class="form-horizontal" /> -->
								<fieldset>
									<div class="l_uit">
										<div class="control-group">

											<div style="float:left;" class="controls clec_t">
												<div class="dropdown">
													<select class="height46" name="" id="brandb">
														<option value="f">请选择品牌</option>
														<volist name="brand" id="vo">
														<option value="{$vo.cxjj_id}">{$vo.cxjj_brand}</option>
														</volist>
													</select>
													<select class="height46" name="" id="type">
														<option value="f">请选择车型</option>
													</select>
												</div>

												<div class="v_pb">
													<button id="btn" class="btn btn-default5" type="button">搜索</button>
												</div>

											</div>
											<!-- /controls -->
											<button data-toggle="modal" data-target="#myModa2" class="red btn btn-default5 fr" id="add" type="button">添加</button>

										</div>
										<script>
											$(function(){
												$('table tr.tr2:odd').css('background','#F0F0F0');
											});
											
										</script>
										<div class="l_table">
											<table>
												<tr class="tr1">
													<td>品牌</td>
													<td>车型</td>
													<td>整备质量</td>
													<td>所属类别</td>
													<td>操作</td>

												</tr>
												<volist name="list" id="vo">
												<tr class="tr2">
													<td class="td3">{$vo.branda}</td>
													<td>{$vo.cxjj_brand}</td>
													<td>{$vo.cxjj_quality}</td>
													<td>
													<if condition="$vo['cxjj_category'] eq 'ml_price_one'" >
													1类车毛利
													<elseif condition="$vo['cxjj_category'] eq 'ml_price_two'"/>
													2类车毛利
													<elseif condition="$vo['cxjj_category'] eq 'ml_price_three'"/>
													3类车毛利
													<elseif condition="$vo['cxjj_category'] eq 'ml_price_four'"/>
													4类车毛利
													<elseif condition="$vo['cxjj_category'] eq 'ml_price_five'"/>
													5类车毛利
													</if>
													</td>
													<td>
														<a class="see4" data-code="{$vo.cxjj_id}">删除</a>
															<a data-toggle="modal" data-target="#myModa2"
															code="{$vo.cxjj_code}"
															 bid="{$vo.cxjj_id}"
															 branda="{$vo.branda}"
															 brand="{$vo.cxjj_brand}"
															 pid="{$vo.cxjj_pid}"
															 cxjj_types="{$vo.cxjj_types}"
															 cxjj_quality="{$vo.cxjj_quality}"
															 cxjj_category="{$vo.cxjj_category}"
															 class="see1">修改</a>
													</td>
												</tr>
												</volist>

											</table>

										</div>
										<div class="l_fenye">
											<div class="sad">
												<button type="button" data-toggle="modal" data-target="#hfvei" class="btn btn-default5">导入</button>
												<a href="__MODULE__/Product/daochu_carXing"><button type="button" class="btn btn-default6">导出</button></a>
											</div>
											{$page}
										</div>
									</div>
								</fieldset>
							<!-- </form> -->
						</div>

					</div>
				</div>

			</div>

		</div>
		<!-- /widget -->

	</div>
	<!-- /span11 -->

</div>
<!-- /row -->

</div>
</div>
<!--弹层-->
<div id="myModa2" style="display:none; z-index:9999" class="tan1">
	<div class="tan11">
	<!-- <form action="__MODULE__/Product/arcticadd" method="post"> -->
		<h2>车型加价</h2>
		<div class="dw5">
			<dl>
				<dt>
					<select class="dh5" name="branda" id="branda">
						<option value="0">请选择品牌</option>
						<volist name="brand" id="vo">
							<option value="{$vo.cxjj_id}">{$vo.cxjj_brand}</option>
						</volist>
					</select>
					<select class="dh5" name="brand" id="brand">
						<option value="">请选择车型</option>
					</select>

				</dt>
			</dl>
			<dl>
				<img src="__BACK__/images/dw1.png"></dl>
			<dl>
				<input type="hidden" id="code" value="">
				<input type="text" name="cxjj_types" id="cxjj_types" placeholder="类型" class="kk3"></dl>
			<dl><input type="text" name="cxjj_quality" id="cxjj_quality" placeholder="整备质量" class="kk3"></dl>
			<dl>
			        <select class="dh5" name="cxjj_category" id="cxjj_category">
						<option value="">请选择类别</option>
						<option value="ml_price_one">1类车毛利</option>
						<option value="ml_price_two">2类车毛利</option>
						<option value="ml_price_three">3类车毛利</option>
						<option value="ml_price_four">4类车毛利</option>
						<option value="ml_price_five">5类车毛利</option>
					</select>
			</dl>
			
			
		</div>
		<p>
			<input type="submit" id="sub" class="put1" value="确认"></p>
		<!-- </form> -->
	</div>

</div>
<div id="hfvei" style="display:none; z-index:9999" class="tan1">
<div class="tan11">
<h2>导入数据</h2>
<form action="__MODULE__/Product/daoru_carXing" method="post" enctype="multipart/form-data">
<div class="dw4">
	<input type="file" name="csvFile">
</div>
<span>注：导入操作会删除原有数据</span>
<p>
    <input type="submit" class="put1" value="确认"></p>
</form></div>
</div>
<script>
	//添加
	$('#add').click(function(event) {
		$('#branda option').each(function(index, el) {
            if (0 == $(this).val()) {
                $(this).attr('selected',true);
            }
        });
        var city = "<option value='0'>请选择车型</option>";
        $('#brand').html(city);
        $('#price').val('');
    });
	//提交
	$('#sub').click(function(event) {
		var branda = $('#branda').val();
		var brand = $('#brand').val();
		var cxjj_types = $('#cxjj_types').val();
		var cxjj_quality = $('#cxjj_quality').val();
		var cxjj_category = $('#cxjj_category').val();
		
		if (branda == '') {
			$.anewAlert('品牌不能为空！');
            return false;
		} else if (brand == "") {
            $.anewAlert('车型不能为空！');
            return false;
        } else if (cxjj_category == "") {
            $.anewAlert('类别不能为空！');
            return false;
        } /* else if (!$.isPositiveNum(price)) {
            $.anewAlert('价格填写错误');
            return false;
        } */
		$.post('__MODULE__/Product/arcticadd', {branda:branda,brand:brand,cxjj_types:cxjj_types,cxjj_quality:cxjj_quality,cxjj_category:cxjj_category}, function(data) {
			console.log(data);
			if(data['status'] == 'Y'){
                $.anewAlert(data['info']);
                window.location.reload();
            } else {
                $.anewAlert(data['info']);
            }
		});
	});
	//获取类型
    $('#brandb').change(function(event) {
        // alert($(this).val());
        $(".delc").remove();
        var brand = $(this).val();
        $.post('__MODULE__/Product/car_act', {brand: brand}, function(data) {
            var _html = "";
            for (var i = 0; i < data.length; i++) {
                _html += "<option value='"+data[i]['cxjj_id']+"' class='delc'>"+data[i]['cxjj_brand']+"</option>"
            }
            $('#type').append(_html);
        },'json');
    });
	//获取类型
    $('#branda').change(function(event) {
        // alert($(this).val());
        var brand = $(this).val();
        $.post('__MODULE__/Product/car_act', {brand: brand}, function(data) {
            var _html = "<option>请选择车型</option>";
            for (var i = 0; i < data.length; i++) {
                _html += "<option value="+data[i]['cxjj_id']+">"+data[i]['cxjj_brand']+"</option>"
            }
            $('#brand').html(_html);
        },'json');
    });
    //搜索
    $('#btn').click(function(event) {
        var brandb = $('#brandb').val();
        var type = $('#type').val();
        window.location.href="__MODULE__/Product/arctic/brand/"+brandb+"/type/"+type;
    });
    //删除    
    $('.see4').click(function(event) {
        var code = $(this).attr('data-code');
        if (confirm('确定删除此信息吗？')) {
            $.post('__MODULE__/Product/arcticdel', {code: code}, function(data) {
                alert(data);
                window.location.reload();
            },'json');
        }
    })
    //修改
    $('.see1').click(function(event) {
    	var code = $(this).attr('code');
    	var bid = $(this).attr('bid');
    	var branda = $(this).attr('branda');
    	var brand = $(this).attr('brand');
    	//var price = $(this).attr('price');
    	var pid = $(this).attr('pid');
    	var cxjj_types=$(this).attr('cxjj_types');
    	var cxjj_quality=$(this).attr('cxjj_quality');
    	var cxjj_category=$(this).attr('cxjj_category');
    	//console.log(price);
        //$('#price').val(price);
        $('#cxjj_types').val(cxjj_types);
        $('#cxjj_quality').val(cxjj_quality);
    	$('#branda option').each(function(index, el) {    		
    		if (pid == $(this).val()) {
    			$(this).attr('selected',true);
    		}
    	});
        var _htmlt = "<option selected value="+bid+">"+brand+"</option>";
        var str = "<option value=''>请选择类别</option><option value='ml_price_one'";
        if(cxjj_category=='ml_price_one'){
        	str +="selected='selected'>1类车毛利</option><option value='ml_price_two'";
        }else{
        	str +=">1类车毛利</option><option value='ml_price_two'";
        }
        if(cxjj_category=='ml_price_two'){
        	str +="selected='selected'>2类车毛利</option><option value='ml_price_three'";
        }else{
        	str +=">2类车毛利</option><option value='ml_price_three'";
        }
        if(cxjj_category=='ml_price_three'){
        	str +="selected='selected'>3类车毛利</option><option value='ml_price_four'";
        }else{
        	str +=">3类车毛利</option><option value='ml_price_four'";
        }
        if(cxjj_category=='ml_price_four'){
        	str +="selected='selected'>4类车毛利</option><option value='ml_price_five'";
        }else{
        	str +=">4类车毛利</option><option value='ml_price_five'";
        }
        if(cxjj_category=='ml_price_five'){
        	str +="selected='selected'>5类车毛利</option>";
        }else{
        	str +=">5类车毛利</option>";
        }
        $('#brand').html(_htmlt);
        $("#cxjj_category").html(str);
        $('#code').val(code);
    });
</script>
</body>
</html>