<include file="Public:head" />
<body>
<script src="__JS__/jquerytool_1.0v.js"></script>
<include file="Public:header" />
<div id="main-pyf">
    <include file="Public:left" />

    <div id="content">
        <div class="row">

            <div class="tsan113">

                <div class="widget">

                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="tabnav">
						<li id="area">
							<a href="__MODULE__/Product/area">区域管理</a>
						</li>
						<li id="bulk">
							<a href="__MODULE__/Product/bulk/provincea/f/city/f">集散地管理</a>
						</li>
						<li id="star">
							<a href="__MODULE__/Product/star/provincea/f/city/f/county/f">出发地管理</a>
						</li>
						<li id="end">
							<a href="__MODULE__/Product/end/provincea/f/city/f">送车地管理</a>
						</li>
						<li id="visitend">
							<a href="__MODULE__/Product/visitend/provincea/f/city/f/county/f">上门送车管理</a>
						</li>
						<li id="product_line">
							<a href="__MODULE__/Product/product_line/provincea/f/city/f/county/f">直发管理</a>
						</li>
						<li id="maoli">
							<a href="__MODULE__/Product/maoli/provincea/f/provinceb/f">毛利管理</a>
						</li>
						<li id="arctic" class="active">
							<a href="__MODULE__/Product/arctic/brand/f/type/f">车型加价</a>
						</li>
					</ul>

                        <div class="tab-content1">
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <form id="edit-profile" class="form-horizontal" />
                                    <fieldset>
                                        <div class="l_uit">
                                            <div class="control-group">

                                                <div style="float:left;" class="controls clec_t">
                                                <script>
                                                	$(document).ready(function(){
                                                		$("#tabnav").find('li[id="{$sec}"]').addClass('active').siblings().removeClass();
                                                		$("#provincea").find('option[value="{$pval.pid}"]').attr('selected',true);
                                                		if('{$cval.cid}'!=''){
                                                			$.post('__MODULE__/Product/area_act', {provinceid:'{$pval.pid}'}, function(data) {
                                                	            var _html = "";
                                                	            for (var i = 0; i < data.length; i++) {
                                                	            	if('{$cval.cid}'==data[i]['area_id']){
                                                	            		_html += "<option value="+data[i]['area_id']+" selected='selected' class='delc'>"+data[i]['area_name']+"</option>"
                                                	            	}
                                                	                _html += "<option value="+data[i]['area_id']+" class='delc'>"+data[i]['area_name']+"</option>"
                                                	            }
                                                	            $('#city').append(_html);
                                                	        },'json');
                                                		}
                                                		if('{$coval.cid}'!=''){
                                                			$.post('__MODULE__/Product/area_act', {provinceid:'{$cval.cid}'}, function(data) {
                                                	            var _html = "";
                                                	            for (var i = 0; i < data.length; i++) {
                                                	            	if('{$coval.cid}'==data[i]['area_id']){
                                                	            		_html += "<option value="+data[i]['area_id']+" selected='selected' class='delb'>"+data[i]['area_name']+"</option>"
                                                	            	}
                                                	                _html += "<option value="+data[i]['area_id']+">"+data[i]['area_name']+"</option>"
                                                	            }
                                                	            $('#county').append(_html);
                                                	        },'json');
                                                		}
                                                	})
                                                	//获取市

                                                </script>
                                                    <div class="dropdown">
                                                        <select class="height46" id="provincea" name="">
                                                            <option value="">请选择省份</option>
                                                           <!--  <empty name="pval.pid">
                                                                <option selected="selected" value="">请选择省份</option>
                                                                <else />
                                                                <option selected="selected" value="{$pval.pid}">{$pval.area_name}</option>
                                                            </empty> -->
                                                            <volist name="provincea" id="vv">
                                                                <option value="{$vv.area_id}">{$vv.area_name}</option>
                                                            </volist>
                                                        </select>
                                                        <select class="height46" name="" id="city">
                                                            <option value="">请选择市</option>
                                                            <!-- <empty name="cval.cid">
                                                                <option selected="selected" value="">请选择市</option>
                                                                <else />
                                                                <option selected="selected" value="{$cval.cid}">{$cval.area_name}</option>
                                                            </empty> -->
                                                        </select>
                                                        <select class="height46" name="" id="county">
                                                            <option value="">请选择区</option>
                                                            <!-- <empty name="coval.cid">
                                                                <option selected="selected" value="">请选择区</option>
                                                                <else />
                                                                <option selected="selected" value="{$coval.cid}">{$coval.area_name}</option>
                                                            </empty> -->
                                                        </select>
                                                    </div>

                                                    <div class="v_pb">
                                                        <button id="btn" class="btn btn-default5" type="button">搜索</button>
                                                    </div>

                                                </div>
                                                <!-- /controls -->
                                                <button data-toggle="modal" data-target="#myModa1" class="btn btn-default5 fr" id="addco" style="margin-right:10px;" type="button">添加区</button>
                                                <button data-toggle="modal" data-target="#myModa2" class="btn btn-default5 fr" id="addc" style="margin-right:10px;" type="button">添加市</button>
                                                <button data-toggle="modal" data-target="#myModa3" class="btn btn-default5 fr" id="addp" style="margin-right:10px;" type="button">添加省</button>

                                            </div>
                                            <script>

                                            /* $('#btn').click(function(event) {
                                                var provincea = $('#provincea').val();
                                                var city = $('#city').val();
                                                var county = $('#county').val();
                                                alert(provincea);
                                                alert(city);
                                                alert(county);
                                               // return false;
                                                window.location.href="__MODULE__/Product/area/provincea/"+provincea+"/city/"+city+"/county/"+county;
                                            }); */
                                            $('#provincea').change(function(event) {
                                                // alert($(this).val());
                                                var provinceid = $(this).val();
                                                $(".delc").remove();
                                                $.post('__MODULE__/Product/area_act', {provinceid: provinceid}, function(data) {
                                                    var _html = "";
                                                    for (var i = 0; i < data.length; i++) {
                                                        _html += "<option value="+data[i]['area_id']+" class='delc'>"+data[i]['area_name']+"</option>"
                                                    }
                                                    $('#city').append(_html);
                                                },'json');
                                            });
                                            //获取区县
                                            $('#city').change(function(event) {
                                                var city = $(this).val();
                                                $(".delb").remove();
                                                $.post('__MODULE__/Product/area_act', {provinceid: city}, function(data) {
                                                    var _html = "";
                                                    for (var i = 0; i < data.length; i++) {
                                                        _html += "<option value="+data[i]['area_id']+" class='delb'>"+data[i]['area_name']+"</option>"
                                                    }
                                                    $('#county').append(_html);
                                                },'json');
                                            });
                                            //搜索
                                            $('#btn').click(function(event) {
                                                var provincea = $('#provincea').val();
                                                var city = $('#city').val();
                                                var county = $('#county').val();
                                                if((provincea!=''&&city=='')||(provincea==''&&city!='')){
                                                	$.anewAlert('省市不能为空');
                                                	return false;
                                                }
                                                window.location.href="__MODULE__/Product/area/provincea/"+provincea+"/city/"+city+"/county/"+county;
                                            });

                                                $(function(){
                                                    $('table tr.tr2:odd').css('background','#F0F0F0');
                                                });

                                            </script>
                                            <div class="l_table">
                                                <table>
                                                    <tr class="tr1">
                                                        <td>省份</td>
                                                        <td>地市</td>
                                                        <td>可到达</td>
                                                        <td>区县</td>
                                                        <td>可提车</td>
                                                        <td>操作</td>

                                                    </tr>
                                                    <volist name="list" id="vo">
                                                        <tr class="tr2">
                                                            <td class="td3">{$vo.province}</td>
                                                            <td>{$vo.city}</td>
                                                            <td><input type="checkbox" <if condition="$vo['area_set'] eq 'Y'" >checked="checked" </if> onclick="changeStatus(this,{$vo['area_pid']},1)"/></td>
                                                            <td>{$vo.area_name}</td>
                                                            <td><input type="checkbox" <if condition="$vo['area_get'] eq 'Y'" >checked="checked" </if> onclick="changeStatus(this,{$vo['area_id']},2)"/></td>
                                                            <td>
                                                                <a class="see4" data-id="{$vo.area_id}">删除</a>
                                                                <a class="see1" data-toggle="modal" data-target="#myModa1" data-p="{$vo.province}" data-c="{$vo.city}" data-a="{$vo.area_name}" data-pid="{$vo.area_pid}" data-aid="{$vo.area_id}" area-type="{$vo.area_type}" >修改</a>
                                                            </td>
                                                        </tr>
                                                    </volist>
                                                </table>

                                            </div>
                                            <div class="l_fenye">
                                                <div class="sad">
                                                    <button type="button" data-toggle="modal" data-target="#hfvei" class="btn btn-default5">导入</button>
                                                    <a href="__MODULE__/Worklwt/daochu"><button type="button" class="btn btn-default6">导出</button></a>
                                                </div>
                                                <ul>{$page}</ul>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <!-- /widget --> </div>
        <!-- /span11 --> </div>
    <!-- /row -->

</div>
</div>
<!--tanceng-->
<!--省-->
<div id="myModa3" style="display:none; z-index:9999"   class="tan1">
<div class="tan11">
<a class="closed">X</a>
    <h2>添加省</h2>
    <!-- <form action="__MODULE__/Product/areaadd" method="post">
    -->
    <div class="dw4">
        <dl>
            <dt>
                <input type="text" class="put1" id="pro" name="province" placeholder="请输入省" value=""></dt>
        </dl>

    </div>
    <p>
        <input type="submit" id="sheng" class="put1" value="确认"></p>
    <!-- </form>--></div>

</div>

<!--市-->
<div id="myModa2" style="display:none; z-index:9999"   class="tan1">
<div class="tan11">
<a class="closed">X</a>
    <h2>添加市</h2>
    <!-- <form action="__MODULE__/Product/areaaddcity" method="post">
    -->
    <div class="dw4">
        <dl>
            <dt>
                <select name="province" class="dh3" name="" id="ppro">
                    <option value="0">请选择省</option>
                    <volist name="provincea" id="vv">
                        <option value="{$vv.area_id}">{$vv.area_name}</option>
                    </volist>
                </select>
            </dt>
        </dl>
        <dl>
            <dt>
                <input type="text" class="put1" id="cit" name="city" placeholder="请输入市" value=""></dt>
        </dl>
    </div>

    <!-- <dl>
    <input type="text" value="请输入手机号" onfocus="if(this.value==defaultValue){this.value=''}" onblur="if(this.value==''){this.value=defaultValue}" class="put1"></dl>
-->
<p>
    <input type="submit" id="shi" class="put1" value="确认"></p>
<!-- </form>--></div>

</div>

<!--区-->
<div id="myModa1" style="display:none; z-index:9999"   class="tan1">
<div class="tan11">
<a class="closed">X</a>
<h2>添加区/县</h2>
<!-- <form action="__MODULE__/Product/areaaddcounty" method="post">
-->
<div class="dw4">
    <dl>
        <dt>
            <select class="dh3" name="province" id="provinceab">
                <option value="0">请选择省</option>
                <volist name="provincea" id="vv">
                    <option value="{$vv.area_id}">{$vv.area_name}</option>
                </volist>
            </select>
        </dt>
    </dl>
    <dl>
        <dt>
            <select class="dh3" name="city" id="cityb">
                <option value="0">请选择市</option>
            </select>
            <input type="hidden" name="area_id" id="hid"></dt>
    </dl>
    <dl>
        <dt>
            <input type="text" class="put1" name="county" id="dh5" placeholder="请输入区/县" value=""></dt>
    </dl>

</div>
<p>
    <input type="submit" class="put1" id="xian" value="确认"></p>
<!-- </form>--></div>

</div>

<!--区-->
<div id="hfvei" style="display:none; z-index:9999" class="tan1">
<div class="tan11">
<a class="closed">X</a>
<h2>导入数据</h2>
<form action="__MODULE__/Product/daoRuArea" method="post" enctype="multipart/form-data">
<div class="dw4">
	<input type="file" name="csvFile">
	<input type="hidden" name="ceshi" value="1234567">
</div>
<span>注：导入操作会删除原有数据</span>
<p>
    <input type="submit" class="put1" value="确认"></p>
</form></div>
</div>

<script>
	/* function shduiFun(){
		$("#hfvei").show();
	} */
    //获取市
    $('#provinceab').change(function(event) {
        var provinceid = $(this).val();
        $.post('__MODULE__/Product/area_act', {provinceid: provinceid}, function(data) {
            var _html = "";
            for (var i = 0; i < data.length; i++) {
                _html += "<option value="+data[i]['area_id']+">"+data[i]['area_name']+"</option>"
            }
            $('#cityb').html(_html);
        },'json');
    });
    //修改
    $('.see1').click(function(event) {
        var p = $(this).attr('data-p');
        var c = $(this).attr('data-c');
        var a = $(this).attr('data-a');
        var pid = $(this).attr('data-pid');
        var aid = $(this).attr('data-aid');
        var at = $(this).attr('area-type');
        $('#dh5').val(a);
        $('#hid').val(aid);
        $('#provinceab option').each(function(index, el) {
            if (at == $(this).val()) {
                $(this).attr('selected',true);
            }
        });
        var _htmlt = "<option selected value='"+pid+"'>"+c+"</option>"
        $('#cityb').html(_htmlt);
    });
    function changeStatus(obj,id,lev){
    	if($(obj).attr('checked')){
    		var status='Y';
    	}else{
    		var status='N';
    	}
    	 $.post('__MODULE__/Product/changeStatus', {id:id,status:status,lev:lev}, function(data) {
             alert(data);
         },'json');
    }
</script>
<script>
    //添加省
    $('#addp').click(function(event) {
        $('#pro').val('');
    });
    //添加市
    $('#addc').click(function(event) {
        $('#ppro option').each(function(index, el) {
            console.log($(this).val());
            if (0 == $(this).val()) {
                $(this).attr('selected',true);
            }
        });
        $('#cit').val('');
    });
    //添加区
    $('#addco').click(function(event) {
        $('#provinceab option').each(function(index, el) {
            console.log($(this).val());
            if (0 == $(this).val()) {
                $(this).attr('selected',true);
            }
        });
        var city = "<option value='0'>请选择市</option>";
        $('#cityb').html(city);
        $('#dh5').val('');
    });

    //删除
    $('.see4').click(function(event) {
        var did = $(this).attr('data-id');
        if (confirm('确定删除此信息吗？')) {
            $.post('__MODULE__/Product/areadel', {did: did}, function(data) {
                alert(data);
                window.location.reload();
            },'json');
        }
    })
    //添加省
    $('#sheng').click(function(event) {
        var sheng = $('#pro').val();
        if (sheng == "") {
            $.anewAlert('省不能为空！');
            return false;
        }
        $.post('__MODULE__/Product/areaadd', {sheng: sheng}, function(data) {
            if(data['status'] == 'Y'){
                $.anewAlert(data['info']);
                window.location.reload();
            } else {
                $.anewAlert(data['info']);
            }
        },'json');
    });
    //添加市
    $('#shi').click(function(event) {
        var sheng = $('#ppro').val();
        var shi = $('#cit').val();
        if (sheng == 0) {
            $.anewAlert('省不能为空！');
            return false;
        } else if (shi == "") {
            $.anewAlert('市不能为空！');
            return false;
        }
        $.post('__MODULE__/Product/areaaddcity', {sheng: sheng,shi:shi}, function(data) {
            if(data['status'] == 'Y'){
                $.anewAlert(data['info']);
                window.location.reload();
            } else {
                $.anewAlert(data['info']);
            }
        });
    });
    //添加省
    $('#xian').click(function(event) {
        var sheng = $('#provinceab').val
        var shi = $('#cityb').val();
        var xian = $('#dh5').val();
        var hid = $('#hid').val();
        if (sheng == "0") {
            $.anewAlert('省不能为空！');
            return false;
        } else if (shi == "0") {
            $.anewAlert('市不能为空！');
            return false;
        } else if (xian == "") {
            $.anewAlert('区县不能为空！');
            return false;
        }
        $.post('__MODULE__/Product/areaaddcounty', {shi:shi,xian:xian,area_id:hid}, function(data) {
            if(data['status'] == 'Y'){
                $.anewAlert(data['info']);
                window.location.reload();
            } else {
                $.anewAlert(data['info']);
            }
        });
    });
    $('.closed').click(function(){

    	$('.modal-backdrop').click();

    });
</script>
</body>
</html>