<include file='public:head'/>
	<body>
	 <include file='public:header'/>
     <div id="main-pyf">
		<include file='public:left'/>
		<div id="content">
			<div class="row">
					<div class="tsan113">
						<div class="widget">
						<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">
					 		<!-- <li>
								<a href="__MODULE__/Member/getCommonMem">普通会员</a>
							</li> -->
							<!-- <li>
								<a href="__MODULE__/Worklwt/getComMem">大客户管理</a>
							</li> -->
							<li class="active">
								<a href="__MODULE__/Worklwt/latencyMemberList">潜在会员</a>
							</li>
						</ul>
						<div class="tab-content1">
							<div class="dw93">
						<div class="fh2">
							<span>来电号码:</span>
							<span>{$info.user_tel}</span>
							</div>
						<div class="fh2">
							<span>用户姓名:</span>
							<span>{$info.user_name|default=""}</span>
							</div>
					</div>
					<h2 class="dw88">车辆信息</h2>			
						<div class="dw9">
						<dt>
							<select class="dh5" name="" id="">
								<option value="">{$info.order_info_brand}</option>
							</select>
							<select class="dh5" name="" id="">
								<option value="">{$info.order_info_type}</option>
							</select>
							<input type="text" class="i_n text2" value="{$info.order_info_carmark}" disabled="disabled">
						</dt>
						</div>
						<h2 class="dw88">路线信息</h2>
						<div class="dw91">
						<select id="" name="" class="dh5">
						<option value="">{$info.c_sheng}</option>
						</select>
						<select id="" name="" class="dh5">
						<option value="">{$info.c_shi}</option>
						</select>
						<select id="" name="" class="dh5">
						<option value="">{$info.c_qu}</option>
						</select>
						<span>~</span>
				      <select id="" name="" class="dh5">
						<option value="">{$info.z_sheng}</option>
						</select>
						<select id="" name="" class="dh5">
						<option value="">{$info.z_shi}</option>
						</select>
						</div>	
                	<h2 class="dw88">接车方式</h2>
                      <div class="dw8">
                      		<if condition="$info.order_way eq 'X'">
								<div class="dw81">
								<label><span>小板接车</span></label>
								</div>
                      		<else />
                      			<div class="dw81">
								<label><span>司机接车</span></label>
								</div>
                      		</if>
							<div class="erer1">				
							<input type="text" class="i_n text2" value="{$info.c_adres}" disabled="disabled">
							</div>
					</div>	
             		<h2 class="dw88">是否上门送车</h2>
                      <div class="dw8">
                      		<if condition="$info.order_info_smsc eq 'Y'">
								<div class="dw81" id="vv2">
								<label><span>上门送车</span></label>
								</div>
								<div class="erer" style="display:block;">				
								<select id="" name="" class="dh5">
								<option value="">{$info.s_sheng}</option>
								</select>
								<select id="" name="" class="dh5">
								<option value="">{$info.s_shi}</option>
								</select>
								<select id="" name="" class="dh5">
								<option value="">{$info.s_qu}</option>
								</select>
								<input type="text" class="i_n text2" value="{$info.order_info_end_address}" disabled="disabled">
								</div>
                      		<else />
                      			<div class="dw81" id="vv1">
								<label><span>客户自提</span></label>
								</div>
                      		</if>
						</div>	
					<h2 class="dw88">车辆运输价格</h2>
					<div class="dw90">
					<div class="fh3">
					<span>车辆运输报价:</span>
					<span>{$info.order_info_price}</span>
					</div>
					<div class="fh2">
					<span>运输费:</span>
					<span>{$info.order_info_c_car}</span>
					</div>
					</div>	
					<div class="dw91">
					<div class="fh2">
					<span>保险费:</span>
					<span>{$info.order_info_bxd}</span>
					</div>
					<div class="fh2">
					<span>共计:</span>
					<span>{$info.order_info_zj}</span>
					</div>
					</div>	
					<div class="dw92">
					<textarea disabled="disabled">{$info.order_info_remark}</textarea>
					</div>	
						<hr>
						<div class="sad1">
							<button class="btn btn-default8" type="button" onclick="sendMobile();">发送短信</button>
						</div>
					</div>
					</div> <!-- /widget -->
				</div> <!-- /span11 -->
			</div> <!-- /row -->
			</div>
		</div>
	<input type="hidden" id="total" value="{$info.order_info_zj}" />
		<input type="hidden" id="user_name" value="{$info.user_name|default=''}" />
		<!--<input type="hidden" id="user_tel" value="{$info.user_tel}" />-->
		<input type="hidden" id="user_tel" value="17778067725" />
		<input type="hidden" id="star_city" value="{$info.c_shi}" />
		<input type="hidden" id="end_city" value="{$info.z_shi}" />
		<input type="hidden" id="car_brand" value="{$info.order_info_brand}" />
		<input type="hidden" id="car_type" value="{$info.order_info_type}" />
<script>
		//发送短信
		function sendMobile(){
			var total = $('#total').val(); //运输总价
			var user_name = $('#user_name').val(); //客户名称
			var user_tel = $('#user_tel').val(); //客户电话
			var star_city = $('#star_city').val(); //出发地 城市
			var end_city = $('#end_city').val(); //目的地 城市
			var car_brand = $('#car_brand').val(); //车辆品牌
			var car_type = $('#car_type').val(); //车辆  品牌  类型
			if(total ==""){
				$.anewAlert('运输总价为空，暂时不能发送短信哦~');
				return false;
			}
			if(user_name ==""){
				$.anewAlert('用户姓名为空，暂时不能发送短信哦~');
				return false;
			}
			if(user_tel ==""){
				$.anewAlert('用户电话为空，暂时不能发送短信哦~');
				return false;
			}
			if(star_city ==""){
				$.anewAlert('出发地为空，暂时不能发送短信哦~');
				return false;
			}
			if(end_city ==""){
				$.anewAlert('目的地为空，暂时不能发送短信哦~');
				return false;
			}
			if(car_brand ==""){
				$.anewAlert('车辆品牌为空，暂时不能发送短信哦~');
				return false;
			}
			if(car_type ==""){
				$.anewAlert('车辆类型为空，暂时不能发送短信哦~');
				return false;
			}
			var car = car_brand+'-'+car_type;
			if(window.confirm('确定发送短信？')){
				$.post("__MODULE__/Worklwt/sendMobile",{"car":car,"mob":user_tel,"start":star_city,"end":end_city,"price":total},function(data){
					$.anewAlert(data);
					//window.location.reload();
				},'json');
             }else{
                return false;
            }
		}
</script>
	</body>
</html>

