<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<!--content-->
  <div class="banner0">
<img src="__FRONT__/images/banner6.jpg">
  </div>
<div class="new_main">
<div class="new_body container">
  <div class="new1">
    <h2>妥妥新闻</h2>
    <p>News</p>
  </div>
  <div class="new2">
  <foreach name="artList" item="vo" key="k">
	   <div class="col-sm-6 col-md-4 nem1">
		 <a href="__MODULE__/News/detail/code/{$vo.article_code}">
		   <div class="new2a"><img src="{$vo.article_img|default='/Upload/2016-09-04/57cbd2190ad5f.jpg'}"></div>
		 <div class="new4a">
		<h2>{$vo.titles}</h2>
		<p>{$vo.article_time}</p>
		 </div>
		 <div class="new3aa">
		 {$vo.article_desc}

		 </div>
		 </a>
		</div>
	</foreach>

 </div>
 		<div class="num">
	{$show}
	</div>
</div>
 </div>


<!--content-->
<include file='public:foot'/>