<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<!--content-->
<div class="pc dhdiv">
	<ul>
		<li class="dhfili">关于妥妥<img src="/Public/Front/images/fcphoto.png"></li>
		<foreach name="dh" item="vo">
			<li <eq name="ret.title" value="$vo.title">class="dhactive"</eq> ><a href="__MODULE__/AboutUs/index/code/{$vo.article_code}">
			{$vo.title}
		</a></li>
		</foreach>
		<li <eq name="ret.title" value="$title">class="dhactive"</eq> ><a href="__MODULE__/News/newsList">妥妥新闻</a></li>
	</ul>
</div>
<div class="banner">
	<img src="/Public/Front/images/fbanner.png" style="width: 100%">
</div>
<div class="part1" style="width: 100%">
	<img class="pc" src="/Public/Front/images/HEARTONFIRE2.png"  style="width: 100%">
	<img class="phone" src="/Public/Front/images/qiche.png"  style="width: 100%">
	<div class="fwfont fwfontx">
		<font><strong>妥妥新闻</strong></font>
		<h3> Tuouo news</h3>
		<img src="__FRONT__/images/Rectangle.png">
	</div>
</div>
<div class="new_main">
<div class="new_body container">
  <div class="new2">
  <foreach name="artList" item="vo" key="k">
	   <div class="col-sm-6 col-md-4 nem1">
		 <a href="__MODULE__/News/detail/code/{$vo.article_code}">
		   <div class="new2a"><img src="{$vo.article_img|default='/Upload/2016-09-04/57cbd2190ad5f.jpg'}"></div>
		 <div class="new4a">
		<h2>{$vo.titles}</h2>
		<p>{$vo.article_time}</p>
		 </div>
		 <div class="new3aa">
		 {$vo.article_desc}

		 </div>
		 </a>
		</div>
	</foreach>

 </div>
 		<div class="num">
	{$show}
	</div>
</div>
 </div>


<!--content-->
<include file='public:foot'/>