<include file='public:head'/>
<script src="__JS__/jquerytool_1.0v.js"></script>
<script type="text/javascript">
		function select(obj){
			var con = $(obj).html();
			var flag = $(obj).attr('name');
			$(".sss1").html(con);
			$("#cid").val(flag);
		}
		function selectCom(obj,objs){
			/* var con = $(obj).html();
			var flag = $(obj).attr('name'); */
			$(".ssss1").html(objs);
			$("#com").val(obj);
			$("#car_gsm").val(objs);
		}
		function checkname(obj){
			var name = $(obj).val();
			if(name==''){
				$.anewAlert('输入不能为空');
				$("#namecheck").val('Y');
			}else{
				$("#namecheck").val('');
			}
		}

		function checkpwd(obj){
			var pwd = $(obj).val();
			if(pwd==''||pwd.length<8||pwd.length>16){
				$.anewAlert('密码为8到16位');
				$("#pwdcheck").val('Y');
			}else{
				$("#pwdcheck").val('');
			}
		}
		function checkide(obj){
			var ide = $(obj).val();
			var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
			   if(reg.test(ide) === false){
				   $.anewAlert("身份证输入不合法");
			       $("#idecheck").val('Y');
			   }else{
				   $("#idecheck").val('');
			   }
		}
		function checktel(obj){
			var tel = $(obj).val();
			var mobile =/^0?1[3|4|5|7|8][0-9]\d{8}$/;
			if(tel==''){
				$.anewAlert('手机号不能为空');
				$("#telcheck").val('Y');
			}else if(mobile.test(tel) == false){
				$.anewAlert('输入正确的手机号');
				$("#telcheck").val('Y');
			}else{
				$("#telcheck").val('');
			}

		}
		function submite(){
			var name = $("#checkname").val();
			var pwd = $("#checkpwd").val();
			var tel = $("#checktel").val();
			var ide = $("#checkide").val();
			var flag = $("#cid").val();
			var com = $("#com").val();
			if(com==''){
				$.anewAlert('请选择物流公司');
				return false;
			}
			//var com = $("#com").val();
			if(name!='Y'&&pwd!='Y'&&tel!='Y'&&ide!='Y'&&flag!=''){
				$("#ff").submit();
			}else{
				$.anewAlert('请按要求填写数据');
			}
		}
		/* function recover(){
			$("#comP").val('');
			$("#comP").html('请选择物流公司');
		} */
	</script>
<body>
	<include file='public:header'/>

     <div id="main-pyf">
		<include file='public:left'/>

		<div id="content">
	<!-- 		<div class="ico-pt span12">
				<h4>店铺管理</h4>
			</div> -->
			<div class="row">

					<div class="tsan113">

						<div class="widget">

								<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">

					 <li class="active">
						    <a href="">提车人管理</a>
						  </li>


						</ul>

						<div class="tab-content1">
						<div class="dq5 dq5x">
						<dl>
							<div class="dropdown">
							   <button data-toggle="dropdown" id="dropdownMenu1" class="btn1 dropdown-toggle" value="" type="button">
								  <span class="sss1"><if condition="$info.car_flag eq 'Y'">有效<else/>无效</if></span>
								  <span class="caret"></span>
							   </button>
							   <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
								  <li role="presentation">
									 <a href="#" tabindex="-1" role="menuitem" class='qqq' name="Y" onclick="select(this);">有效</a>
								  </li>
								  <li role="presentation">
									 <a href="#" tabindex="-1" role="menuitem" class='qqq' name="N" onclick="select(this);">无效</a>
								  </li>
							   </ul>
							</div>
						</dl>

						<dl>
							<div class="dropdown" >
							   <button data-toggle="dropdown" id="dropdownMenu1" class="btn1 dropdown-toggle" value="" type="button">
								  <span class="ssss1">{$com.lc_name}</span>
								  <span class="caret"></span>
							   </button>
							   <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
							   		<foreach name="list" item="vo">
								  <li role="presentation">
									 <a href="#" tabindex="-1" role="menuitem" class='qqq' name="Y" onclick="selectCom('{$vo.lc_code}','{$vo.lc_name}');">{$vo.lc_name}</a>
								  </li>
								  </foreach>
							   </ul>
							</div>
						</dl>

						<form method="post" action="__MODULE__/CarTaker/doEdit" id='ff'>
						<input type="hidden" id="cid" name="car_flag" value="{$info.car_flag}"/>
						<input type="hidden" id="com" name="lc_code" value="{$com.lc_code}"/>
						<input type="hidden" id="pwd" />
						<input type="hidden" id="namecheck" />
						<input type="hidden" id="idecheck" />
						<input type="hidden" id="telcheck" />
						<input type="hidden" name="car_id" value="{$info.car_id}"/>
						<input type="hidden" name="car_gsm" value="" id="car_gsm"/>
						<!-- <dl><select class="dh1" name="lc_code" id="com" onclick="recover();">
								<option id='comP' value="{$comCode}">{$com?$com:'请选择物流公司'}</option>
								<foreach name="list" item="vo">
									<option  value="{$vo.lc_code}">{$vo.lc_name}</option>
								</foreach>
							</select>
						</dl> --><dl>
						    <select class="i_n text2" id="province1" name="car_sheng">
						        <option value="">请选择省</option>
						        <foreach name="provincea" item="vo">
									<option value="{$vo['area_id']}" <if condition="$vo['area_id'] eq $info['car_sheng']" >selected="selected"</if> >{$vo['area_name']}</option>
								</foreach>
						    </select>
						    <select class="i_n text2" id="city1" name="car_shi">
						        <option value="">请选择市</option>
						        <foreach name="city" item="vo">
									<option value="{$vo['area_id']}" <if condition="$vo['area_id'] eq $info['car_shi']" >selected="selected"</if> >{$vo['area_name']}</option>
								</foreach>
						    </select>
						</dl>
<div class="dw7">
						<div class="dw71">
							<!-- <dl>
							<div class="fh1">
							<span>CODE:</span>
							<input type="text" class="i_n text2" value="CTT000000021">
							</div>
							</dl>-->
							
							<dl>
							<div class="fh1">
							<span>提车人姓名:</span>
							<input type="text"   name="car_name" onblur="checkname(this);" value="{$info.car_name}"  class="i_n text2">
							</div>
							</dl>
							<dl>
							<div class="fh1">
							<span>提车人电话:</span>
							<input type="text"  name="car_tel" onblur="checktel(this);" value="{$info.car_tel}" class="i_n text2">
							</div>
							</dl>
							<dl>
							<div class="fh1">
							<span>身份证号码:</span>
							<input type="text"  placeholder="请输入提车人身份证号码" name="car_identity" onblur="checkide(this);" value="{$info.car_identity}"  class="i_n text2">
							</div>
							</dl>
							<dl>
							<div class="fh1">
							<span>登录密码:</span>
							<input type="password"   placeholder="请输入登录密码" name="car_pwd" onblur="checkpwd(this);"  class="i_n text2">
							</div>
							</dl>



						   </div>
	   </div>









				<!-- 		<dl><input type="text" class="i_n text2" placeholder="请输入提车人姓名" name="car_name" onblur="checkname(this);" value="{$info.car_name}" /></dl>
						<dl><input type="text" class="i_n text2" placeholder="请输入提车人电话" name="car_tel" onblur="checktel(this);" value="{$info.car_tel}" /></dl>
						<dl><input type="text" class="i_n text2" placeholder="请输入提车人身份证号码" name="car_identity" onblur="checkide(this);" value="{$info.car_identity}" /></dl>
						<dl><input type="password" class="i_n text2" placeholder="请输入登录密码" name="car_pwd" onblur="checkpwd(this);"  /></dl>
						 --><!-- <dl><input type="text" class="i_n text2" placeholder="请输入所属公司" name="car_gsm" onblur="checkname(this);" value="{$info.car_gsm}"/></dl>
						<dl><input type="text" class="i_n text2" placeholder="请输入所属公司联系人" name="car_lxr" onblur="checkname(this);" value="{$info.car_lxr}"/></dl>
						<dl><input type="text" class="i_n text2" placeholder="请输入所属公司联系方式" name="car_lxfs" onblur="checktel(this);" value="{$info.car_lxfs}"/></dl> -->
						</form>

					    </div>




						<hr>
						<div class="sad1">

							<button class="btn btn-default7" type="button" onclick="submite();">确定</button>
							<a href="__MODULE__/CarTaker/showCarTakers">
								<button class="btn btn-default8" type="button">取消</button>
							</a>

							</div>
						</div>


						</div> <!-- /widget -->

					</div> <!-- /span11 -->

				</div> <!-- /row -->

		</div>
		</div>
<script>
$("#province1").change(function(event) {
    var provinceid = $(this).val();
    $(".delc").remove();
    $.post('__MODULE__/Product/area_act', {provinceid: provinceid}, function(data) {
        var _html = "";
        for (var i = 0; i < data.length; i++) {
            _html += "<option value="+data[i]['area_id']+" class='delc'>"+data[i]['area_name']+"</option>";
        }
        $('#city1').append(_html);
    },'json');
});
</script>
	</body>
</html>