<include file='public:head'/>
<script type="text/javascript">
	function asdasd(){
		alert(123);
	} 
</script>

	<body>
		
	<include file='public:header'/>
		
     <div id="main-pyf">
		<div id="sidebar">
			<ul>
				<li class=""><a href=""><span>后台首页</span><b></b></a></li>
				<li>
					<a href=""><span>管理员管理</span><b></b></a>
		
				</li>
				<li class="active"><a href=""><span>提车人管理</span><b></b></a></li>
				<li><a href=""><span>会员管理</span><b></b></a></li>
				<li><a href=""><span>优惠券管理</span><b></b></a></li>
				<li><a href=""><span>广告管理</span><b></b></a></li>
				<li><a href=""> <span>内容管理</span><b></b></a></li>
				<li><a href=""><span>系统管理</span><b></b></a></li>
				<li><a href=""><span>产品线管理</span><b></b></a></li>
				<li><a href=""><span>订单管理</span><b></b></a></li>
				<li><a href=""> <span>财务管理</span><b></b></a></li>
				<li><a href=""><span>数据库管理</span><b></b></a></li>
			</ul>
		
		</div>
	
		<div id="content">
	<!-- 		<div class="ico-pt span12">
				<h4>店铺管理</h4>
			</div> -->
			<div class="row">
					
					<div class="tsan113">
				
						<div class="widget">

								<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">
					
					 <li class="active">
						    <a href="">提车人管理</a>
						  </li>
					
			
						</ul>
						
						<div class="tab-content1">
						<div class="dq5">
						<dl><div class="dropdown">
						   <button data-toggle="dropdown" style="" id="dropdownMenu1" class="btn1 dropdown-toggle" value="" type="button">
							  <span class="sss1">请选择是否有效</span>
							  <span class="caret"></span>
						   </button>
						   <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
							  <li role="presentation">
								 <a href="#" tabindex="-1" role="menuitem">有效</a>
							  </li>
							  <li role="presentation">
								 <a href="#" tabindex="-1" role="menuitem">无效</a>
							  </li>
						   </ul>
						</div></dl>
						
					
						<dl><input type="text" class="i_n text2" value="请输入提车人姓名" onblur="asdasd();"></dl>
						<dl><input type="text" class="i_n text2" value="请输入提车人电话"></dl>
						<dl><input type="text" class="i_n text2" value="请输入提车人身份证号码"></dl>
						<dl><input type="text" class="i_n text2" value="请输入登录密码"></dl>
					    </div>
				
						
						
						
						<hr>
						<div class="sad1">
						<button class="btn btn-default7" type="button">确定</button>
						
						<button class="btn btn-default8" type="button">取消</button>
						</div>
						</div>

							
						</div> <!-- /widget -->
						
					</div> <!-- /span11 -->
					
				</div> <!-- /row -->

		</div>
		</div>

	</body>
</html>