<!DOCTYPE html>
<html lang="en">
	<!-- container-fluid -->
	<include file='public:head'/>
	<script src="__JS__/jquerytool_1.0v.js"></script>
	<script>
		function selectAll(){
			if($(".td3").children('input:checked').length==0){
				$(".td3").children().attr('checked',true);
			}else{
				$(".td3").children().removeAttr('checked');
			}
		}
		function del(obj){
			var car_id = $(obj).attr('name');
			$.post('__MODULE__/CarTaker/carTakerDel',{'car_id':car_id},function(data){
				if(data['sign']=='Y'){
					$.anewAlert(data['msg']);
					window.location.reload();
				}else{
					$.anewAlert(data['msg']);
				}
			});
		}
		function delAll(){
			var obj = $("input[name='code[]']:checked");
			var arr = new Array();
			obj.each(function(key,val){
				arr[key]=$(val).val();
			}
			);
			$.post('__MODULE__/CarTaker/carTakerDelAll',{'arr':arr},function(data){
				 if(data['sign']=='Y'){
					 $.anewAlert(data['msg']);
					window.location.reload();
				}else{
					$.anewAlert(data['msg']);
				} 
			});

		}
	</script>
<body>

	<include file='public:header'/>
	<div class="clear_both"></div>
	<div id="main-pyf">
	<include file='public:left'/>

		<div id="content">
			<!-- 		<div class="ico-pt span12">
			<h4>店铺管理</h4>
		</div>
		-->
		<div class="row">

			<div class="tsan113">

				<div class="widget">

					<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">
							<li class="active">
								<a href="">提车人角色</a>
							</li>
						</ul>

						<div class="tab-content1">
							<div class="tab-content">
								<div class="tab-pane active">
									<form id="edit-profile" class="form-horizontal" />
									<fieldset>
										<div class="l_uit">
											<div class="control-group">
												<div style="float:left;" class="controls clec_t">
													<div class="v_pb">
													<form action="__MODULE__/CarTaker/showCarTakers">
														<input type="text" placeholder="" class="i_n text2 width360" name="car_name" value="{$search}"/>
														<button class="btn btn-default5" type="submit">搜索</button>
													</form>
													</div>
												</div>
												<!-- /controls -->
												<a href="__CONTROLLER__/carTakerAdd"><button class="red btn btn-default5 fr" type="button">添加提车人</button></a>
											</div>
											<script>
												$(function(){
													$('table tr.tr2:odd').css('background','#F0F0F0');
												});
											</script>
											<div class="l_table">
												<table>
													<tr class="tr1">
														<td>选择</td>
														<td>省</td>
														<td>市</td>
														<td>姓名</td>
														<td>电话</td>
														<td>身份证号</td>
														<td>合同编号</td>
														<td>有效性</td>
														<td>操作</td>
														<td>定位数据</td>
													</tr>
													<foreach name="info" item="vo" key="k">
													<tr class="tr2">
														<td class="td3"><input type="checkbox"  class="box" name="code[]" value="{$vo.car_id}"></td>
														<td>{$vo.car_sheng}</td>
														<td>{$vo.car_shi}</td>
														<td>{$vo.car_name}</td>
														<td>{$vo.car_tel}</td>
														<td>{$vo.car_identity}</td>
														<td class="td_d2">{$vo.car_he_code}</td>
														<td class="td_d2"><if condition="$vo.car_flag eq Y">有<else/>否</if></td>
														<td>
															<a class="see1" href="__MODULE__/CarTaker/carTakerEdit/car_id/{$vo.car_id}">修改</a>
															<a class="see2" href="javascript:;" name="{$vo.car_id}" onclick="del(this);">删除</a>
														</td>
                                                        <td><a  href="__MODULE__/Memberyjh/getMap/code/{$vo.car_code}">进入</a></td>
													</tr>
													</foreach>
													

												</table>

											</div>
											<if condition="$num neq 0">
											<div class="l_fenye">
												<div class="sad">
													<button type="button" class="btn btn-default5" onclick="selectAll();">全选</button>

													<button type="button" class="btn btn-default6" onclick="delAll();">删除</button>
												</div>
												{$page}
											</div>
											</if>
										</div>
									</fieldset>
										
									</div>

								</div>
							</div>

						</div>

					</div>
					<!-- /widget -->

				</div>
				<!-- /span11 -->

			</div>
			<!-- /row -->

		</div>
	</div>

</body>

</html>