<include file='public:head'/>
<script src="__JS__/jquery.Huploadify.js"></script>
<script type="text/javascript" charset="utf-8" src="__UE__/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__UE__/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="__UE__/lang/zh-cn/zh-cn.js"></script>
	<body>
		<include file='public:header'/>
     <div id="main-pyf">
		<include file='public:left'/>
		<div id="content">
	<!-- 		<div class="ico-pt span12">
				<h4>店铺管理</h4>
			</div> -->
			<div class="row">
			<form action="__MODULE__/Worklwt/cont_insert" method="post" id='formMaster'>
				<div class="tsan113">
					<div class="widget">
						<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">
					 	    <li class="active">
								<a href="__MODULE__/Worklwt/contList">内容维护</a>
							</li>
							<li>
								<a href="__MODULE__/Worklwt/ideaList">意见反馈</a>
							</li>
						</ul>
						<div class="tab-content1">
						
						<div class="dw6">
						   <div class="dw61">
						   <dl>
						   <div class="dropdown">
								<button type="button" value="" class="btn1 dropdown-toggle" id="dropdownMenu1" style="" data-toggle="dropdown">
									<span id="awdawd" class="sss1"><if condition="$des eq ''">请选择文章分类<else />{$des}</if></span>
									 <span class="caret"></span>
									</button>
									<input type="hidden" id="code" value="{$des}" />
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<foreach name="sk" item="vo" key='k'>
									
										<li role="presentation">
											<a role="menuitem" tabindex="-1"  value="{$k}" onclick="clickFuns(this,'{$k}');" data="{$k}" href="javascript:;">{$vo}</a>
									 	</li>
									</foreach>
								   </ul>
								</div>
						   </dl>
							<dl><input type="text" name="title" id="title" class="i_n text2" placeholder="请输入文章标题" value="{$data.title}"></dl>
							<dl  id="desc" ><textarea name="desc"class="i_n text2" placeholder="请输入文章描述" value="{$data.article_desc}">{$data.article_desc}</textarea></dl>
							<div class="dw62">
							   <div class="dw62a">
							    <h2>上传缩略图</h2>
							     <div class="dw62c">
							     <if condition="$data.article_img eq ''">
							    	 <img id="oneclick" src="__BACK__/images/de1.png">
							     <else />
							    	 <img id="oneclick" src="{$data.article_img}">
							     </if>
								 </div>
							   </div>
							   <div class="dw62b">
							   </div>
							</div>
							<textarea id='contents' name='contents' style="width: 1000px;height: 300px;">{$data.content}</textarea>
							<input type="hidden" name="article_pid" id="article_pid" value="{$data.article_pid}" >
							<input type="hidden" name='token' value='{$token}'>
		 					<input type="hidden" id='article_id' name='article_id' value='{$data.article_id}'>
		 					<input type="hidden" id='article_img' name='article_img' value='{$data.article_img}'>
						   </div>
						</div>
						
						<hr>
						<div class="sad1">
						<button class="btn btn-default7" type="button" onclick="bttonFun();">确定</button>
						<!-- <button class="btn btn-default8" type="button">取消</button> -->
						</div>
						</div>
						</div> <!-- /widget -->
					</div> <!-- /span11 -->
				</div> <!-- /row -->
				</form>
			</div>
		</div>
		<div id="upload" style="display:none;"></div>
		<script>
		var editor = UE.getEditor('contents',{});
		var code=$("#code").val();
		if(code == "新闻中心"){
			$("#desc").show();
		}else{
			$("#desc").hide();
		}		
  		function clickFuns(obj,code){
			if(code == "XW"){
				$("#desc").show();
			}else{
				$("#desc").hide();
			}
  			var name = $(obj).html();
  			$("#awdawd").html(name);
  			$("#article_pid").val(code);
  		}
  		function bttonFun(){
	  		var us = $("#title").val();
	  		var article_pid = $("#article_pid").val();
	  		if(us==''){
	  			$.anewAlert('标题不能为空');
	  			return false;
	  		}
	  		if(article_pid==''){
	  			$.anewAlert('请选择文章类型');
	  			return false;
	  		}
	  		$('#formMaster').submit();
	  	}
  		var up = $('#upload').Huploadify({
			auto:true,
			fileTypeExts:'*.jpg;*.gif;*.png;*.jpeg',
			multi:false,
			fileSizeLimit:1024,
			showUploadedPercent:false,
			showUploadedSize:false,
			removeTimeout:1000,
			abs:1,
			canshu:'XWZX',
			uploader:'{:U("Base/upload")}',
			onUploadStart:function(file){
				console.log(file.name+'开始上传');
			},
			onInit:function(obj){
				console.log('初始化');
				console.log(obj);
			},
			onUploadComplete:function(file,data){
				var datas = $.parseJSON(data);
				if(datas.flag){
					$("#article_img").val(datas.fileurl);
					$("#oneclick").attr('src',datas.fileurl);
				}else{
					$.anewAlert(datas.msg);
				}
			},
		});
	  	$(function(){
			$("#oneclick").click(function(){
				$("#file_upload_1-button").click();
			});
			
		});
  	</script>
	</body>
</html>
