<include file="Public:head" />
<body>
<include file="Public:header" />
<div id="main-pyf">
	<include file="Public:left" />

	<div id="content">
		<!-- 		<div class="ico-pt span12">
		<h4>店铺管理</h4>
	</div>
	-->
	<div class="row">

		<div class="tsan113">
			<div class="widget">

				<div class="tabbable">
					<ul class="nav nav-tabs" id="tabnav">
						<li class="active">
							<a href="__MODULE__/Auth/grouplist">管理角色</a>
						</li>
						<li>
							<a href="__MODULE__/Auth/operator">操作员管理</a>
						</li>
					</ul>

					<div class="tab-content1">
						<form action="__MODULE__/Auth/groupadd_act" method="post" id="form">
							<div class="dq5">
								<dl>
									<input type="hidden" name="pid" value="{$data.id}">
									<input type="text" name="title" placeholder="请输入角色名称" class="i_n text2" value="{$data.title}"></dl>

								<dl class="dq54">
									<textarea class="dq53" name="description" placeholder="请对角色做出描述">{$data.description}</textarea>
								</dl>
								<div class="dq55">请选择角色功能</div>
							</div>
							<div class="body_main0">
								<ul class="main_select1 checkbox">
									<foreach name="arr" item="vo">
										<!-- 一级 -->
										<LI class="part1">
											<label class="one">
												<input class="check_one" type="checkbox" onclick="chooseHeaderFun(this);" name='prower[]' value="{$vo.id}" {$vo.che}>{$vo.title}</label>
											<!-- 二级 -->
											<ul class="main_select2">
												<volist name="vo.son" id='vos'>
													<li>
														<label class="two">
															<input class="check_two" type="checkbox" onclick="chooseFun(this);" name='prower[]' value="{$vos.id}" {$vos.che}>{$vos.title}</label>
														<!--三级 -->
														<ul class="main_select3">
															<volist name="vos.son" id='voi'>
																<li>
																	<label class='three'>
																		<input class="check_three" type="checkbox" onclick="chooseFuns(this);" name='prower[]' value="{$voi.id}" {$voi.che}>{$voi.title}</label>
																</li>
															</volist>
														</ul>
														<!--三级 -->
													</li>
												</volist>
											</ul>
											<!-- 二级 -->
										</LI>
									</foreach>
									<!-- 一级 -->
								</ul>
								<input type="checkbox" id="quanxuan" onclick="quanxuanFun(this);">全选</div>

							<hr>
							<div class="sad1">
								<button class="btn btn-default7" id="btn" type="button">确定</button>

								<button class="btn btn-default8" type="button">
									<a href="__MODULE__/Auth/grouplist" style="color:#fff">取消</a>
								</button>
							</div>
						</form>
					</div>

				</div>
				<!-- /widget -->
			</div>
			<!-- /span11 -->

		</div>
		<!-- /row -->

	</div>
</div>
<script>
	$('#btn').click(function(event) {
		$('#form').submit();
	});
	      //1级权限
	    	  function chooseHeaderFun(obj){
	    		if($(obj).is(':checked')=="checked"||$(obj).is(':checked')==true){
	  			//被选中情况
	  			$(obj).parent().siblings().find('input').prop("checked",true);
	  		}else{
	  			$(obj).parent().siblings().find('input').prop("checked",false);
	  			$("#quanxuan").attr("checked",false);
	  		}
	    	  }
	    	  //2级权限
	    	  function chooseFun(obj){
	    		if($(obj).is(':checked')=="checked"||$(obj).is(':checked')==true){
	  			//被选中情况
	  			$(obj).parent().siblings().find('input').prop("checked",true);
	  			$(obj).parent().parent().parent().siblings().find('input').prop("checked",true);
	  		}else{
	  			var flag = false;
	  			$(obj).parent().parent().siblings().find("input").each(function(){
	  				if($(this).is(':checked')==true){
	  					flag = true;
	  					return false;
	  				}
	  			})
	  			if(!flag){
	  				$(obj).parent().parent().parent().siblings().find("input").prop("checked",false);
	  			}
	  			$(obj).parent().siblings().find('input').prop("checked",false);
	  			$("#quanxuan").attr("checked",false);
	  		}
	    	  }
	    	  function chooseFuns(obj){
	    		if($(obj).is(':checked')=="checked"||$(obj).is(':checked')==true){
	  			//被选中情况
	    			$(obj).parent().parent().parent().siblings().find('input').prop("checked",true);
	  			$(obj).parent().parent().parent().parent().parent().siblings().find('input').prop("checked",true);
	  		}else{
	  			var flag = false;
	  			var bb = false;
	  			$(obj).parent().parent().siblings().find("input").each(function(){
	  				if($(this).is(':checked')==true){
	  					flag = true;
	  					return false;
	  				}
	  			})
	  			$(obj).parent().parent().parent().parent().parent().find(".check_two").each(function(){
	  				if($(this).is(':checked')==true){
	  					bb = true;
	  					return false;
	  				}
	  			})
	  			if(!flag){
	  				$(obj).parent().parent().parent().siblings().find("input").prop("checked",false);
	  				if($(obj).parent().parent().parent().parent().parent().find(".check_two:checked").length<=1){
	  					$(obj).parent().parent().parent().parent().parent().siblings().find('input').prop("checked",false);
	  				}
	  			}
	  			$(obj).parent().siblings().find('input').prop("checked",false);
	  			$("#quanxuan").attr("checked",false);
	  		}
	    	  }
	function quanxuanFun(obj){
	  			if(obj.checked == true){
	  				var ss = $("input[name='prower[]']");
	  				for(var i=0;i<ss.length;i++){
	  					ss[i].checked=true;
	  				}
	  			}else{
	  				var ss = $("input[name='prower[]']");
	  				for(var i=0;i<ss.length;i++){
	  					ss[i].checked=false;
	  				}
	  			}
	  		}
</script></body>
</html>