	<include file="Public:head" />
<body>
	<include file="Public:header" />
	<div id="main-pyf">
	<include file="Public:left" />
	<div id="content">
	<div class="row">

		<div class="tsan113">

			<div class="widget">

				<div class="tabbable">
					<ul class="nav nav-tabs" id="tabnav">
						<li id="area">
							<a href="__MODULE__/Product/area">区域管理</a>
						</li>
						<li id="bulk">
							<a href="__MODULE__/Product/bulk/provincea/f/city/f/e_provincea/f/e_city/f">集散地管理</a>
						</li>
						<li id="star">
							<a href="__MODULE__/Product/star/provincea/f/city/f/county/f">出发地管理</a>
						</li>
						<li id="end">
							<a href="__MODULE__/Product/end/provincea/f/city/f">送车地管理</a>
						</li>
						<li id="visitend">
							<a href="__MODULE__/Product/visitend/provincea/f/city/f/county/f">上门送车管理</a>
						</li>
						<li id="product_line">
							<a href="__MODULE__/Product/product_line/provincea/f/city/f/e_provincea/f/e_city/f">直发管理</a>
						</li>
						<li id="maoli">
							<a href="__MODULE__/Product/maoli/provincea/f/provinceb/f">毛利管理</a>
						</li>
						<li id="arctic" class="active">
							<a href="__MODULE__/Product/arctic/brand/f/type/f">车型加价</a>
						</li>
					</ul>

					<div class="tab-content1">
						<div class="tab-content">
							<div class="tab-pane active">
								<form id="edit-profile" class="form-horizontal" />
								<fieldset>
									<div class="l_uit">
										<div class="control-group">

											<div style="float:left;" class="controls clec_t">
												<div class="dropdown">
												     <div class="pay1">
												     <div style="float:left;line-height:45px;padding:0 5px 0 0;">出发地：</div>
															<dd>
																<input type="text" placeholder="请选择省份" id="provincea" value="{$pval.area_name}"/>
																<div class="pay2" id="pay1">
																	<ul id ="s1">
																		<volist name="provincea" id="vv">
                                                                        <li data1="{$vv.area_name}" data2="{$vv.area_id}" onclick='changeShi(this)'><h2>{$vv.area_name}</h2></li>
                                                                        </volist>
																	
																	</ul>
																</div>
															</dd>
															<dd>
																<input type="text" placeholder="请选择市" id="city" value="{$cval.area_name}"/>
																<div class="pay2" id="pay2">
																	<ul id ="s2">
																		
																		
																	</ul>
																</div>
															</dd>
															<div style="float:left;line-height:45px;padding:0 5px 0 0;">目的地：</div>
															<dd>
																<input type="text" placeholder="请选择省份" id="provincea1" value="{$pval1.area_name}"/>
																<div class="pay2" id="pay1">
																	<ul id ="s3">
																		<volist name="provincea" id="vv">
                                                                        <li data1="{$vv.area_name}" data2="{$vv.area_id}" onclick='changeShi1(this)'><h2>{$vv.area_name}</h2></li>
                                                                        </volist>
																	
																	</ul>
																</div>
															</dd>
															<dd>
																<input type="text" placeholder="请选择市" id="city1" value="{$cval1.area_name}"/>
																<div class="pay2" id="pay2">
																	<ul id ="s4">
																		
																		
																	</ul>
																</div>
															</dd>
														</div>
														<input type="hidden" value="{$pval.pid}" id="pro"/>
														<input type="hidden" value="{$cval.cid}" id="cit"/>
														
														<input type="hidden" value="{$pval1.pid}" id="pro1"/>
														<input type="hidden" value="{$cval1.cid}" id="cit1"/>
														 <script>
                                                	$(document).ready(function(){
                                                		$("#tabnav").find('li[id="{$sec}"]').addClass('active').siblings().removeClass();
                                                		$("#provincea").find('option[value="{$pval.pid}"]').attr('selected',true);
                                                		if('{$pval.pid}'!=''){
                                                			$.post('__MODULE__/Product/area_act', {provinceid:'{$pval.pid}'}, function(data) {
                                                				 var _html = "";
				                                                    for (var i = 0; i < data.length; i++) {
				                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeCity(this)'><h2>"+data[i]['area_name']+"</h2></li>";
				                                                    }
				                                                    $('#s2').append(_html);
                                                	        },'json');
                                                		}
                                                		/* if('{$cval.cid}'!=''){
                                                			$.post('__MODULE__/Product/area_act', {provinceid:'{$cval.cid}'}, function(data) {
                                                				 var _html = "";
				                                                    for (var i = 0; i < data.length; i++) {
				                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeQu(this)'><h2>"+data[i]['area_name']+"</h2></li>";
				                                                    }
				                                                    $('#s4').append(_html);
                                                	        },'json');
                                                		} */
                                                		if('{$pval1.pid}'!=''){
                                                			$.post('__MODULE__/Product/area_act', {provinceid:'{$pval1.pid}'}, function(data) {
                                                				 var _html = "";
				                                                    for (var i = 0; i < data.length; i++) {
				                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeCity1(this)'><h2>"+data[i]['area_name']+"</h2></li>";
				                                                    }
				                                                    $('#s4').append(_html);
                                                	        },'json');
                                                		}
                                                	})
                                                	//获取市

                                                </script>
														<script>
															$('.pay1 dd').click(function(){
																$(this).find('.pay2').slideToggle(1000).parent().siblings().find('.pay2').hide();
															});
															
function changeShi(obj){
																
																var provinceid = $(obj).attr('data2');
				                                                $("#s2").children().remove();
				                                                $.post('__MODULE__/Product/area_act', {provinceid: provinceid}, function(data) {
				                                                    var _html = "";
				                                                    for (var i = 0; i < data.length; i++) {
				                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeCity(this)'><h2>"+data[i]['area_name']+"</h2></li>";
				                                                    }
				                                                    $('#s2').append(_html);
				                                                },'json');
				                                                
																$('#provincea').append().val(''+$(obj).attr('data1')+'');
																$('#pro').val($(obj).attr('data2'));
																$('#city').val('');
																$('#cit').val('');
															};
														
															function changeCity(obj){
                                                                var city = $(obj).attr('data2');
				                                                var city_name =$(obj).attr('data1');
				                                              
				                                                
																$('#city').append().val(city_name);
																$('#cit').val($(obj).attr('data2'));
																$('#county').val('');
																$('#cou').val('');
															}
														
														
															$('#provincea').bind('input propertychange', function() { 
															    //搜索省份
															     var name =$('#provincea').val();
															     
																 $.post('__MODULE__/Product/get_area_bycon', {name:name,pid:1}, function(data) {
																	 $('#s1').children().remove();
																	    var _html = "";
					                                                    for (var i = 0; i < data.length; i++) {
					                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeShi(this)'><h2>"+data[i]['area_name']+"</h2></li>";
					                                                    }
					                                                    $('#s1').append(_html);
					                                                },'json');
															
														     })
														     $('#city').bind('input propertychange', function() { 
															    //搜索省份
															     var name =$('#city').val();
															     var pid =$('#pro').val();
															     $("#cit").val("");
																 $.post('__MODULE__/Product/get_area_bycon', {name:name,pid:pid}, function(data) {
																	    $('#s2').children().remove();
																	    var _html = "";
					                                                    for (var i = 0; i < data.length; i++) {
					                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeCity(this)'><h2>"+data[i]['area_name']+"</h2></li>";
					                                                    }
					                                                    $('#s2').append(_html);
					                                                },'json');
															
														     })
														   
														     function changeShi1(obj){
																
																var provinceid = $(obj).attr('data2');
				                                                $("#s4").children().remove();
				                                                $.post('__MODULE__/Product/area_act', {provinceid: provinceid}, function(data) {
				                                                    var _html = "";
				                                                    for (var i = 0; i < data.length; i++) {
				                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeCity1(this)'><h2>"+data[i]['area_name']+"</h2></li>";
				                                                    }
				                                                    $('#s4').append(_html);
				                                                },'json');
				                                                
																$('#provincea1').append().val(''+$(obj).attr('data1')+'');
																$('#pro1').val($(obj).attr('data2'));
																$('#city1').val('');
																$('#cit1').val('');
															};
														
															function changeCity1(obj){
                                                                var city = $(obj).attr('data2');
				                                                var city_name =$(obj).attr('data1');
				                                               
				                                                
																$('#city1').append().val(city_name);
																$('#cit1').val($(obj).attr('data2'));
																$('#county1').val('');
																$('#cou1').val('');
															}
														
															
															$('#provincea1').bind('input propertychange', function() { 
															    //搜索省份
															     var name =$('#provincea1').val();
															     
																 $.post('__MODULE__/Product/get_area_bycon', {name:name,pid:1}, function(data) {
																	 $('#s3').children().remove();
																	    var _html = "";
					                                                    for (var i = 0; i < data.length; i++) {
					                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeShi1(this)'><h2>"+data[i]['area_name']+"</h2></li>";
					                                                    }
					                                                    $('#s3').append(_html);
					                                                },'json');
															
														     })
														     $('#city1').bind('input propertychange', function() { 
															    //搜索省份
															     var name =$('#city1').val();
															     var pid =$('#pro1').val();
															     
															     $("#cit1").val('');
																 $.post('__MODULE__/Product/get_area_bycon', {name:name,pid:pid}, function(data) {
																	    $('#s4').children().remove();
																	    var _html = "";
					                                                    for (var i = 0; i < data.length; i++) {
					                                                        _html += "<li data1="+data[i]['area_name']+" data2="+data[i]['area_id']+" onclick='changeCity1(this)'><h2>"+data[i]['area_name']+"</h2></li>";
					                                                    }
					                                                    $('#s4').append(_html);
					                                                },'json');
															
														     })
														</script>
													<!-- <select class="height46" id="provincea" name="">
														<option value="f">请选择省份</option>
														<empty name="pval.pid">
															<option selected="selected" value="0">请选择省份</option>
															<else />
															<option selected="selected" value="{$pval.pid}">{$pval.area_name}</option>
														</empty>
														<volist name="provincea" id="vv">
															<option value="{$vv.area_id}">{$vv.area_name}</option>
														</volist>
													</select>
													<select class="height46" name="" id="city">
														<option value="f">请选择市</option>
														<empty name="cval.cid">
															<option selected="selected" value="0">请选择市</option>
															<else />
															<option selected="selected" value="{$cval.cid}">{$cval.area_name}</option>
														</empty>
													</select> -->
												</div>

												<div class="v_pb">
													<button id="btn" class="btn btn-default5" type="button">搜索</button>
												</div>

											</div>
											<!-- /controls -->
											<button data-toggle="modal" data-target="#myModa2" class="red btn btn-default5 fr" id="add" type="button">添加</button>

										</div>
										<script>
												$(function(){
													$('table tr.tr2:odd').css('background','#F0F0F0');
												});
												
											</script>
										<div class="l_table">
											<table>
												<tr class="tr1 height23 bgcolor1">
													<td colspan='2'>集散地A</td>
													<td colspan='2'>集散地B</td>
													<td rowspan='2'>价格</td>
													<td rowspan='2'>操作</td>
												</tr>
												<tr class="tr1 height23 bgcolor2">
													<td>省份</td>
													<td>市</td>
													<td>省份</td>
													<td>市</td>
												</tr>
												<volist name="list" id="vo">
												<tr class="tr2">
													<td class="td3">{$vo.p_s_name}</td>
													<td>{$vo.c_s_name}</td>
													<td class="td3">{$vo.p_e_name}</td>
													<td>{$vo.c_e_name}</td>
													<td>{$vo['san_price']/100}</td>
													<td>
														<a class="see4" data-code="{$vo.san_code}">删除</a>
														<a data-toggle="modal" data-target="#myModa2" 
														code="{$vo.san_code}"  
														star="{$vo.san_star}"  
														end="{$vo.san_end}"  
														price="{$vo.san_price}"  
														psname="{$vo.p_s_name}"  
														csname="{$vo.c_s_name}"  
														pename="{$vo.p_e_name}"  
														cename="{$vo.c_e_name}"  
														class="see1">修改</a>
													</td>
												</tr>
												</volist>

											</table>

										</div>
										<div class="l_fenye">
											<div class="sad">
												<button type="button" data-toggle="modal" data-target="#hfvei" class="btn btn-default5">导入</button>
												
												<a href="__MODULE__/Product/daochu_bulk/pro/{$pval['pid']}/city/{$cval['cid']}/e_pro/{$pval1['pid']}/e_city/{$cval1['cid']}"><button type="button" class="btn btn-default6">导出</button></a>
											
											
											</div>
										{$page}
										</div>
									</div>
								</fieldset>
							</form>
						</div>

					</div>
				</div>

			</div>

		</div>
		<!-- /widget -->

	</div>
	<!-- /span11 -->

</div>
<!-- /row -->

</div>
</div>
<!--danceng-->
<div id="myModa2" style="display:none; z-index:9999" class="tan1">
	<div class="tan11">
		<!-- <form action="__MODULE__/Product/bulkadd" method="post"> -->
		<h2>集散地管理</h2>
		<div class="dw2">
			<dl>
				<dt>
					<select class="dh4" name="sprovince" id="provinceb">
						<option value="0">请选择省</option>
						<volist name="provincea" id="vv">
							<option value="{$vv.area_id}">{$vv.area_name}</option>
						</volist>
					</select>
					<select class="dh4" name="scity" id="citya">
						<option value="0">请选择市</option>
					</select>

				</dt>
			</dl>
			<dl>
				<img src="__BACK__/images/dw1.png"></dl>
			<dl>
				<dt>
					<select class="dh4" name="eprovince" id="provincec">
						<option value="0">请选择省</option>
						<volist name="provincea" id="vv">
							<option value="{$vv.area_id}">{$vv.area_name}</option>
						</volist>
					</select>
					<select class="dh4" name="ecity" id="cityb">
						<option value="0">请选择市</option>
					</select>
				</dt>
			</dl>
			<dl>
				<input type="hidden" name="san_code" id="code">
				<input type="text" name="price" id="price" placeholder="请输入价格" value="" class="put2"></dl>

		</div>

		<p>
			<input type="submit" id="jsd" class="put1" value="确认"></p>
		<!-- </form> -->
	</div>

</div>
<div id="hfvei" style="display:none; z-index:9999" class="tan1">
<div class="tan11">
<h2>导入数据</h2>
<form action="__MODULE__/Product/daoru_bulk" method="post" enctype="multipart/form-data">
<div class="dw4">
	<input type="file" name="csvFile">
</div>
<span>注：导入操作会删除原有数据</span>
<p>
    <input type="submit" class="put1" value="确认"></p>
</form></div>
</div>
<script> 
                                                  /*$(document).ready(function(){
                                                		$("#tabnav").find('li[id="{$sec}"]').addClass('active').siblings().removeClass();
                                                		$("#provincea").find('option[value="{$pval.pid}"]').attr('selected',true);
                                                		if('{$cval.cid}'!=''){
                                                			$.post('__MODULE__/Product/area_act', {provinceid:'{$pval.pid}'}, function(data) {
                                                	            var _html = "";
                                                	            for (var i = 0; i < data.length; i++) {
                                                	            	if('{$cval.cid}'==data[i]['area_id']){
                                                	            		_html += "<option value="+data[i]['area_id']+" selected='selected' class='delc'>"+data[i]['area_name']+"</option>"
                                                	            	}
                                                	                _html += "<option value="+data[i]['area_id']+" class='delc'>"+data[i]['area_name']+"</option>"
                                                	            }
                                                	            $('#city').append(_html);
                                                	        },'json');
                                                		}
                                                		/* if('{$coval.cid}'!=''){
                                                			$.post('__MODULE__/Product/area_act', {provinceid:'{$cval.cid}'}, function(data) {
                                                	            var _html = "";
                                                	            for (var i = 0; i < data.length; i++) {
                                                	            	if('{$coval.cid}'==data[i]['area_id']){
                                                	            		_html += "<option value="+data[i]['area_id']+" selected='selected' class='delb'>"+data[i]['area_name']+"</option>"
                                                	            	}
                                                	                _html += "<option value="+data[i]['area_id']+">"+data[i]['area_name']+"</option>"
                                                	            }
                                                	            $('#county').append(_html);
                                                	        },'json');
                                                		}
                                                	}) 
                                                	//获取市 */
    
                                                </script>


<script>
	//添加
	$('#add').click(function(event) {
		$('#provinceb option').each(function(index, el) {
            console.log($(this).val());
            if (0 == $(this).val()) {
                $(this).attr('selected',true);
            }
        });
        $('#provincec option').each(function(index, el) {
            console.log($(this).val());
            if (0 == $(this).val()) {
                $(this).attr('selected',true);
            }
        });
        var city = "<option value='0'>请选择市</option>";
        $('#citya').html(city);
        $('#cityb').html(city);
        $('#price').val('');
        $('#code').val('');
    });
	//添加集散地
	$('#jsd').click(function(event) {
		var provinceb = $('#provinceb').val();
        var citya = $('#citya').val();
        var provincec = $('#provincec').val();
        var cityb = $('#cityb').val();
        var price = $('#price').val();
        var code = $('#code').val();
        //alert(code);return false;
        if (provinceb == "") {
            $.anewAlert('起始省不能为空！');
            return false;
        } else if (citya == "") {
            $.anewAlert('起始市不能为空！');
            return false;
        } else if (provincec == "") {
            $.anewAlert('结束省不能为空！');
            return false;
        } else if (cityb == "") {
            $.anewAlert('结束市不能为空！');
            return false;
        } else if (price == "") {
            $.anewAlert('价格不能为空！');
            return false;
        } else if (!$.isPositiveNum(price)) {
            $.anewAlert('价格填写错误');
            return false;
        }
        $.post('__MODULE__/Product/bulkadd', {'san_code':code,'sprovince':provinceb,'scity':citya,'eprovince':provincec,'ecity':cityb,'price':price}, function(data) {
            if(data['status'] == 'Y'){
                $.anewAlert(data['info']);
                window.location.reload();
            } else {
                $.anewAlert(data['info']);
            } 
        });
	});
	
	
	
	
	
	//获取市
    $('#provincea').change(function(event) {
        // alert($(this).val());
        var provinceid = $(this).val();
        $(".delc").remove();
        $.post('__MODULE__/Product/area_act', {provinceid: provinceid}, function(data) {
            var _html = "";
            for (var i = 0; i < data.length; i++) {
                _html += "<option value="+data[i]['area_id']+" class='delc'>"+data[i]['area_name']+"</option>"
            }
            $('#city').append(_html);
        },'json');
    });
	//获取添加起始市
    $('#provinceb').change(function(event) {
        // alert($(this).val());
        var provinceid = $(this).val();
        
        $.post('__MODULE__/Product/area_act', {provinceid: provinceid}, function(data) {
            var _html = "";
            for (var i = 0; i < data.length; i++) {
                _html += "<option value="+data[i]['area_id']+">"+data[i]['area_name']+"</option>"
            }
            $('#citya').append(_html);
        },'json');
    });
	//获取添加结束市
    $('#provincec').change(function(event) {
        // alert($(this).val());
        var provinceid = $(this).val();
        $.post('__MODULE__/Product/area_act', {provinceid: provinceid}, function(data) {
            var _html = "<option>请选择区</option>";
            for (var i = 0; i < data.length; i++) {
                _html += "<option value="+data[i]['area_id']+">"+data[i]['area_name']+"</option>"
            }
            $('#cityb').html(_html);
        },'json');
    });
    //搜索
    $('#btn').click(function(event) {
        var provincea = $('#pro').val();
        var city = $('#cit').val();
        if(provincea ==''){
        	provincea = 'f';
        }
        if(city ==''){
        	city ='f';
        }
        
        var provincea1 = $('#pro1').val();
        var city1 = $('#cit1').val();
        if(provincea1 ==''){
        	provincea1 = 'f';
        }
        if(city1 ==''){
        	city1 ='f';
        }
        /* if((provincea!=''&&city=='')||(provincea==''&&city!='')){
        	$.anewAlert('省市不能为空');
        	return false;
        } */
        window.location.href="__MODULE__/Product/bulk/provincea/"+provincea+"/city/"+city+"/e_provincea/"+provincea1+"/e_city/"+city1;
    });
    //删除    
    $('.see4').click(function(event) {
        var code = $(this).attr('data-code');
        if (confirm('确定删除此信息吗？')) {
            $.post('__MODULE__/Product/bulkdel', {code: code}, function(data) {
                alert(data);
                window.location.reload();
            },'json');
        }
    })
    //修改
    $('.see1').click(function(event) {
    	var code = $(this).attr('code');
    	var star = $(this).attr('star');
    	var end = $(this).attr('end');
    	var price = $(this).attr('price')/100;
    	var p_s_name = $(this).attr('psname');
    	var c_s_name = $(this).attr('csname');
    	var p_e_name = $(this).attr('pename');
    	var c_e_name = $(this).attr('cename');
    	var sp = star.split(',')[0];
    	var sc = star.split(',')[1];
    	var ep = end.split(',')[0];
    	var ec = end.split(',')[1];
    	$('#provinceb option').each(function(index, el) {    		
    		if (sp == $(this).val()) {
    			$(this).attr('selected',true);
    		}
    	});
        var _htmlt = "<option selected value='"+sc+"'>"+c_s_name+"</option>"
        $('#citya').html(_htmlt);
        $('#provincec option').each(function(index, el) {    		
    		if (ep == $(this).val()) {
    			$(this).attr('selected',true);
    		}
    	});
        var _htmlb = "<option selected value='"+ec+"'>"+c_e_name+"</option>"
        $('#cityb').html(_htmlb);
        $('#price').val(price);
        $('#code').val(code);
    });
</script>
</body>
</html>