<include file='public:header'/>
<script src="__JS__/indexTuo.js"></script>
<link rel="stylesheet" type="text/css" href="__FRONT__/style/jquery.fullPage.css" />
<div id="fullpage">
	<!--第一个页面-->
	<div class="section">
		<include file='public:menu'/>
		<div class="bannersy">
			<div class="slideTxtBox">
				<span class="hd">
					<ul class="bannerdiv1">
						<li><span class="yuan yuan1"></span></li>
						<li><span class="yuan yuan2"></span></li>
						<li><span class="yuan yuan2"></span></li>
					</ul>
				</span>
				<div class="bd" style="overflow: hidden">
					<ul>
						<li>
							<a target="_blank" href="http://www.tuotuoyunche.com/Front/AboutUs/index/code/AC14920644902AGS"><img class="pc bannerimg thbanner" src="/Public/Front/images/banner1.png" alt="品质"></a>
						</li>
					</ul>
					<ul>
						<li>
							<a target="_blank" href="http://www.tuotuoyunche.com/Front/SecurityGuarantee/index/code/AC1492063903542G"><img class="pc bannerimg thbanner1" src="/Public/Front/images/banner2.png" alt="快捷"></a>
						</li>
					</ul>
					<ul>
						<li>
							<a target="_blank" href="http://www.tuotuoyunche.com/Front/SecurityGuarantee/index/code/AC14920637842D94"><img class="pc bannerimg thbanner" src="/Public/Front/images/banner3.png" alt="安心"></a>
						</li>
					</ul>
				</div>
			</div>
			<script type="text/javascript">jQuery(".slideTxtBox").slide(); </script>
		</div>
	</div>
	<!--第二个页面-->
	<div class="section xdcxdiv">
		<div style="float: left;width:50%;padding:50px">
			<table id="twotable" style="width:100%">
				<tr>
					<td class="tddh" onclick="xdxs()" style="border-top-left-radius: 39px;">
						<img class="tdimg" id="er1.png" name="er11.png" style="width:100%" src="/Public/Front/images/er11.png">
						<div class="tddhdiv1">
							<div class="tddhdiv11">快速下单</div>
						</div>
					</td>
					<td style="width: 20px"></td>
					<td class="tddh" onclick="ddxs('320')" style="border-top-right-radius: 39px;">
						<img class="tdimg" id="er2.png" name="er22.png" style="width:100%" src="/Public/Front/images/er2.png">
						<div class="tddhdiv1">
							<div class="tddhdiv11">订单查询</div>
						</div>
					</td>
				</tr>
				<tr style="height: 20px"></tr>
				<tr>
					<td class="tddh" onclick="youshi()" style="border-bottom-left-radius: 39px;">
						<img class="tdimg" id="er3.png" name="er33.png" style="width:100%" src="/Public/Front/images/er3.png">
						<div class="tddhdiv1 tddhdiv2">
							<div class="tddhdiv11">服务优势</div>
						</div>
					</td>
					<td style="width: 20px"></td>
					<td class="tddh" onclick="gywm()" style="border-bottom-right-radius: 39px;">
						<img class="tdimg" id="er4.png" name="er44.png" style="width:100%" src="/Public/Front/images/er4.png">
						<div class="tddhdiv1 tddhdiv2">
							<div class="tddhdiv11">关于我们</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div style="float: right;width:50%;">
			<div class="newstitle" style="margin-top: 50px;">
				<center><span id="ksfw" style="font-size: 28px">快速下单</span></center>
				<center><span style="font-size: 24px;color: #414141;">没有满意的结果，过程再好也只是回忆</span></center>
			</div>
			<div class="ksfw">
				<table id="searchtable" class="pc fwtable1">
					<tr>
						<td style="width:40%;">
							<div class="csczz">
								<p>请输入订单号查询当前订单状况，如果当前订单不存在，请联系客服人员。</p>
							</div>
							<div class="du3d" id="tiao1">
								<input type="text" placeholder="请在此输入订单号" class="cx1" id="keyword" onchange="bians()" ><!-- onkeyup="sel(this);" --><button onclick="tiaoFun('keyword');" type="button"></button>
								<div id="searchBoxs"></div>
							</div>
							<div class="phone serchsj" id="tiao2">
								<input type="text" placeholder="请在此输入订单号" class="cx2" id="keyword1" ><!-- onkeyup="sel(this);" --><button onclick="tiaoFun('keyword1');" type="button"></button>
								<div id="searchBoxs"></div>
							</div>
						</td>
					</tr>
					<tr class="searchtd">
						<td>
							<a>
								<div class="xddiv cxdiv">
									<div class="pc xdchild"  onclick="tiaoFun('keyword');">
										<center><font class="xddfont">订单查询</font></center>
									</div>
									<div class="phone xdchild"  onclick="tiaoFun('keyword1');">
										<center><font class="xddfont">订单查询</font></center>
									</div>
								</div>
							</a>
						</td>
					</tr>
				</table>
				<script>
                    function bians(){
                        $(".searchtd .xddiv").attr('style',"background:#ff8000;");
                        $(".searchtd .xddfont").attr('style',"color:#ffffff;");
                    }
				</script>
				<table id="xdtable" style="margin: auto;width: 480px;">
					<form method="post" action="__MODULE__/Order/normal" id="quickz">
						<div style="display: bolok">
							<!-- 开始地 -->
							<input type="hidden" name="qsrez" id="qsrez" value="" />
							<!-- 目的地 -->
							<input type="hidden" name="qerez" id="qerez" value="" />
							<!-- 开始地中文名称 -->
							<input type="hidden" name="qsrezname" id="qsrezname" value="" />
							<!-- 目的地中文名称 -->
							<input type="hidden" name="qerezname" id="qerezname" value="" />
							<!-- 车品牌 -->
							<input type="hidden" name="qsctez" id="qsctez" value="阿斯顿马丁" />
							<!-- 车型号 -->
							<input type="hidden" name="qsctcz" id="qsctcz" value="V12 Vantage" />
							<!-- 车id -->
							<input type="hidden" name="carids" id="carids" value="202" />
							<!-- 运费 -->
							<input type="hidden" name="lineprice" id="lineprice" value="0" />
							<!-- 类型 -->
							<input type="hidden" name="product_type" id="product_type" value="0" />
							<!-- 总费 -->
							<input type="hidden" name="totalz" id="totalz" value="0" />
							<!-- 提车费 -->
							<input type="hidden" name="tiz" id="tiz" value="0" />
							<!-- 送车费 -->
							<input type="hidden" name="songz" id="songz" value="0" />
							<!-- 集散地起点 -->
							<input type="hidden" name="sansz" id="sansz" value="" />
							<!-- 集散地重点 -->
							<input type="hidden" name="sanez" id="sanez" value="" />
							<!-- 提车地id -->
							<input type="hidden" name="tidz" id="tidz" value="" />
							<!-- 送车地id -->
							<input type="hidden" name="sidz" id="sidz" value="" />
							<!-- 毛利 -->
							<input type="hidden" name="maoliz" id="maoliz" value="0" />
							<!-- 普通下单钱数第一部分 -->
							<input type="hidden" name="ptxd1" id="ptxd1" value=0 />
							<!-- 普通下单钱数第二部分 -->
							<input type="hidden" name="ptxd2" id="ptxd2" value=0 />
							<!-- 集散地B地名（汉字） -->
							<input type="hidden" name="ptjsd" id="ptjsd" value='' />
							<!-- 数据是否可用 -->
							<input type="hidden" name="flag" id="flag" value='N' />
							<input type="hidden" name="msg" id="msg" value='N' />
						</div>
						<tr>
							<td  colspan="2">
								<div class="csczz">
									<p>请选择出发地、目的地进行询价，点击立即下单后客服会联系您确认</p>
								</div>
							</td>
						</tr>
						<tr class="jiange"></tr>
						<tr>
							<td class="blacktd"><div class="buttonblack1"><font>出发地:</font></div></td>
							<td style="width:45%"><!-- 开始地 -->
								<div class="tab-pay1 top_search2">
									<dl class="dlbottom">
										<dd>
											<input type="text" placeholder="" readonly="readonly" class="txt1a inko" name="qsrcz" id="qsrcz" value="{$jumpz['order']['start']}" onclick="ceshi3(this);">
											<span class="txtspan1" onclick="ceshi3(this);"><img src="/Public/Front/images/ww5.png" alt="按钮"></span>
											<span class="xxsj"></span>
											<div class="selected0" id="q4">
												<div class="province star_province" id="qspz">
													<ul>
														<!-- <li data-id="14">请选择</li> -->
														<foreach name="pro" item="vo">
															<li data-id="1"  onclick="getCityz('{$vo.area_id}','S','{$vo.area_name}')">{$vo.area_name}</li>
														</foreach>
													</ul>
												</div>
												<div class="city star_city" data-id="" style="display:none" id="qscz"></div>
												<div class="county star_county" data-id="" style="display:none" id="qsbz"></div>
											</div>
										</dd>
									</dl>
								</div>
							</td>
						</tr>
						<tr class="jiange"></tr>
						<tr>
							<td><div class="buttonblack1"><font>目的地:</font></div></td>
							<td><!-- 目的地 -->
								<div class="tab-pay1 top_search2">
									<dl class="dlbottom"><dd><input type="text" readonly="readonly" placeholder="" class="txt1a inko" name="qercz" id="qercz" value="{$jumpz['order']['end']}" onclick="ceshi3(this);">
										<span class="txtspan1" onclick="ceshi3(this);"><img src="/Public/Front/images/ww5.png" alt="按钮"></span>
										<span class="xxsj"></span>
										<div class="selected0" id="q5">
											<div class="province star_province" id="qepz">
												<foreach name="pro" item="vo">
													<li data-id="1"  onclick="getCityz('{$vo.area_id}','E','{$vo.area_name}')">{$vo.area_name}</li>
												</foreach>
											</div>
											<div class="city star_city" data-id="" id="qecz" style="display:none"></div>
											<!-- <div class="county star_county" data-id=""></div> -->
										</div> </dd></dl>
								</div>
							</td>
						</tr>
						<tr class="jiange"></tr>
						<tr style="display: none">
							<td><div class="buttonblack1"><font>品牌车系:</font></div></td>
							<td><!-- 车品牌 -->
								<div class="tab-pay1 top_search2">
									<dl class="dlbottom"><dd>
										<input type="text" placeholder="" readonly="readonly" class="txt1a inko" id="qbtz" name="carInfoz" value="{$jumpz['order']['carInfo']}" onkeyup="serchCar(this);">
										<span class="txtspan1" onclick="ceshi3(this);"><img src="/Public/Front/images/ww5.png" alt="按钮"></span>
										<span class="xxsj"></span>
										<div class="selected0" id="q6">
											<div class="province star_province" id="qbrz">
												<foreach name="brand" item="vo">
													<li data-id="1"  onclick="getTypez('{$vo.cxjj_id}','{$vo.cxjj_brand}')">{$vo.cxjj_name}--{$vo.cxjj_brand}</li>
												</foreach>
											</div>
											<div class="city star_city" data-id="" style="display:none" id="qtz"></div>
											<!-- <div class="county star_county" data-id=""></div> -->
										</div> </dd></dl>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2" class="heighttd"></td>
						</tr>
						<tr>
							<td colspan="2">
								<center>
									<font class="moneyfont">费用：&nbsp;￥<bold id="zongz1">0</bold>元</font>
								</center>
							</td>
						</tr>
						<tr style="height:50px;">
							<td colspan="2">
								<a>
									<div class="xddiv xddiv1">
										<div class="xdchild"  onclick="goOrder();">
											<center><font class="xddfont">立即下单</font></center>
										</div>
									</div>
								</a>
							</td>
						</tr>
					</form>
				</table>
				<div id="yxtable">
					<div class="yximg">
						<center><img src="/Public/Front/images/youf.png" style="padding-top:20px;position: relative;" /></center>
					</div>
				</div>
				<div id="wmtable" style="display: none">
					<div class="yximg">
						<img src="/Public/Front/images/gywm.png" style="padding-top:20px;width: 90%;" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--第三个页面-->
	<div class="section three">
		<!--<div class="slide">第三屏的第一屏</div>
		<div class="slide">第三屏的第二屏</div>
		<div class="slide">第三屏的第三屏</div>
		<div class="slide">第三屏的第四屏</div>-->
		<div id="lcdiv">
			<div class="lcparentdiv" style="overflow:hidden">
				<img id="lcimg" style="width:100%" src="/Public/Front/images/lcdi.png">
				<div id="lcimg1" style="z-index: 1001;width: 70%;margin-left: -35%;position: absolute;opacity: 1;top: 150px;left: 150%;">
					<!--<ul class="lcfwul">
						<li><a href=""><img src="/Public/Front/images/lc1.png"></a></li>
						<li><a href=""><img src="/Public/Front/images/lc2.png"></a></li>
						<li><a href=""><img src="/Public/Front/images/lc3.png"></a></li>
						<li><a href=""><img src="/Public/Front/images/lc4.png"></a></li>
					</ul>
					<ul class="lcfwul lcfwul1">
						<li><a href=""><img src="/Public/Front/images/lc1.png"></a></li>
						<li><a href=""><img src="/Public/Front/images/lc2.png"></a></li>
						<li><a href=""><img src="/Public/Front/images/lc3.png"></a></li>
						<li><a href=""><img src="/Public/Front/images/lc4.png"></a></li>
					</ul>-->
					<a href="http://www.tuotuoyunche.com/Front/News/detail/code/AC1528526275U7SW"><img class="lcimg1img" style="width: 100%;" src="/Public/Front/images/lcfc1.png"></a>
				</div>
			</div>
			<div id="lcimg2" style="width: 100%;height: 121px;position: absolute;top: 0px;" class="newstitle">
				<center><span style="font-size: 28px">服务流程</span></center>
				<center><span style="font-size: 24px;color: #414141;">没有满意的结果，过程再好也只是回忆</span></center>
			</div>
		</div>
	</div>
	<!--第四个页面-->
	<div class="section">
		<div class="newstitle">
			<center><span style="font-size: 28px">妥妥新闻</span></center>
			<center><span style="font-size: 24px;color: #414141;">没有满意的结果，过程再好也只是回忆</span></center>
		</div>
		<div>
			<ul class="lcul">
				<li>
					<div style="height:250px">
						<a href="__MODULE__/News/detail/code/{$artList.0.article_code}"><img id="xw11" style="width: 100%;height:300px;" src="/Public/Front/images/xw11.jpg"></a>
					</div>
					<div class="ttxw11 xwfont">
						<div>
							<center><a href="__MODULE__/News/detail/code/{$artList.0.article_code}"><font style="font-weight: 900;">{$artList.0.titles}</font></a></center>
						</div>
					</div>
				</li>
				<li>
					<div style="height:250px">
						<a href="__MODULE__/News/detail/code/{$artList.1.article_code}"><img style="width: 100%;height:300px;" src="/Public/Front/images/xw44.png"></a>
					</div>
					<div class="ttxw11 xwfont">
						<div>
							<center><a href="__MODULE__/News/detail/code/{$artList.1.article_code}"><font style="color: #ffffff;font-weight: 900;">{$artList.1.titles}</font></a></center>
						</div>
					</div>
				</li>
				<li>
					<div style="height:250px">
						<a href="__MODULE__/News/detail/code/{$artList.2.article_code}"><img style="width: 100%;height:300px" src="/Public/Front/images/xw33.png"></a>
					</div>
					<div class="ttxw11 xwfont">
						<div>
							<center><a href="__MODULE__/News/detail/code/{$artList.2.article_code}"><font style="font-weight: 900;">{$artList.2.titles}</font></a></center>
						</div>
					</div>
				</li>
				<li>
					<div style="height:250px">
						<a href="__MODULE__/News/detail/code/{$artList.3.article_code}"><img style="width: 100%;height:300px" src="/Public/Front/images/xw22.png"></a>
					</div>
					<div class="ttxw11 xwfont">
						<div>
							<center><a href="__MODULE__/News/detail/code/{$artList.3.article_code}"><font style="color: #ffffff;font-weight: 900;">{$artList.3.titles}</font></a></center>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<include file='public:footer'/>
	</div>

</div>
<div class="pc">
	<script type="text/javascript" src="__JS__/jquery.fullPage.js"></script>
</div>
<script>
    $(function(){
        height = $(window).height();
        $("#twotable").css('height',height-120+'px');
        $(".tdimg,.tddhdiv1").css('height',height/2-60+'px');
        $(".tddhdiv11").css('margin-top',height/4-30+'px');
        $(".tddhdiv2").css('margin-top',parseInt(height/2-60)+parseInt(21)+'px');
        width=$(".tdimg").width();
        $(".tddhdiv1").css('width',parseInt(width)+parseInt(1)+'px');
        $("#xdtable,#searchtable").css('margin-top',parseInt(height/2)-parseInt(270)+'px');
        $("#yxtable").css('height',height-220+'px');
        banheight = height-91;
        nerheight = $(".bannerimg").height();
        $(".bd").css('height',banheight+'px');
        $(".bannerimg").css('margin-top','-'+((nerheight-banheight)/2)+'px');
        $(".bannerdiv1").css('margin-top',banheight-50+'px');
        lcimg = height-189;
        $("#lcimg,.lcparentdiv").css('height',height+'px');
        $(".yximg img").css('height',height-230+'px');
        hrtop = height-450;
        imgheight1 = $("#xw11").outerHeight();
        if(height<800){
            lcul = 150;
            $(".ttxw11").css('top','-'+(200)+'px');
		}else{
            lcul = 250;
            $(".ttxw11").css('top','-'+(150)+'px');
		}
        $(".lcul").css('height',lcul+'px');
        lculimg = $(".lcul li img").outerHeight(true);

        $(".lcul li img").css('margin-top','-'+((lculimg-lcul)/2)+'px');
        hrtop = hrtop - imgheight1
        $(".tdimg").click(function() {
			str = $(".tdimg")
			str.each(function(){
                str =  $(this).attr("id");
			});;
            str = $(this).attr("name");
        }) ;
        newstitle = $(".newstitle").outerHeight(true);
        fwfont = $(".fwfont").outerHeight(true);
        dnn0 = $(".dnn0").outerHeight(true);
        foorhr = (height-newstitle-lcul-fwfont-dnn0-60);
        if(foorhr> 80){
            $(".foothr").css('margin-top',80+'px');
            $(".dnn0").css('margin-top',(foorhr-80)+'px');
		}else{
            $(".foothr").css('margin-top',(parseInt(foorhr)+parseInt(30))+'px');
		}
        lcimg2 = 180;
        lcimg1width= $(".lcimg1img").width();
		lcimg1 = (lcimg1width/1489*739)
        lctop=parseInt((height-lcimg1-lcimg2)/2)+parseInt(lcimg2);
        $(document).on('mouseover','#lcimg', function(){
            $("#lcimg1").stop(true,true).animate({
                top:lctop+'px',
                opacity:'1',
                width:'70%',
                left:'50%',
            },'100000');
        });
        $(document).on('mouseover','#lcimg2', function(){
            $("#lcimg1").stop(true,true).animate({
                top:lctop+'px',
                opacity:'1',
                width:'70%',
                left:'150%',
            },'100000');
		});
    }) ;

    $(document).ready(function() {

        $('#fullpage').fullpage({

            sectionsColor:['#ffffff','#ffffff','#ffffff','#ffffff'], //控制每个section的背景颜色

            controlArrow:true,   //是否隐藏左右滑块的箭头(默认为true)

            verticalCentered: true,  //内容是否垂直居中(默认为true)

            css3: true, //是否使用 CSS3 transforms 滚动(默认为false)

            resize:false, //字体是否随着窗口缩放而缩放(默认为false)

            scrolllingSpeed:1000,  //滚动速度，单位为毫秒(默认为700)

            anchors:['page1','page2','page3','page4'],  //定义锚链接(值不能和页面中任意的id或name相同，尤其是在ie下，定义时不需要加#)

            lockAnchors:false,  //是否锁定锚链接，默认为false。设置weitrue时，锚链接anchors属性也没有效果。

            loopBottom:false,  //滚动到最底部后是否滚回顶部(默认为false)

            loopTop:false, //滚动到最顶部后是否滚底部

            loopHorizontal:false,//左右滑块是否循环滑动

            autoScrolling:true, // 是否使用插件的滚动方式，如果选择 false，则会出现浏览器自带的滚动条

            scrollBar:false,//是否显示滚动条，为true是一滚动就是一整屏

            fixedElements:".logo", //固定元素

            menu:".menu",

            keyboardScrolling:true, //是否使用键盘方向键导航(默认为true)

            keyboardScrolling:true, //页面是否循环滚动（默认为false）

            navigation:true, //是否显示项目导航（默认为false）

            navigationTooltips:["page1","page2","page3","page4"],//项目导航的 tip

            navigationColor:'#fff', //项目导航的颜色

            slidesNavigation:true,

        });

    });
	function ddxs(){
	    $("#searchtable").show();
        $("#yxtable").hide();
        $("#xdtable").hide();
        $("#wmtable").hide();
        $("#ksfw").html('查询订单');

	}
    function xdxs(){
        $("#searchtable").hide();
        $("#yxtable").hide();
        $("#xdtable").show();
        $("#wmtable").hide();
        $("#ksfw").html('快速下单');
    }
    function youshi(){
        $("#searchtable").hide();
        $("#yxtable").show();
        $("#xdtable").hide();
        $("#wmtable").hide();
        $("#ksfw").html('服务优势');
    }
    function gywm(){
        $("#searchtable").hide();
        $("#yxtable").hide();
        $("#xdtable").hide();
        $("#wmtable").show();
        $("#ksfw").html('关于我们');
    }
	$('.aske1 ul li').click(function(){
		$(this).addClass('on').siblings().removeClass('on');
		$('.tab-cont1 .tab-pay1').eq($(this).index()).fadeIn(300).siblings().hide();
	});

    $(".tdimg").click(function() {
        str = $(".tdimg")
        str.each(function(){
            str =  $(this).attr("id");
            $(this).attr("src","/Public/Front/images/"+str) ;
        });
        str = $(this).attr("name");
        $(this).attr("src", "/Public/Front/images/" + str);

    }) ;
</script>
<!--content-->