<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<script>
	/* $(document).ready(function(){
		var zong = '{$jump.total}';
		var bao = '{$jump.sprice}';
		var yun = '{$jump.tprice}';
		var ewai = '{$jump.eprice}';
		if(zong!=''){
			$("#zong").html(zong);
			$("#quickshop").show();
		}
		if(bao!=''){
			$("#secu").html(bao);
		}
		if(yun!=''&&ewai!=''){
			$("#trans").html(parseInt(ewai)/100 + parseInt(yun));
		}
		var zongz = '{$jumpz["order"]["total"]}';
		if(zongz!=''){
			$("#zongz").html(zongz);
		}
	}) */

	function ceshi(obj){
		var qsrcz = $("#qsrcz").val();
		if(qsrcz.trim()==""){
			layer.msg("请先选择出发地!");
			//$("#qepz").hide();
			//$("#q5").hide();
			//$("#qecz").hide();
			//$(".selected0").hide();
			return false;
		}else{
            if($(".selected0").attr('style') == 'display: block;'){
                $(obj).siblings(".selected0").hide();
            }else{
                $(obj).siblings(".selected0").show();
            }
		}
	}
</script>
<script src="__JS__/indexTuo.js"></script>
<!--banner-->
	<div class="bannersy">
		<div class="slideTxtBox">
			<span class="hd">
				<ul class="bannerdiv1">
					<li class="yuan yuan1" ></li>
					<li class="yuan yuan2" ></li>
					<li class="yuan yuan3" ></li>
				</ul>
			</span>
			<div class="bannerdiv3">
				<center><div class="dhdiv">热线电话：400-877-1107</div></center>
			</div>
			<div class="bd">
				<ul>
					<li>
						<a target="_blank" href="__MODULE__/SecurityGuarantee/index/code/AC1492063903542G"><img class="phone bannerimg" src="/Public/Front/images/BANNER_min.png" alt="品质"></a>
					</li>
				</ul>
				<ul>
					<li>
						<a target="_blank" href="__MODULE__/SecurityGuarantee/index/code/AC1492063903542G"><img class="phone bannerimg" src="/Public/Front/images/banner1_min.png" alt="快捷"></a>
					</li>
				</ul>
				<ul>
					<li>
						<a target="_blank" href="__MODULE__/SecurityGuarantee/index/code/AC14920637842D94"><img class="phone bannerimg" src="/Public/Front/images/banner2_min.png" alt="安心"></a>
					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">jQuery(".slideTxtBox").slide(); </script>
	</div>
<!--content-->
<div class="part1" style="width: 100%;">
	<div style="width:100%">
		<table>
			<tr>
				<td class="tddh"><img onclick="xdxs()" value="0" class="tdimg" id="ersj1.png" name="ersj1.png" style="width:60%" src="/Public/Front/images/ersj1.png"></td>
				<td class="tddh"><img onclick="ddxs(this)" value="0" class="tdimg" id="ersj2.png" name="ersj2.png" style="width:60%" src="/Public/Front/images/ersj2.png"></td>
				<td class="tddh"><img onclick="youshi()" value="0" class="tdimg" id="ersj3.png" name="ersj3.png" style="width:60%" src="/Public/Front/images/ersj3.png"></td>
				<td class="tddh"><img onclick="gywm()" value="0" class="tdimg" id="ersj4.png" name="ersj4.png" style="width:60%" src="/Public/Front/images/ersj4.png"></td>
			</tr>
		</table>
	</div>
	<div class="ksfw" style="display: none">
		<div style="width: 90%;margin:auto;overflow: hidden">
			<div id="ksfw" style="font-size: 30px;width: 133px;margin: 70px auto 0px;">快速下单</div>
		</div>
		<table id="searchtable" class="pc fwtable1">
			<tr>
				<td style="width:40%;">
					<div class="csczz">
						<p>请输入订单号查询当前订单状况，如果当前订单不存在，请联系客服人员。</p>
					</div>
					<div class="du3d" id="tiao1">
						<input type="text" placeholder="请在此输入订单号" class="cx1" id="keyword" onchange="bians()" ><!-- onkeyup="sel(this);" --><button onclick="tiaoFun('keyword');" type="button"></button>
						<div id="searchBoxs"></div>
					</div>
					<div class="phone serchsj" id="tiao2">
						<input type="text" placeholder="请在此输入订单号" class="cx2" id="keyword1" ><!-- onkeyup="sel(this);" --><button onclick="tiaoFun('keyword1');" type="button"></button>
						<div id="searchBoxs"></div>
					</div>
				</td>
			</tr>
			<tr class="searchtd">
				<td>
					<a>
						<div class="xddiv">
							<div class="pc xdchild"  onclick="tiaoFun('keyword');">
								<center><font class="xddfont">订单查询</font></center>
							</div>
							<div class="phone xdchild"  onclick="tiaoFun('keyword1');">
								<center><font class="xddfont">订单查询</font></center>
							</div>
						</div>
					</a>
				</td>
			</tr>
		</table>
		<script>
			function bians(){
				$(".searchtd .xddiv").attr('style',"background:#ff8000;");
				$(".searchtd .xddfont").attr('style',"color:#ffffff;");
			}
		</script>
		<table id="xdtable">
			<form method="post" action="__MODULE__/Order/normal" id="quickz">
				<div style="display: bolok">
					<!-- 开始地 -->
					<input type="hidden" name="qsrez" id="qsrez" value="" />
					<!-- 目的地 -->
					<input type="hidden" name="qerez" id="qerez" value="" />
					<!-- 开始地中文名称 -->
					<input type="hidden" name="qsrezname" id="qsrezname" value="" />
					<!-- 目的地中文名称 -->
					<input type="hidden" name="qerezname" id="qerezname" value="" />
					<!-- 车品牌 -->
					<input type="hidden" name="qsctez" id="qsctez" value="阿斯顿马丁" />
					<!-- 车型号 -->
					<input type="hidden" name="qsctcz" id="qsctcz" value="V12 Vantage" />
					<!-- 车id -->
					<input type="hidden" name="carids" id="carids" value="202" />
					<!-- 运费 -->
					<input type="hidden" name="lineprice" id="lineprice" value="0" />
					<!-- 类型 -->
					<input type="hidden" name="product_type" id="product_type" value="0" />
					<!-- 总费 -->
					<input type="hidden" name="totalz" id="totalz" value="0" />
					<!-- 提车费 -->
					<input type="hidden" name="tiz" id="tiz" value="0" />
					<!-- 送车费 -->
					<input type="hidden" name="songz" id="songz" value="0" />
					<!-- 集散地起点 -->
					<input type="hidden" name="sansz" id="sansz" value="" />
					<!-- 集散地重点 -->
					<input type="hidden" name="sanez" id="sanez" value="" />
					<!-- 提车地id -->
					<input type="hidden" name="tidz" id="tidz" value="" />
					<!-- 送车地id -->
					<input type="hidden" name="sidz" id="sidz" value="" />
					<!-- 毛利 -->
					<input type="hidden" name="maoliz" id="maoliz" value="0" />
					<!-- 普通下单钱数第一部分 -->
					<input type="hidden" name="ptxd1" id="ptxd1" value=0 />
					<!-- 普通下单钱数第二部分 -->
					<input type="hidden" name="ptxd2" id="ptxd2" value=0 />
					<!-- 集散地B地名（汉字） -->
					<input type="hidden" name="ptjsd" id="ptjsd" value='' />
					<!-- 数据是否可用 -->
					<input type="hidden" name="flag" id="flag" value='N' />
					<input type="hidden" name="msg" id="msg" value='N' />
				</div>
				<tr class="jiange"></tr>
				<tr>
					<td class="blacktd"><div class="buttonblack1"><font>出发地:</font></div></td>
					<td style="width:45%"><!-- 开始地 -->
						<div class="tab-pay1 top_search2">
							<dl class="dlbottom">
								<dd>
									<input type="text" placeholder="" readonly="readonly" class="txt1a inko" name="qsrcz" id="qsrcz" value="{$jumpz['order']['start']}" onclick="ceshi3(this);">
									<span class="txtspan1" onclick="ceshi3(this);"><img src="/Public/Front/images/ww5.png" alt="按钮"></span>
									<span class="xxsj"></span>
									<div class="selected0" id="q4">
										<div class="province star_province" id="qspz">
											<ul>
												<!-- <li data-id="14">请选择</li> -->
												<foreach name="pro" item="vo">
													<li data-id="1"  onclick="getCityz('{$vo.area_id}','S','{$vo.area_name}')">{$vo.area_name}</li>
												</foreach>
											</ul>
										</div>
										<div class="city star_city" data-id="" style="display:none" id="qscz"></div>
										<div class="county star_county" data-id="" style="display:none" id="qsbz"></div>
									</div>
								</dd>
							</dl>
						</div>
					</td>
				</tr>
				<tr class="jiange"></tr>
				<tr>
					<td><div class="buttonblack1"><font>目的地:</font></div></td>
					<td><!-- 目的地 -->
						<div class="tab-pay1 top_search2">
							<dl class="dlbottom"><dd><input type="text" readonly="readonly" placeholder="" class="txt1a inko" name="qercz" id="qercz" value="{$jumpz['order']['end']}" onclick="ceshi3(this);">
								<span class="txtspan1" onclick="ceshi3(this);"><img src="/Public/Front/images/ww5.png" alt="按钮"></span>
								<span class="xxsj"></span>
								<div class="selected0" id="q5">
									<div class="province star_province" id="qepz">
										<foreach name="pro" item="vo">
											<li data-id="1"  onclick="getCityz('{$vo.area_id}','E','{$vo.area_name}')">{$vo.area_name}</li>
										</foreach>
									</div>
									<div class="city star_city" data-id="" id="qecz" style="display:none"></div>
									<!-- <div class="county star_county" data-id=""></div> -->
								</div> </dd></dl>
						</div>
					</td>
				</tr>
				<tr class="jiange"></tr>
				<tr style="display: none">
					<td><div class="buttonblack1"><font>品牌车系:</font></div></td>
					<td><!-- 车品牌 -->
						<div class="tab-pay1 top_search2">
							<dl class="dlbottom"><dd>
								<input type="text" placeholder="" readonly="readonly" class="txt1a inko" id="qbtz" name="carInfoz" value="{$jumpz['order']['carInfo']}" onkeyup="serchCar(this);">
								<span class="txtspan1" onclick="ceshi3(this);"><img src="/Public/Front/images/ww5.png" alt="按钮"></span>
								<span class="xxsj"></span>
								<div class="selected0" id="q6">
									<div class="province star_province" id="qbrz">
										<foreach name="brand" item="vo">
											<li data-id="1"  onclick="getTypez('{$vo.cxjj_id}','{$vo.cxjj_brand}')">{$vo.cxjj_name}--{$vo.cxjj_brand}</li>
										</foreach>
									</div>
									<div class="city star_city" data-id="" style="display:none" id="qtz"></div>
									<!-- <div class="county star_county" data-id=""></div> -->
								</div> </dd></dl>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="heighttd"></td>
				</tr>
				<tr>
					<td colspan="2">
						<center>
							<font class="moneyfont">费用：&nbsp;￥<bold id="zongz1">0</bold>元</font>
						</center>
					</td>
				</tr>
				<tr style="height:50px;">
					<td colspan="2">
						<a>
							<div class="xddiv xddiv1">
								<div class="xdchild"  onclick="goOrder();">
									<center><font class="xddfont">立即下单</font></center>
								</div>
							</div>
						</a>
					</td>
				</tr>
			</form>
		</table>
		<div id="yxtable" style="text-align: center;display: none">
			<img class="phone" src="/Public/Front/images/youf.png" alt="流程" style="width: 63%;margin: auto;">
		</div>
		<div id="wmtable" style="text-align: center;display: none">
			<img class="phone" src="/Public/Front/images/gywm.png" alt="关于我们" style="width: 95%;margin: auto;">
		</div>
	</div>
</div>
<!--<div class="part8">
	  <div class="part8left">
		  <img style="width:100%" src="/Public/Front/images/gongsijieshao_min.png" alt="背景图">
		  <div class="gsjsfont">
			  <div class="fwfont gslc">
				  <font>妥妥运车&nbsp;<strong><span class="jsbzfont">公司介绍</span></strong></font>
				  <h3>Company introduction</h3>
			  </div>
			  <a href="__MODULE__/AboutUs/index/code/AC14920644586W3N">
			  <div class="xddiv xddivxg">
				  <div class="xdchild">
					  <center><font class="xddfont">详情</font></center>
				  </div>
			  </div>
			  </a>
		  </div>
	  </div>
	  <div class="part8right">
		  <img style="width:100%" src="/Public/Front/images/fuwubaozhang_min.png" alt="背景图">
		  <div class="fwbzfont">
			  <div class="fwfont gslc">
				  <font>妥妥运车&nbsp;<strong><span class="jsbzfont">服务保障</span></strong></font>
				  <h3>Service guarantee</h3>
			  </div>
			  <a href="__MODULE__/AboutUs/index/code/AC14920644902AGS">
			  <div class="xddiv xddivxg">
				  <div class="xdchild">
					  <center><font class="xddfont">更多</font></center>
				  </div>
			  </div>
			  </a>
		  </div>
	  </div>
</div>-->
<div class="part8" style="margin-top: 50px;">
	<div class="patr81">
		<img id="lcimg" style="width:100%;height:388px;" src="/Public/Front/images/lcdi.png">
	</div>
	<div class="patr82" style="position: relative;">
		<div class="ttxwbj" style="margin: 20px auto 20px;">
			<center><span style="font-size: 28px;">服务流程</span></center>
			<center><span style="font-size: 22px;color: #666">没有满意的结果，过程再好也只是回忆</span></center>
		</div>
		<a href="http://www.tuotuoyunche.com/Front/News/detail/code/AC1528526275U7SW">
			<img class="patr822" id="lcimg1" style="margin: 60px 15% 0px;width: 70%;" src="/Public/Front/images/lcfc1.png">
		</a>
	</div>
</div>
<div class="ttxw">
	<div class="ttxwbj" style="margin: 40px auto 20px;">
		<center><span style="font-size: 28px;">时事新闻</span></center>
		<center><span style="font-size: 22px;color: #666">没有满意的结果，过程再好也只是回忆</span></center>
	</div>
	<div class="ttxw1">
		<a href="__MODULE__/News/detail/code/{$artList.0.article_code}"><img class="nrsj" src="/Public/Front/images/xwsj1.png" alt="展示图"></a>
		<div class="ttxw11 xwfont">
			<center><a href="__MODULE__/News/detail/code/{$artList.0.article_code}"><font>{$artList.0.titles}</font></a></center>
		</div>
	</div>
	<div class="ttxw1">
		<a href="__MODULE__/News/detail/code/{$artList.1.article_code}"><img class="nrsj" src="/Public/Front/images/xwsj2.png" alt="展示图"></a>
		<div class="ttxw11 xwfont">
			<center><a href="__MODULE__/News/detail/code/{$artList.1.article_code}"><font>{$artList.1.titles}</font></a></center>
		</div>
	</div>
	<div class="container">
		<div class="iske7">
			<h2><span>FAQ </span> 常见问题</h2>
			<ul>
				<foreach name="cj" item="vo" key="k">
					<if condition="$k lt 7">
						<li><a href="__MODULE__/Footer/detail/code/{$vo.article_code}"><p>{$k+1}、{$vo.title}</p></a></li>
					</if>
				</foreach>
			</ul>
			<div style="margin-top: 50px;">
				<div class="more moreques">
					<a href="__MODULE__/Footer/detail/code/AC14920671855R3B">
						<div class="morechild">
							<center><font class="morefont">MORE</font></center>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="padding-bottom: 64px;" class="part61 container">
  <div class="fwfont" style="margin-bottom: 56px;">
	  <center><font><strong>合作伙伴</strong></font>
	  <h3>Cooperation</h3></center>
	  <img src="__FRONT__/images/xhx.png" style="margin-top: 10px;width: 100%;" alt="长线条">
  </div>
   <ul class="hzul">
   <foreach name="linkList" item="vo" key="k">
   <li><a href="{$vo.fl_link}" target="_blank">
   <img  class="nb1"  src="{$vo.fl_img}" alt="链接图标">
   <img  class="nb2"  src="{$vo.fl_img1}" alt="链接图标">
   </a></li>
  </foreach>
   </ul>
</div>
<script>
    height = $('#lcimg').height();
    $(".patr82,.part8").css('height','500px');
    $(".patr82").css('top','-'+height+'px');
    $(".patr821").css('height',(500*0.2)+'px');
    nrsj = $('.nrsj').height();
    $(".ttxw1").css('height','300px');
    $(".ttxw11").css('top','-'+(nrsj-60)+'px');
	$('.aske1 ul li').click(function(){
		$(this).addClass('on').siblings().removeClass('on');
		$('.tab-cont1 .tab-pay1').eq($(this).index()).fadeIn(300).siblings().hide();
	});

    function ddxs(obj){
        $("#searchtable").show();
        $("#yxtable").hide();
        $("#xdtable").hide();
        $("#wmtable").hide();
        $("#ksfw").html('订单查询');
        $("img[id^='ersj']").attr("style","width:60%");
        value = $("img[id^='ersj2']").attr("value");
        $("img[id^='ersj']").attr("value",'0');
        if(value == 0){
            $(".ksfw").slideDown("slow");
            $("img[id^='ersj2']").attr("value",'1');
            $("img[id^='ersj2']").attr("style",'width:80%');
		}else{
            $(".ksfw").slideUp("slow");
		}
    }
    function xdxs(){
        $("#searchtable").hide();
        $("#yxtable").hide();
        $("#xdtable").show();
        $("#wmtable").hide();
        $("#ksfw").html('快速下单');
        $("img[id^='ersj']").attr("style","width:60%");
        value = $("img[id^='ersj1']").attr("value");
        $("img[id^='ersj']").attr("value",'0');
        if(value == 0){
            $(".ksfw").slideDown("slow");
            $("img[id^='ersj1']").attr("value",'1');
            $("img[id^='ersj1']").attr("style",'width:80%');
        }else{
            $(".ksfw").slideUp("slow");
            return false;
        }
    }
    function youshi(){
        $("#searchtable").hide();
        $("#yxtable").show();
        $("#xdtable").hide();
        $("#wmtable").hide();
        $("#ksfw").html('运车优势');
        $("img[id^='ersj']").attr("style","width:60%");
        value = $("img[id^='ersj3']").attr("value");
        $("img[id^='ersj']").attr("value",'0');
        if(value == 0){
            $(".ksfw").slideDown("slow");
            $("img[id^='ersj3']").attr("value",'1');
            $("img[id^='ersj3']").attr("style",'width:80%');
        }else{
            $(".ksfw").slideUp("slow");
        }
    }
    function gywm(){
        $("#searchtable").hide();
        $("#yxtable").hide();
        $("#xdtable").hide();
        $("#wmtable").show();
        $("#ksfw").html('关于我们');
        $("img[id^='ersj']").attr("style","width:60%");
        value = $("img[id^='ersj4']").attr("value");
        $("img[id^='ersj']").attr("value",'0');
        if(value == 0){
            $(".ksfw").slideDown("slow");
            $("img[id^='ersj4']").attr("value",'1');
            $("img[id^='ersj4']").attr("style",'width:80%');
        }else{
            $(".ksfw").slideUp("slow");
        }
    }
</script>
<!--content-->
<include file='public:foot_coy'/>