<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<script>
	/* $(document).ready(function(){
		var zong = '{$jump.total}';
		var bao = '{$jump.sprice}';
		var yun = '{$jump.tprice}';
		var ewai = '{$jump.eprice}';
		if(zong!=''){
			$("#zong").html(zong);
			$("#quickshop").show();
		}
		if(bao!=''){
			$("#secu").html(bao);
		}
		if(yun!=''&&ewai!=''){
			$("#trans").html(parseInt(ewai)/100 + parseInt(yun));
		}
		var zongz = '{$jumpz["order"]["total"]}';
		if(zongz!=''){
			$("#zongz").html(zongz);
		}
	}) */

	function ceshi(obj){
		var qsrcz = $("#qsrcz").val();
		if(qsrcz.trim()==""){
			layer.msg("请先选择出发地!");
			//$("#qepz").hide();
			//$("#q5").hide();
			//$("#qecz").hide();
			//$(".selected0").hide();
			return false;
		}else{
			$(obj).siblings(".selected0").show();
		}
	}
</script>
<script src="__JS__/indexTuo.js"></script>
<!--banner-->
	<div class="banner">
		<div class="bannerdiv">
			<div class="serchimg">
				<div class="tiaofun"  onclick="ddxs()">
					<center><font class="tbddfont"><a class="dfontd">订单查询</a></font></center>
				</div>
			</div>
			<div class="xiadan">
				<div class="tiaofun"  onclick="xdxs()">
					<center><font class="tbxdfont"><a class="xfontd">下&nbsp;单</a></font></center>
				</div>
			</div>
			<div class="ksfw">
				<table id="searchtable" class="pc fwtable1">
					<tr>
						<td style="width:40%;">
							<div class="csczz">
								<p>请输入订单号查询当前订单状况，如果当前订单不存在，请联系客服人员。</p>
							</div>
							<div class="du3d" id="tiao1">
								<input type="text" placeholder="请在此输入订单号" class="cx1" id="keyword" ><!-- onkeyup="sel(this);" --><button onclick="tiaoFun();" type="button"></button>
								<div id="searchBoxs"></div>
							</div>
						</td>
					</tr>
					<tr class="searchtd">
						<td>
							<div class="xddiv">
								<div class="xdchild"  onclick="tiaoFun();">
									<center><font class="xddfont"><a>订单查询</a></font></center>
								</div>
							</div>
						</td>
					</tr>
				</table>
				<table id="xdtable">
					<form method="post" action="__MODULE__/Order/normal" id="quickz">
						<div style="display: none">
							<!-- 开始地 -->
							<input type="hidden" name="qsrez" id="qsrez" value="" />
							<!-- 目的地 -->
							<input type="hidden" name="qerez" id="qerez" value="" />
							<!-- 开始地中文名称 -->
							<input type="hidden" name="qsrezname" id="qsrezname" value="" />
							<!-- 目的地中文名称 -->
							<input type="hidden" name="qerezname" id="qerezname" value="" />
							<!-- 车品牌 -->
							<input type="hidden" name="qsctez" id="qsctez" value="" />
							<!-- 车型号 -->
							<input type="hidden" name="qsctcz" id="qsctcz" value="" />
							<!-- 车id -->
							<input type="hidden" name="carids" id="carids" value="" />
							<!-- 运费 -->
							<input type="hidden" name="lineprice" id="lineprice" value="0" />
							<!-- 类型 -->
							<input type="hidden" name="product_type" id="product_type" value="0" />
							<!-- 总费 -->
							<input type="hidden" name="totalz" id="totalz" value="0" />
							<!-- 提车费 -->
							<input type="hidden" name="tiz" id="tiz" value="0" />
							<!-- 送车费 -->
							<input type="hidden" name="songz" id="songz" value="0" />
							<!-- 集散地起点 -->
							<input type="hidden" name="sansz" id="sansz" value="" />
							<!-- 集散地重点 -->
							<input type="hidden" name="sanez" id="sanez" value="" />
							<!-- 提车地id -->
							<input type="hidden" name="tidz" id="tidz" value="" />
							<!-- 送车地id -->
							<input type="hidden" name="sidz" id="sidz" value="" />
							<!-- 毛利 -->
							<input type="hidden" name="maoliz" id="maoliz" value="0" />
							<!-- 普通下单钱数第一部分 -->
							<input type="hidden" name="ptxd1" id="ptxd1" value=0 />
							<!-- 普通下单钱数第二部分 -->
							<input type="hidden" name="ptxd2" id="ptxd2" value=0 />
							<!-- 集散地B地名（汉字） -->
							<input type="hidden" name="ptjsd" id="ptjsd" value='' />
							<!-- 数据是否可用 -->
							<input type="hidden" name="flag" id="flag" value='N' />
							<input type="hidden" name="msg" id="msg" value='N' />
						</div>
					<tr>
						<td colspan="2">
							<font class="ycfont1">妥妥运车</font>&nbsp;&nbsp;&nbsp;<font class="ycfont2">爱车与您同在</font>
						</td>
					</tr>
					<tr>
						<td colspan="2"><font class="ycfont3">Happy every day</font></td>
					</tr>
					<tr class="jiange"></tr>
					<tr>
						<td class="blacktd"><div class="buttonblack1"><font>出发地:</font></div></td>
						<td style="width:45%"><!-- 开始地 -->
							<div class="tab-pay1 top_search2">
								<dl class="dlbottom">
									<dd>
										<input type="text" placeholder="" class="txt1a inko" readonly="readonly" name="qsrcz" id="qsrcz" value="{$jumpz['order']['start']}" onclick="ceshi3(this);">
										<span class="xxsj"></span>
										<div class="selected0" id="q4">
											<div class="province star_province" id="qspz">
												<!-- <li data-id="14">请选择</li> -->
												<foreach name="pro" item="vo">
													<li data-id="1"  onclick="getCityz('{$vo.area_id}','S','{$vo.area_name}')">{$vo.area_name}</li>
												</foreach>
											</div>
											<div class="city star_city" data-id="" style="display:none" id="qscz"></div>
											<div class="county star_county" data-id="" style="display:none" id="qsbz"></div>
										</div>
									</dd>
								</dl>
							</div>
						</td>
					</tr>
					<tr class="jiange"></tr>
					<tr>
						<td><div class="buttonblack1"><font>目的地:</font></div></td>
						<td><!-- 目的地 -->
							<div class="tab-pay1 top_search2">
								<dl class="dlbottom"><dd><input type="text" placeholder="" class="txt1a inko" readonly="readonly" name="qercz" id="qercz" value="{$jumpz['order']['end']}" onclick="ceshi(this);">
									<span class="xxsj"></span>
									<div class="selected0" id="q5">
										<div class="province star_province" id="qepz">
											<foreach name="pro" item="vo">
												<li data-id="1"  onclick="getCityz('{$vo.area_id}','E','{$vo.area_name}')">{$vo.area_name}</li>
											</foreach>
										</div>
										<div class="city star_city" data-id="" id="qecz" style="display:none"></div>
										<!-- <div class="county star_county" data-id=""></div> -->
									</div> </dd></dl>
							</div>
						</td>
					</tr>
					<tr class="jiange"></tr>
					<tr>
						<td><div class="buttonblack1"><font>品牌车系:</font></div></td>
						<td><!-- 车品牌 -->
							<div class="tab-pay1 top_search2">
								<dl class="dlbottom"><dd><input type="text" placeholder="" class="txt1a inko" id="qbtz" name="carInfoz" value="{$jumpz['order']['carInfo']}" onkeyup="serchCar(this);" onclick="ceshi3(this);">
									<span class="xxsj"></span>
									<div class="selected0" id="q6">
										<div class="province star_province" id="qbrz">
											<foreach name="brand" item="vo">
												<li data-id="1"  onclick="getTypez('{$vo.cxjj_id}','{$vo.cxjj_brand}')">{$vo.cxjj_name}--{$vo.cxjj_brand}</li>
											</foreach>
										</div>
										<div class="city star_city" data-id="" style="display:none" id="qtz"></div>
										<!-- <div class="county star_county" data-id=""></div> -->
									</div> </dd></dl>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="heighttd"></td>
					</tr>
					<tr>
						<td colspan="2">
							<center>
								<font class="moneyfont">费用：&nbsp;￥<bold id="zongz1">0</bold>元</font>
							</center>
						</td>
					</tr>
					<tr style="height:50px;">
						<td colspan="2">
							<div class="xddiv">
								<div class="xdchild"  onclick="goOrder();">
									<center><font class="xddfont"><a>立即下单</a></font></center>
								</div>
							</div>
						</td>
					</tr>
					</form>
				</table>
			</div>
		</div>
		<div class="bannerdiv1">
			<div class="yuan1" onmouseover="yuan1()" ></div>
			<div class="yuan2" onmouseover="yuan2()" ></div>
		</div>
		<div class="pc bannerdiv2">
			<img src="/Public/Front/images/zhishijiantou.png">
		</div>
		<div class="bannerdiv3">
			<center><strong><span style="font-size:28px;">关注我们</span></strong></center>
			<img src="/Public/Front/images/wskk1.jpg">
		</div>
		<img class="pc bannerimg" src="/Public/Front/images/BANNER.png">
		<img class="phone bannerimg" src="/Public/Front/images/bannersj.png">
	</div>
<!--content-->
<div class="part1" style="width: 100%">
	<img class="pc" src="/Public/Front/images/HEARTONFIRE2.png"  style="width: 100%">
	<img class="phone" src="/Public/Front/images/qiche.png"  style="width: 100%">
	<div class="fwfont fwfontx">
		<font><strong>流程展示</strong></font>
		<h3>Process display</h3>
		<img src="__FRONT__/images/Rectangle.png">
	</div>
	<div style="text-align: center;">
		<img class="pc" src="/Public/Front/images/HEARTONFIRE1.png" style="width: 90%;margin-left: 5%;">
		<img class="phone" src="/Public/Front/images/liucheng.png" style="width: 80%;margin-left: 10%;">
	</div>
</div>
<div class="part8">
	  <div class="part8left">
		  <img style="width:100%" src="/Public/Front/images/gongsijieshao.png">
		  <div class="gsjsfont">
			  <div class="fwfont gslc">
				  <font>妥妥运车&nbsp;<strong><span class="jsbzfont">公司介绍</span></strong></font>
				  <h3>Company introduction</h3>
			  </div>
			  <div class="xddiv xddivxg">
				  <div class="xdchild">
					  <center><font class="xddfont"><a>详情</a></font></center>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="part8right">
		  <img style="width:100%" src="/Public/Front/images/fuwubaozhang.png">
		  <div class="fwbzfont">
			  <div class="fwfont gslc">
				  <font>妥妥运车&nbsp;<strong><span class="jsbzfont">服务保障</span></strong></font>
				  <h3>Service guarantee</h3>
			  </div>
			  <div class="xddiv xddivxg">
				  <div class="xdchild">
					  <center><font class="xddfont"><a>更多</a></font></center>
				  </div>
			  </div>
		  </div>
	  </div>
</div>

<div class="ttxw">
	<img class="pc" src="/Public/Front/images/HEARTONFIRE2.png"  style="width: 100%">
	<img class="phone" src="/Public/Front/images/qiche.png"  style="width: 100%">
	<div class="fwfont fwfontx">
		<font><strong>妥妥新闻</strong></font>
		<h3>Proper news</h3>
		<img src="__FRONT__/images/Rectangle.png">
	</div>
	<div class="container">
		<div class="iske1">
			<div class="iske2">
				<table class="xwtable">
					<tr>
						<td class="xdtd1">
							<div class="td1div">
								<img class="pc" src="/Public/Front/images/neirongtu.png">
								<img class="phone" src="/Public/Front/images/neirongtusj.png">
							</div>
							<div class="xddiv1">
								<font>"妥妥运车"就是这么得天独厚</font>
							</div>
							<div class="xddiv2">
								<font>2018-01-26 14:03:04</font>
							</div>
							<div class="xddiv3">
								<font>妥妥运车业务的进展速度很快。“妥妥运车”是</font>
							</div>
							<div class="xddiv4">
								<div class="more">
									<div class="morechild">
										<center><font class="morefont"><a>MORE</a></font></center>
									</div>
								</div>
							</div>
						</td>
						<td class="xdtd1">
							<div class="td1div">
								<img class="pc" src="/Public/Front/images/neirongtu1.png">
								<img class="phone" src="/Public/Front/images/neirongtusj1.png">
							</div>
							<div class="xddiv1">
								<font>"妥妥运车"就是这么得天独厚</font>
							</div>
							<div class="xddiv2">
								<font>2018-01-26 14:03:04</font>
							</div>
							<div class="xddiv3">
								<font>妥妥运车业务的进展速度很快。“妥妥运车”是</font>
							</div>
							<div class="xddiv4">
								<div class="more">
									<div class="morechild">
										<center><font class="morefont"><a>MORE</a></font></center>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div class="iske7">
				<h2><span>FAQ </span> 常见问题</h2>
				<ul>
					<foreach name="cj" item="vo" key="k">
						<if condition="$k lt 7">
							<li><a href="__MODULE__/Footer/detail/code/{$vo.article_code}"><p>{$k+1}、{$vo.title}</p></a></li>
						</if>
					</foreach>
				</ul>
				<div style="margin-top: 50px;">
					<div class="more">
						<div class="morechild">
							<center><font class="morefont"><a>MORE</a></font></center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="padding-bottom: 64px;" class="part61 container">
  <div class="fwfont" style="margin-bottom: 56px;">
	  <center><font><strong>合作伙伴</strong></font>
	  <h3>Cooperation</h3></center>
	  <img src="__FRONT__/images/xhx.png" style="margin-top: 10px;width: 100%;">
  </div>
   <ul class="hzul">
   <foreach name="linkList" item="vo" key="k">
   <li><a href="{$vo.fl_link}" target="_blank">
   <img  class="nb1"  src="{$vo.fl_img}">
   <img  class="nb2"  src="{$vo.fl_img1}">
   </a></li>
  </foreach>
   <!--<li><a href=""><img src="__FRONT__/images/logo2.png"></a></li>
   <li><a href=""><img src="__FRONT__/images/logo3.png"></a></li>
   <li><a href=""><img src="__FRONT__/images/logo4.png"></a></li>
   <li><a href=""><img src="__FRONT__/images/logo5.png"></a></li>
   <li><a href=""><img src="__FRONT__/images/logo6.png"></a></li>-->
   </ul>
</div>
<script>
	var navtime = 0;
	var type = 2;
	function yuan1(){
        $(".yuan1").attr("style","background: #ff8000; border: 1px solid #ffffff;");
        $(".yuan2").attr("style","background: #ffffff;border: 1px solid #ff8000;");
        $(".bannerimg").attr("src","/Public/Front/images/BANNER.png");
        $(".bannerdiv").attr("style","left:50%");
        $(".bannerdiv2, .bannerdiv3").hide();
        navtime = 0;
        type = 2;
	}
	function yuan2(){
		$(".yuan1").attr("style","background: #ffffff;border: 1px solid #ff8000;");
		$(".yuan2").attr("style","background: #ff8000; border: 1px solid #ffffff;");
		$(".bannerimg").attr("src","/Public/Front/images/banner1.png");
		$(".bannerdiv").attr("style","margin-left:-35%;");
		$(".bannerdiv2, .bannerdiv3").show();
        navtime = 0;
        type = 1;
	}
	function timejia(){
	    navtime++;
	}
	setInterval(function(){
        timejia();
        if(navtime == 5){
            //window['yuan'+type]();
		}
	},3000);
	function ddxs(){
		$(".xiadan").attr("style","background:url(/Public/Front/images/xiadanf.png)");
		$(".serchimg").attr("style","background:url(/Public/Front/images/dingdanchaxunb.png)");
	    $("#searchtable").show();
	    $("#xdtable").hide();
	    $(".dfontd").attr("style","color:#ff8000");
	    $(".xfontd").attr("style","color:#FFFFFF");
	}
    function xdxs(){
        $(".xiadan").attr("style","background:url(/Public/Front/images/xiadanb.png)");
        $(".serchimg").attr("style","background:url(/Public/Front/images/dingdanchaxun.png)");
        $("#searchtable").hide();
        $("#xdtable").show();
        $(".dfontd").attr("style","color:#FFFFFF")
        $(".xfontd").attr("style","color:#ff8000")
    }
	function tiaoFun(){
		var keyword = $("#keyword").val();
		if(keyword==""){
			layer.msg("请输入订单号");
			return false;
		}
		window.location.href="__MODULE__/Ordersel/orderselView/status/2/keyword/"+keyword;
	}
	$('.aske1 ul li').click(function(){
		$(this).addClass('on').siblings().removeClass('on');
		$('.tab-cont1 .tab-pay1').eq($(this).index()).fadeIn(300).siblings().hide();
	});
</script>
<!--content-->
<include file='public:foot_coy'/>