<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<!--banner-->
<div class="banner">
    <img src="/Public/Front/images/tou.png" style="width:100%;height:315px;;">
</div>
<!--endbanner-->
<div style="margin-top: -2%">
    <div style="margin-left: 17.4%">
        <div style="position: absolute;margin-left: 28.9%;margin-top: 3%;">
            <img style="width:65%;" src="__FRONT__/images/Title.png">
        </div>
        <img style="width:79%" src="__FRONT__/images/dise.png">
    </div>
    <div style="margin: 0 17.4%;background: url(__FRONT__/images/dise1.png);padding: 5% 10%;margin-bottom: 5%">
        <center><font style="font-size: 26px;color: #2b2b2b;">妥妥运车定制服务</font></center><br>
        <p style="font-size: 18px;color: #999999;">
            1、定制化服务是一种劳动，并且是一种高水平的劳动。它需要“劳动者”有更高的素质，更丰富的专业知识，更积极的工作态度。因此，这种劳动较有形的生产劳动和无形的服务具有更大的价值。
<br><br>
            2、定制化服务带给消费者的是个性的感受，“结果是没有哪两个人能够得到完全相同的体验”。因此这是一种量身打造，有需有供的活动，它不会出现生产过剩，也不会出现需求抱怨，进而保证经济运行的平衡与稳定。
            <br><br>


            3、定制化服务所产生的“体验”效应是带给消费者美好的感觉、永久的记忆和值得回味的事物与经历。消费者对这种美好的感受不会独自享有，而会与他人分享，即积极地传播，进而产生放大效应。
            <br><br>
            4、定制化服务是一种劳动，并且是一种高水平的劳动。它需要“劳动者”有更高的素质，更丰富的专业知识，更积极的工作态度。因此，这种劳动较有形的生产劳动和无形的服务具有更大的价值。
            <br><br>
            5、定制化服务带给消费者的是个性的感受，“结果是没有哪两个人能够得到完全相同的体验”。因此这是一种量身打造，有需有供的活动，它不会出现生产过剩，也不会出现需求抱怨，进而保证经济运行的平衡与稳定。
            <br><br>


            6、定制化服务所产生的“体验”效应是带给消费者美好的感觉、永久的记忆和值得回味的事物与经历。消费者对这种美好的感受不会独自享有，而会与他人分享，即积极地传播，进而产生放大效应。
        </p>
    </div>

</div>
<!--content-->
<!--endcontent-->
<include file='public:foot_coy'/>