<!DOCTYPE html>
<html>
<head>
	<title>妥妥运车管理后台</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, ,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5, user-scalable=no" />
	<link rel="stylesheet" href="__BACK__/css/bootstrap.min.css" />
	<link rel="stylesheet" href="__BACK__/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="__BACK__/css/unicorn.main.css" />
	<link rel="stylesheet" href="__BACK__/css/unicorn.grey.css" class="skin-color" />
	<link rel="stylesheet" href="__BACK__/css/li.css" class="skin-color" />
	<link href="__BACK__/css/adminia.css" rel="stylesheet" />
	<link href="__BACK__/css/yao.css" rel="stylesheet" class="skin-color" />
	<script src="__BACK__/js/jquery.js"></script>
	<script src="__BACK__/js/bootstrap.js"></script>
	<script src="__JS__/jquerytool_1.0v.js"></script>
	<script src="__JS__/layer/layer.js"></script>
	<script src="__BACK__/laydate/laydate.js"></script>
	<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<![endif]-->
	<script>
	$(document).ready(function(){
		var height=$(window).height()-80;
		$("#content").css('min-height',height);


	});

	</script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style>.l_table table tr td.td_d{width:200px;}</style>
</head>