<div id="header">
			<h1><a href=""><img src="__BACK__/images/logo.png"></a></h1>
           <h1><a href="">happy every day！</a></h1>					
		
		<div class="set1"><a href=""><img class="Rotation" src="__BACK__/images/set1.png"></a></div>
			<div id="user-nav1" class="navbar navbar-inverse">
            <div class="user_p"><span class="sp1">欢迎您:</span><span  class="sp2">{$master.admin_name}</span><span   class="sp3">
			<ul>
			 <li><a href="__MODULE__">主页</a></li>
			 <li><a href="__MODULE__/Login/logout">退出</a></li>
			</ul>
			
			</span></div>
        </div>
</div>
<div class="clear_both"></div>