<include file='public:head'/>
<script>
	function del(obj){
		var id = $(obj).attr('name');
		$.post('__MODULE__/Logistics/driverDel',{'id':id},function(data){
			if(data.sign=='Y'){
				layer.msg(data.con);
				window.location.reload();
			}else{
				layer.msg(data.con);
			}
		})
	}
</script>
<body>

	<include file='public:header'/>
	<div id="main-pyf">
		<include file='public:left'/>

		<div id="content">
		
		<div class="row">

			<div class="tsan113">

				<div class="widget">

					<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">
							<li>
								<a href="__MODULE__/Logistics/companyShow">物流公司</a>
							</li>
							<li class="active">
								<a href="__MODULE__/Logistics/driverShow">司机</a>
							</li>
							
						</ul>

						<div class="tab-content1">
							<div class="tab-content">
								<div class="tab-pane active">
									<form id="edit-profile" class="form-horizontal" >
									<fieldset>
										<div class="l_uit">
											<div class="control-group">
												<div style="float:left;" class="controls clec_t">
													<div class="v_pb">
													
														<input type="text" placeholder="请输入司机名称" name="name" value="{$name}" class="i_n text2 width360">
														<button class="btn btn-default5" type="submit">搜索</button>
													
													</div>
												</div>
												<!-- /controls -->
												<a href="__MODULE__/Logistics/driverAdd"><button class="red btn btn-default5 fr" type="button">添加司机</button></a>
											</div>
											<script>
												$(function(){
													$('table tr.tr2:odd').css('background','#F0F0F0');
												});
											</script>
											<input type="hidden" id="num" value="{$num}" />
											<div class="l_table">
												<table>
													<tr class="tr1">
														<td>省份</td>
														<td>市</td>
														<td>姓名|电话|身份证</td>
														<td>合同编号</td>
														<!-- <td>定位</td> -->
														<td>操作</td>
													</tr>
													<foreach name="list" item="vo">
														<tr class="tr2">
															<td>{$vo.car_sheng_name}</td>
															<td>{$vo.car_shi_name}</td>
															<td>{$vo.car_name}|{$vo.car_tel}|{$vo.car_identity}</td>
															<td>
																<if condition="($vo.car_he_code neq '')">
																	{$vo.car_he_code}
																<else />
																	--
																</if>
															</td>
															<!-- <td>定位查看</td> -->
															<td>
																<a class="see1" href="__MODULE__/Logistics/driverAdd/id/{$vo.car_id}">修改</a>
																<a class="see2" href="javascript:;" name="{$vo.car_id}" onclick="del(this);">删除</a>
															</td>
														</tr>
													</foreach>

												</table>

											</div>
											<div class="l_fenye">
											<if condition="$num neq 0">
												{$page}
											</if>
											</div>
										</div>
											</fieldset>
										</form>
									</div>

								</div>
							</div>

						</div>

					</div>
					<!-- /widget -->

				</div>
				<!-- /span11 -->

			</div>
			<!-- /row -->

		</div>
	</div>

</body>
</html>