<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<script type="text/javascript">
	function groupOrder(){
		var payway = $("#payWay_ID").val();
		var token = $("#token_code").val();
		window.location.href="__MODULE__/GroupBuy/groupOrder/payway/"+payway+"/token/"+token;
	}
	function payway(obj){
		var objs = $(obj).parent('li');
		$('li').removeClass('on'); 
		objs.addClass('on');
		var payway = $(obj).find("input").val();
		$("#payWay_ID").val(payway);
	}
</script>

<!--content-->
<div class="order_body1">
<div class="order_main container">
  <div class="order_detail">
    <div class="order_d1">
	  <div class="du32">
	  <!--  <p>积分抵扣：￥0元</p> -->
	   <p>奖券抵扣：￥{$youhui|default="0"}元</p>
	   <p>运输价格（含提车费）：￥{$yuanjia|default="0"}元</p>
	   <p>保险费用：￥{$baoxian|default="0"}元</p>
	   <p>优  惠  券：￥{$youhui|default="0"}元</p>
	   <p>团购优惠：￥{$tuangouyouhui|default="0"}元</p>
	   <p>送车价格：￥{$songcheshangmen|default="0"}元</p>
	  <p class="on">共计：<span><b>￥<em>{$platelets|default="0"}</em>元</b></span></p>
	  </div>
	  <div class="du339">
	    <div class="du339a">
	   <ul>
	     <li class="on">
		 <label onclick="payway(this);">
		 	<img src="__FRONT__/images/zf1.png">
		 	<p>支付宝</p>
		 	<input value="Z" type="radio" name="pay">
		 <label>
		 </li>
		 <!--
		   <li>
		 <label onclick="payway(this);"><img src="__FRONT__/images/zf2.png">
		 <p>微信</p>
		 <input value="W" type="radio" name="pay">
		 <label>
		 </li>-->
		   <li>
		 <label onclick="payway(this);"><img src="__FRONT__/images/zf3.png">
		 <p>货到付款</p>
		 <input value="H" type="radio" name="pay">
		 <label>
		 </li>
	   
	   </ul>
	 
	  </div>
	 <div class="du339b">
	  <input type="hidden" name="payWay" id="payWay_ID" value="Z"/>
	  <input type="hidden" name="token_code" id="token_code" value="{$token}"/>
	  <button type="button" onclick="groupOrder();">确定付款</button>
	 
	  </div>
	  </div>
  </div>
  
  </div>

</div>
 </div>
 
<script>
$(".inko").click(function(){
	  $(this).siblings(".selected").show();
	  
	  });
	   $(".selected li").click(function(){
	  $(this).parent().parent().hide();
	   var oop= $(this).html();
	  $(this).parent().parent().siblings('.inko').val(oop); 
	   
	  });
	    $(".du339a ul li").click(function(){

	  $(this).addClass('on').siblings().removeClass('on'); 
	   
	  });
</script>
<!--content-->
<include file='public:foot'/>