<include file='public:header'/>
<include file='public:top'/>
<include file='public:menu'/>
<script type="text/javascript">

//------------------同发车人START----------------
function withStartCar(obj){
	if($(obj).find('span').hasClass('on')){
		$(obj).find('span').removeClass('on');
		$("#gather_name_txt").val("");
		$("#gather_tel_txt").val("");
		$("#gather_code_txt").val("");
	}else{
		$("#gather_name_txt").val($("#send_name_txt").val());
		$("#gather_tel_txt").val($("#send_tel_txt").val());
		$("#gather_code_txt").val($("#send_code_txt").val());
		$(obj).find('span').addClass("on");
	}
}
//------------------同发车人START----------------
/*function withStartCar(obj){
	if($(obj).find('span').hasClass('on')){
		$(obj).find('span').removeClass('on');
		$("#gather_name").val("");
		$("#gather_tel").val("");
		$("#gather_code").val("");
	}else{

		$("#gather_name").val($("#send_name").val());
		$("#gather_tel").val($("#send_tel").val());
		$("#gather_code").val($("#send_code").val());
		$(obj).find('span').addClass("on");
	}
}*/
//------------------同发车人END------------------
//------------------提交信息START---------------
function formSbumitFun(){
	var gcaObj = $("#gather_car_address");
	$("#car_plate_nums").val("");
	var cpnObj = $("input[id^='car_plate_num']");
	var size = cpnObj.size();
	var cpn_val="";
	var n=1;
	if(size>0){
		for(var i=0;i<size;i++){
			var val = $(cpnObj[i]).val().trim();
			var otherinfo = $(cpnObj[i]).attr('otherinfo');
			if(val!=""){
				cpn_val += otherinfo+'-'+val+";";
				n++;
			}
		}
	}
	cpn_val = cpn_val.substr(0,(cpn_val.length-1));
	if(n<size){
		$.anewAlert("请补充完整车牌号码!");
		return false;
	}

	var send_name = $("#send_name_txt").val().trim();//发车人姓名
	var send_tel = $("#send_tel_txt").val().trim();//发车人电话
	var send_code = $("#send_code_txt").val().trim();//发车人证件号
 	var send_car_address = $("#send_car_address").val().trim();//发车详细地址

	var gather_name = $("#gather_name_txt").val().trim();//收车人姓名
	var gather_tel = $("#gather_tel_txt").val().trim();//收车人电话
	var gather_code = $("#gather_code_txt").val().trim();//收车人证件号
	var gather_car_address = $("#gather_car_address").val();//收车详细地址
	var remark = $("#remark").val().trim();//备注

	if(send_name==""){
		$.anewAlert("发车人姓名不能为空!");
		return false;
	}
	if(send_tel==""){
		$.anewAlert("发车人电话不能为空!");
		return false;
	}else{
		if(!$.check_Mobile(send_tel)){
			$.anewAlert('请输入正确的发车人手机号');
			return false;
		}
	}
	if(send_code==""){
		$.anewAlert("发车人证件号不能为空!");
		return false;
	}else{
		if(!$.isIdCardNo(send_code)){
			$.anewAlert("发车人身份证格式不对");
			return false;
		}
	}

	if(gather_name==""){
		$.anewAlert("收车人姓名不能为空!");
		return false;
	}
	if(gather_tel==""){
		$.anewAlert("收车人电话不能为空!");
		return false;
	}else{
		if(!$.check_Mobile(gather_tel)){
			$.anewAlert('请输入正确的收车人手机号');
			return false;
		}
	}

	if(gather_code==""){
		$.anewAlert("收车人证件号不能为空!");
		return false;
	}else{
		if(!$.isIdCardNo(gather_code)){
			$.anewAlert("收车人身份证格式不对");
			return false;
		}
	}
	if(send_car_address==""){
		$.anewAlert("发车详细地址不能为空!");
		return false;
	}

	if(gcaObj.size()>0){
		var gcaval = gcaObj.val().trim();
		if(gcaval==""){
			$.anewAlert("收车详细地址不能为空!");
			return false;
		}
	}

	$("#car_plate_nums").val(cpn_val);
	$("#send_name_id").val(send_name);
	$("#send_tel_id").val(send_tel);
	$("#send_code_id").val(send_code);
	$("#gather_name_id").val(gather_name);
	$("#gather_tel_id").val(gather_tel);
	$("#gather_code_id").val(gather_code);
	$("#send_car_address_id").val(send_car_address);
	$("#gather_car_address_id").val(gather_car_address);
	$("#remark_id").val(remark);
	$("#four_form_id").submit();
}
//------------------提交信息END-----------------
</script>
<div style="display: none;">
	<form action="__MODULE__/GroupBuy/groupFour" method="post" id="four_form_id">
		<input type="hidden" id="car_plate_nums" name="car_plate_nums"><!-- 车牌号码 -->

		<input type="hidden" id="send_name_id" name="send_name"><!-- 发件人姓名 -->
		<input type="hidden" id="send_tel_id" name="send_tel"><!-- 发件人电话-->
		<input type="hidden" id="send_code_id" name="send_code"><!-- 发件人证件号 -->

		<input type="hidden" id="gather_name_id" name="gather_name"><!-- 收件人姓名 -->
		<input type="hidden" id="gather_tel_id" name="gather_tel"><!-- 收件人电话 -->
		<input type="hidden" id="gather_code_id" name="gather_code"><!-- 收件人证件号-->

		<input type="hidden" id="send_car_address_id" name="send_car_address"><!-- 发车人详细地址 -->
		<input type="hidden" id="gather_car_address_id" name="gather_car_address"><!-- 收车人详细地址-->

 		<input type="hidden" id="remark_id" name="remark"><!--备注 -->
	</form>
</div>
<!--content-->
<div class="dengm2">
 <div class="deng0">
   <div class="deng1">
    <h2>详细地址</h2>
   </div>
   <div class="deng2e0">
      <div class="ee1"><h2>{$province.area_name} <img src="__FRONT__/images/ee1.png"> {$aimPro.area_name}</h2></div>
      	<foreach name="gbList" item="vo" key="k">
	  		<div class="ee2">{$vo.brand_name} {$vo.cartype_name}<span>{$vo.car_num}辆</span></div>
	    </foreach>
	   <div class="rr3">
	     <div class="rr31">车辆信息</div>
	     <div class="rr32">

		<!-- <input type="text" value=""/> -->

		   <foreach name="carInfoList" item="vo" key="k">
		   		<foreach name="vo" item="voo" key="kk">
		   		<div class="rr32ad">
		   			<div class="rr32ad1">
			   			<span class="dre1">车型：{$voo.brand_name} {$voo.cartype_name}</span>
			   			<span  class="dre2">车牌号：</span><input type="text" id="car_plate_num_{$kk}" otherinfo="{$voo.brand_name}-{$voo.cartype_name}-{$voo.car_guzhi}-{$voo.car_yuanbaoxian}-{$voo.car_price}"/></div>
		   			<div class="rr32ad2">
		   				<span>估值<strong>{$voo.car_guzhi}</strong>万元整</span>
		   			</div>
		   		</div>
		   		</foreach>
		   </foreach>

		 </div>
		 <div class="rr33">车辆信息是为您爱车购买保险的依据，无牌车填写车架号代替。请准确填写，确保您的合法权益</div>
	   </div>
	  	<div class="rr4">
		<div class="rr41">
		 <h2 class="rra1">发车信息</h2>
		 <h2 class="rra2">发车人	 <if condition="$linkListsize gt 0 ">

			  		<span  class="hhhh" onclick='openF("S",this);'>常用联系人</span>

		 </if></h2>

		  <div class="rr41a">
			  <dl><dt>*</dt><dd><input type="text" class="rry1" placeholder="联系人姓名" id="send_name_txt">

			  </dd></dl>
			  <dl><dt>*</dt><dd><input type="text" class="rry1" placeholder="联系人电话" id="send_tel_txt"></dd></dl>
			  <dl><dt>*</dt><dd><input type="text" class="rry1" placeholder="联系人身份证号码" id="send_code_txt"></dd></dl>
		  </div>
		  <h2 class="rra2">发车地址</h2>
		  <div class="rr41a">
		  <dl>
		  <dt>*</dt>
		  <dd>
		  <input class="txt1a inko" placeholder="发车区域"  type="text" value="{$province.area_name}-{$city.area_name}-{$area.area_name}">
		 </dd>
		 </dl>
		  <dl><dt>*</dt><dd><input type="text" class="rry1" placeholder="发车详细地址" id="send_car_address"></dd></dl>

		  </div>

		</div>
		<div class="rr41">
			 <h2 class="rra1">收车信息</h2>
			  <h2 class="rra2" onclick="withStartCar(this);">收车人 <span>同发车人</span>  <if condition="$linkListsize gt 0 ">

			  		<span  class="hhhh" onclick='openF("R",this);'>常用联系人</span>

			  	</if></h2>

			  <div class="rr41a">
			  <dl><dt>*</dt><dd><input type="text" class="rry1" placeholder="联系人姓名" id="gather_name_txt">
			  </dd></dl>
			  <dl><dt>*</dt><dd><input type="text" class="rry1" placeholder="联系人电话" id="gather_tel_txt"></dd></dl>
			  <dl><dt>*</dt><dd><input type="text" class="rry1" placeholder="联系人身份证号码" id="gather_code_txt"></dd></dl>
		  </div>
		<h2 class="rra2">收车地址</h2>
		<div class="rr41a">
		<dl>
			<dt>*</dt>
			<dd>
				<if condition="$connectCarWay eq 'Y' ">
					<input class="txt1a inko" placeholder="收车地区"  type="text" value="{$aimPro.area_name}-{$aimCity.area_name}-{$ztname}">
				<else />
					<input class="txt1a inko" placeholder="收车地区"  type="text" value="{$aimPro.area_name}-{$aimCity.area_name}">
				</if>
			</dd>
		</dl>
		<dl>
			<if condition="$connectCarWay eq 'Y' ">
				<dt>*</dt>
				<dd>
					<input type="text" class="rry1" placeholder="发车详细地址" id="gather_car_address">
				</dd>
			</if>
		</dl>
		</div>
		</div>
		</div>
		<div style="clear:both;"></div>
	  	<div class="rr5">
		  	<textarea style="width: 86%;" placeholder="备注：" id="remark"></textarea>
		</div>
 		<div class="ee81"><button type="button" onclick="return formSbumitFun();">确定发车</button></div>
   </div>
 </div>
</div>
 <!-- 常用联系人START -->
 <div  id="bg" class="bg" style="display:none;"></div>
<div  id="tan1" class="tan1"  style="display:none;">
   <div class="tan11">
         <a class="closed" id="closed">X</a>
    <h2>常用联系人</h2>
   <div class="clist" style="overflow:auto;height:300px;">
   <volist name="linkList" id="v">
      <div class="clist1">
	    <b></b><input type="radio" name="bb[]" value="{$v.link_code}" class="del" ><span class="bm1" name="{$v.link_name}">姓名：{$v.link_name}</span><span class="bm2" name="{$v.link_tel}">手机号：{$v.link_tel}</span><span class="bm3" name="{$v.link_num}">身份证号：{$v.link_num_code}</span>
	  </div>
	</volist>

   </div>

     <p>
	 <button class="put2" type="button" id="sel" name="S" onclick="selectF(this)">选择</button>
	 <!-- <button class="put3" type="button" id="del" onclick="delLink()">删除</button> -->
	 </p>
   </div>

</div>
<!-- 常用联系人END -->
<script>

  $(".inko").click(function(){
	  var connectCarWay = $("#connectCarWay").val();
	if(connectCarWay=="Y"){
		$("#selected_id").show();
	}else{
		$("#selected_id").hide();
	}

  });

   $(".selected li").click(function(){
  $(this).parent().parent().hide();
   var oop= $(this).html();
  $(this).parent().parent().siblings('.inko').val(oop);

  });
  $(".ee32a li").click(function(){

  $(this).addClass("on").siblings().removeClass('on');
  });
  $(".ee71 span").click(function(){
  if($(this).hasClass('on')){
  $(this).removeClass('on');
  }else{
  $(this).addClass("on");
  }

  });

  function openF(sign,obj){
		$(obj).addClass('on');
		$("#bg").show();
		$("#tan1").show();
		$("#sel").attr('name',sign);
	}
  function selectF(obj){
		var sign = $(obj).attr('name');
		var name = $(".clist1.on").find('.bm1').attr('name');
		var phone = $(".clist1.on").find('.bm2').attr('name');
		var iden = $(".clist1.on").find('.bm3').attr('name');
		if(sign=='S'){
			$("#send_name_txt").val(name);
			$("#send_tel_txt").val(phone);
			$("#send_code_txt").val(iden);
		}else{
			$("#gather_name_txt").val(name);
			$("#gather_tel_txt").val(phone);
			$("#gather_code_txt").val(iden);
		}
		$("#bg").hide();
		$("#tan1").hide();
	}

	$(".clist1").click(function(){
		$(this).addClass("on").siblings().removeClass('on');
	});
	$("#closed").click(function(){
		$("#bg").hide();
		$("#tan1").hide();
	})
  </script>
<!--content-->
<include file='public:foot'/>