<include file='public:head'/>
<script src="__BACK__/laydate/laydate.js"></script>
<script src="__JS__/jquerytool_1.0v.js"></script>
<script language="javascript" src="__JS__/LodopFuncs.js"></script>
<script>
	function sum(obj){
		var hhk=$(".td3 input[type='checkbox']:checked");
		var sum=0;
		hhk.each(function(k,v){
			sum=sum+parseFloat($(v).attr('names'));
		});
		//alert(sum);
		$("#total").html(sum);
	}
	function checktime(){
		var start = $("#startDate").val();
		var end = $("#endDate").val();
		var start = Date.parse(start);
		var end = Date.parse(end);
		if(start>=end&&start!=''&&end!=''){
			$.anewAlert('搜索日期范围有误');
			return false;
		}else if((start||end)&&(!end&&start)){
			$.anewAlert('请完善起始日期和终止日期');
			return false;
		}
		//return false;
	}
</script>
<body>

	<include file='public:header'/>
	<div id="main-pyf">
		<include file='public:left'/>
		<div id="content">
			<!-- 		<div class="ico-pt span12">
			<h4>店铺管理</h4>
		</div>
		-->
		<div class="row">

			<div class="tsan113">

				<div class="widget">

					<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">
							<li>
								<a href="__MODULE__/Financeyjh/getOrderList">订单收入</a>
							</li>
						
							<li class="active">
								<a href="">运单支出</a>
							</li>
						
							<li>
								<a href="__MODULE__/Financeyjh/getBaoList">保费支出</a>
							</li>
						
							<li>
								<a href="__MODULE__/Financeyjh/getFaList">发票费用</a>
							</li>
						
							<li>
								<a href="__MODULE__/Financeyjh/getTotalList">总揽</a>
							</li>
						</ul>
						<div class="tab-content1">
							<div class="tab-content">
								<div class="tab-pane active">
									<form id="edit-profile" class="form-horizontal" />
									<fieldset>
										<div class="l_uit">
											<div class="control-group">
											<form method="get" action="__MODULE__/Financeyjh/getYunList">
												<div style="float:left;" class="controls clec_t">

												<div class="dropdown">

												<input type="text" placeholder="搜索开始时间" id="startDate" name="startDate" value="{$startDate}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="i_n text2" readonly="readonly">
												<input type="text" placeholder="搜索结束时间" id="endDate" name="endDate" value="{$endDate}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="i_n text2" readonly="readonly">
												</div>
												<div class="v_pb">
													<input type="text" style="width:300px;" placeholder="请输入订单号，下单者手机号，订单车型，下单者姓名进行搜索" class="i_n text2 width360" name="search" value="{$search}">
													<button class="btn btn-default5" type="submit" onclick="return checktime();">搜索</button>

												</div>
											</form>
											</div>
												<!-- /controls -->
											</div>
											<script>
												$(function(){
													$('table tr.tr2:odd').css('background','#F0F0F0');
												});

											</script>
											<div class="l_table">
												<table>
													<tr class="tr1">
														<td><input type="checkbox" name="" id="checkall" onClick="selectAll(this)"/>全选</td>
														<td style="width: 100px;">日期</td>
														<td>运单号</td>
														<td>订单号</td>
														<td>车型</td>
														<td>车牌号</td>
														<td>承运类型</td>
														<td>承运人</td>
														<td>结算人</td>
														<td>承运路线</td>
														<td>运费</td>
														<td>已支付</td>
														<td>流水号</td>
													</tr>
													<foreach name="list" item="vo">
														<tr class="tr2">
															<td class="td3"><input type="checkbox" class="box" names="{$vo['order_info_zj']/100}" value="{$vo.yd_code}" onclick="sum(this)"></td>
															<td>{$vo.yd_time}</td>
															<td>{$vo.yd_code}</td>
															<td>{$vo.order_code}</td>
															<td>{$vo.order_info_type}</td>
															<td>{$vo.order_info_carmark}</td>
															<td>{$vo['yd_type']}</td>
															<td>{$vo['yd_name']}</td>
															<td>{$vo.pay_name}</td>
															<td>{$vo['yd_line']}</td>
															<td>{$vo['yd_price']/100}元</td>
															<td class="td_d2">
															<if condition="$vo['yd_is_pay'] eq 'Y'">
															   <input type="checkbox" class="check" checked="checked" data-class="n{$vo['yd_id']}" data-id="{$vo['yd_id']}"/>
															<else/>
															    <input type="checkbox" class="check" data-class="n{$vo['yd_id']}" data-id="{$vo['yd_id']}"/>
															</if>
															</td>
															<td class="n{$vo['yd_id']}">{$vo['yd_liu']}</td>
														</tr>
													</foreach>


												</table>
												
											</div>
											<div class="l_fenye">
												<div class="sad">
													<button type="button" class="btn btn-default5" onClick="daochu()">导出</button>
												</div>
												<if condition="$num neq 0">
												{$page}
												</if>
											</div>
										</div>
									</fieldset>
										</form>
									</div>

								</div>
							</div>

						</div>

					</div>
					<!-- /widget -->

				</div>
				<!-- /span11 -->

			</div>
			<!-- /row -->

		</div>
	</div>
<div id="ggg1" style="display:none; z-index:9999" class="tan1">
	<div class="tan11 tan66">
		<a class="closed">X</a>
		<h2>输入流水号</h2>
	</div>
	<div class="onteyta41">
		<input name="Fruit" type="text" class="input1" value="" />
	</div>
	<div class="sad1 onteytc8">
		<button style="margin-left:8px;" class="btn btn-default22" type="button">确认</button>
	</div>
</div>
<script>
$(".check").click(function(){
	$("#ggg1").css('display','block');
	var changeClass=$(this).attr("data-class");
	var id=$(this).attr("data-id");
	$(".btn-default22").click(function(){
		var number=$(".input1").val();
		if(number==''){
			layer.msg('请输入流水号');
		}else{
			$.post("__MODULE__/Financeyjh/changeStatus",{table:'yundan',status:'yd_status',number:number,liuName:'yd_liu',idName:'yd_id',id:id},function(data){
				 if(data.flag){
					 $("#ggg1").css('display','none');
					 $("."+changeClass).html(number);
				 }else{
					 layer.msg(data.msg);
				 }
			});
		}
	});
});
$(".closed").click(function(){
	$("#ggg1").css('display','none');
});

</script>
<script>
function selectAll(sel){  //全选  全不选
		$(".box").attr('checked',sel.checked);
			var hhk=$(".td3 input[type='checkbox']:checked");
		var sum=0;
		hhk.each(function(k,v){
			sum=sum+parseFloat($(v).attr('names'));
		});
		$("#total").html(sum);
}
function daochu(){
	var selid = '';
		  $(".box:checked").each(function(){
			   if(selid==''){
				   selid=$(this).val();
			   }else{
				   selid = selid+','+$(this).val();
			   }

		  })
		  //alert(selid);
		  if(selid == ""){
			$.anewAlert('请勾选想导出的订单！');
			return false;
		  }else{
			window.location.href="__MODULE__/Financeyjh/daochu_yun/code/"+selid;
		  }

}
</script>
<script language="javascript" type="text/javascript">
    var LODOP; //声明为全局变量   
    //打印预览
	function Preview1(yd_code,yd_star,yd_end,yd_name,zj,time_A,time_B,time_C) {
		CreateFullBill(yd_code,yd_star,yd_end,yd_name,zj,time_A,time_B,time_C);
	  	LODOP.PREVIEW();	
		//LODOP.PRINT_SETUP();		
	};

//财务支付凭证
function CreateFullBill(yd_code,yd_star,yd_end,yd_name,zj,time_A,time_B,time_C) {
	LODOP.PRINT_INITA(10,10,831,1177,"");
	LODOP.ADD_PRINT_SETUP_BKIMG("C:\\Users\\Administrator\\Desktop\\打印模板\\9-4.jpg");
	LODOP.SET_SHOW_MODE("BKIMG_LEFT",0);
	LODOP.SET_SHOW_MODE("BKIMG_TOP",0);
	LODOP.ADD_PRINT_TEXT(129,172,210,22,yd_name);
	LODOP.ADD_PRINT_TEXT(166,172,209,22,yd_star+"-"+yd_end);
	LODOP.ADD_PRINT_TEXT(203,173,84,22,zj+"元");
	LODOP.ADD_PRINT_TEXT(102,385,36,20,time_A);
	LODOP.ADD_PRINT_TEXT(101,445,22,20,time_B);
	LODOP.ADD_PRINT_TEXT(101,482,21,20,time_C);
	LODOP.ADD_PRINT_TEXT(70,555,74,20,yd_code);
};

</script> 
</body>
</html>