<include file='public:head'/>
<body>
	<include file='public:header'/>
	<div id="main-pyf">
		<include file='public:left'/>
		<div id="content">
			<!-- 		<div class="ico-pt span12">
			<h4>店铺管理</h4>
		</div>
		-->
		<div class="row">

			<div class="tsan113">

				<div class="widget">

					<div class="tabbable">
						<ul class="nav nav-tabs" id="tabnav">
							<!-- <li>
								<a href="__MODULE__/Member/getCommonMem">普通会员</a>
							</li> -->
							<!-- <li>
								<a href="__MODULE__/Worklwt/getComMem">大客户管理</a>
							</li> -->
							<li class="active">
								<a href="__MODULE__/Worklwt/latencyMemberList">潜在会员</a>
							</li>
						</ul>

						<div class="tab-content1">
							<div class="tab-content">
								<div class="tab-pane active">
									<form id="edit-profile" class="form-horizontal" />
									<fieldset>
										<div class="l_uit">
											<div class="control-group">

												<div style="float:left;" class="controls clec_t">
													<div class="v_pb">
														<input type="text" id="fskj" placeholder="请输入手机号" value="{$name}" class="i_n text2 width360">
														<button class="btn btn-default5" onclick="awdfuns();" type="button">搜索</button>
													</div>
												</div>
												<!-- /controls -->
												<a href="__MODULE__/Worklwt/latencyMemberAdd"><button class="red btn btn-default5 fr" type="button">添加潜在会员</button></a>
											</div>
											<script>
												$(function(){
													$('table tr.tr2:odd').css('background','#F0F0F0');
												});
												function awdfuns(){
													var ss = $("#fskj").val();
													window.location.href="__MODULE__/Worklwt/latencyMemberList/name/"+ss;
												}
											</script>
											<div class="l_table">
												<table>
													<tr class="tr1">
														<td>用户姓名</td>
														<td>用户电话</td>
														<td>管理员名称</td>
														<td>创建时间</td>
														<td>操作</td>
													</tr>
													<foreach name="list.list" item="vo">
														<tr class="tr2">
														<td>{$vo.user_name|default="-"}</td>
														<td>{$vo.user_tel}</td>
														<input type="hidden" name="user_tel" class="user_tel" value="{$vo.user_tel}"/>
														<td>{$vo.dmin_name|default="admin"}</td>
														<td>{$vo.order_time}</td>
														<td>
															<a href="__MODULE__/Worklwt/checkLateInfo/id/{$vo.order_id}" class="see1">查看</a>
															<if condition="$vo.user_tel eq '' || $vo.order_info_zj eq '' || $vo.c_shi eq '' || $vo.z_shi eq '' || $vo.order_info_brand eq '' || $vo.order_info_type eq ''">
																<a class="see2" onclick="sorry();">发送短信</a>
															<else/>
						<a class="see2" onclick="sendMobile('{$vo.user_tel}','{$vo.order_info_zj}','{$vo.c_shi}','{$vo.z_shi}','{$vo.order_info_brand}','{$vo.order_info_type}');">发送短信</a>
															</if>
														</td>
														</tr>
													</foreach>
												</table>
											</div>
											<div class="l_fenye">
												{$list.show}
											</div>
											</div>
										</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /widget -->
				</div>
				<!-- /span11 -->
			</div>
			<!-- /row
,{$vo.order_info_zj},{$vo.c_shi},{$vo.z_shi},{$vo.order_info_brand},{$vo.order_info_type}
tel,total,start,end,brand,type
			-->
		</div>
	</div>
<script>
		//发送短信
		function sendMobile(tel,total,start,end,brand,type){
			var car = brand+'-'+type;
			if(window.confirm('确定发送短信？')){
				$.post("__MODULE__/Worklwt/sendMobile",{"car":car,"mob":tel,"start":start,"end":end,"price":total},function(data){
					$.anewAlert(data);
					//window.location.reload();
				},'json');
             }else{
                return false;
            }
		}
		function sorry(){
			$.anewAlert('用户信息不完整，暂时不能发送短信');
		}
</script>
</body>
</html>