<include file="Public:head" />
<body>
<script src="__JS__/jquery.Huploadify.js"></script>
<script src="__JS__/jquerytool_1.0v.js"></script>
<script src="__PUBLIC__/laydate/laydate.js"></script>
<script language="javascript" src="__JS__/LodopFuncs.js"></script>

<style>
.tan11 h2{margin-bottom:10px;}
.hk1 input{line-height:30px;height:30px;}
.hk1{margin-bottom:5px;}
</style>
<include file="Public:header" />
<div id="main-pyf">
    <include file="Public:left" />
    <div id="content">
        <div class="row">
            <div class="tsan113">
                <div class="widget">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="tabnav">
                            <li>
                                <a href="">订单管理</a>
                            </li>
                        </ul>
                        <div class="tab-content1">
                            <h2 class="dw88">用户信息</h2>
                            <div class="du1">
                                <div class="dua">
                                    <div class="duaa">
                                        <span>姓名:</span>
                                        <input type="text" readonly="readonly" class="i_n text2" value="{$data.user_name}"></div>
                                </div>
                                <div class="dua">
                                    <div class="duaa">
                                        <span>身份证号码:</span>
                                        <input type="text" readonly="readonly" class="i_n text2" value="{$data.user_identity}"></div>
                                </div>
                                <div class="dua">
                                    <div class="duaa">
                                        <span>手机号:</span>
                                        <input type="text" readonly="readonly" class="i_n text2" value="{$data.user_tel}"></div>
                                </div>
                                <div class="dua">
                                    <div class="duaa">
                                        <span>备用手机号:</span>
                                        <input type="text" readonly="readonly" class="i_n text2" value="{$data.res_tel}"></div>
                                </div>
                            </div>
                            <h2 class="dw88">订单基本信息</h2>
                            <div class="du1">
                                <div class="dua">
                                    <div class="duaa">
                                        <span>订单状态:</span>
                                        <switch name="data.order_status">
                                            <case value="S">
                                                <input type="text" readonly="readonly" id="zt" class="i_n text2" value="待审核"></case>
                                            <case value="A">
                                                <input type="text" readonly="readonly" id="zt" class="i_n text2" value="待安排"></case>
                                            <case value="T">
                                                <input type="text" readonly="readonly" id="zt" class="i_n text2" value="待提车"></case>
                                            <case value="Z">
                                                <input type="text" readonly="readonly" id="zt" class="i_n text2" value="待装板"></case>
                                            <case value="Y">
                                                <input type="text" readonly="readonly" id="zt" class="i_n text2" value="运输中"></case>
                                            <case value="D">
                                                <input type="text" readonly="readonly" id="zt" class="i_n text2" value="已到达"></case>
                                            <case value="W">
                                                <input type="text" readonly="readonly" id="zt" class="i_n text2" value="已完成"></case>
                                                <case value="N">
                                                <input type="text" readonly="readonly" id="zt" class="i_n text2" value="未通过"></case>
                                            <default />
                                            <input type="text" readonly="readonly" class="i_n text2" value="状态错误"></switch>
                                    </div>
                                </div>
                                <div class="dua">
                                    <div class="duaa">
                                        <span>价格:</span>
                                        <input type="text" readonly="readonly" class="i_n text2" value="{$data.price}元"></div>
                                </div>
                                <div class="dua">
                                    <div class="duaa">
                                        <span>车辆信息:</span>
                                        <input type="text" readonly="readonly" class="i_n text2" value="{$data.OrderInfo.order_info_brand}-{$data.OrderInfo.order_info_type}"></div>
                                </div>
                                <div class="dua">
                                    <div class="duaa">
                                        <span>保价:</span>
                                        <input type="text" readonly="readonly" class="i_n text2" value="{$data.cj}元"></div>
                                </div>
                                <div class="dua">
                                    <div class="duaa">
                                        <span>接车费:</span>
                                        <input type="text" readonly="readonly" class="i_n text2" value="{$data.jc}元"></div>
                                </div>
                                <div class="dua">
                                    <div class="duaa">
                                        <span>运车费:</span>
                                        <input type="text" readonly="readonly" class="i_n text2" value="{$data.yc}元"></div>
                                </div>
                                <div class="dua">
                                    <div class="duaa">
                                        <span>送车费:</span>
                                        <input type="text" readonly="readonly" class="i_n text2" value="{$data.sc}元"></div>
                                </div>
                                <!-- <div class="dua">
                                <div class="duaa">
                                    <span>毛利:</span>
                                    <input type="text" readonly="readonly" class="i_n text2" value="{$data.ml}元"></div>
                            </div>
                            -->
                            <div class="dua">
                                <div class="duaa">
                                    <span>车型加价:</span>
                                    <input type="text" readonly="readonly" class="i_n text2" value="{$data.cxjj}元"></div>
                            </div>
                            <div class="dua">
                                <div class="duaa">
                                    <span>保险费用:</span>
                                    <input type="text" readonly="readonly" class="i_n text2" value="{$data.bx}元"></div>
                            </div>
                            <div class="dua">
                                <div class="duaa">
                                    <span>支付状态:</span>
                                    <if condition="$data.pay_status eq Y">
                                        <input type="text" readonly="readonly" class="i_n text2" value="已支付"></div>
                                    <else />
                                    <input type="text" readonly="readonly" class="i_n text2" value="未支付"></div>
                            </if>
                        </div>
                        <div class="dua">
                            <div class="duaa">
                                <span>支付方式:</span>
                                <if condition="$data.OrderInfo.pay_way eq H">
                                    <input type="text" readonly="readonly" class="i_n text2" value="货到付款"></div>
                                <else />
                                <input type="text" readonly="readonly" class="i_n text2" value="网上支付"></div>
                        </if>
                    </div>
                    <div class="dua">
                        <div class="duaa">
                            <span>是否上门送车:</span>
                            <if condition="$data.OrderInfo.order_info_smsc eq Y">
                            <input type="text" readonly="readonly" style="width:60%;" class="i_n text2" value="是">
                            <else />
                            <input type="text" readonly="readonly"  style="width:60%;" class="i_n text2" value="否">
                            </if>
                        </div>
                    </div>
                    <div class="dua">
                        <div class="duaa">
                            <span>提车类型:</span>
                            <if condition="$data.order_way eq S">
                            <input type="text" readonly="readonly" class="i_n text2" value="司机提车">
                            <else />
                            <input type="text" readonly="readonly" class="i_n text2" value="小板提车">
                            </if>
                        </div>
                    </div>
                </div>
                <h2 class="dw88">起点</h2>
                <div class="du1">
                    <div class="dua">
                        <div class="duaa">
                            <span>省:</span>
                            <input type="text" readonly="readonly" class="i_n text2" value="{$data.OrderInfo.order_info_stars.0}"></div>
                    </div>
                    <div class="dua">
                        <div class="duaa">
                            <span>市:</span>
                            <input type="text" readonly="readonly" class="i_n text2" value="{$data.OrderInfo.order_info_stars.1}"></div>
                    </div>
                    <div class="dua">
                        <div class="duaa">
                            <span>区:</span>
                            <input type="text" readonly="readonly" class="i_n text2" value="{$data.OrderInfo.order_info_stars.2}"></div>
                    </div>
                    <div class="dua">
                        <div class="duaa">
                            <span>客户姓名:</span>
                            <input type="text" id="q_name_s" class="i_n text2" value="{$data.stinfo.0}"></div>
                    </div>
                    <div class="dua">
                        <div class="duaa">
                            <span>身份证号:</span>
                            <input type="text" id="q_idcode_s" class="i_n text2" value="{$data.stinfo.1}"></div>
                    </div>
                    <div class="dua">
                        <div class="duaa">
                            <span>手机号:</span>
                            <input type="text" id="q_mobile_s" class="i_n text2" value="{$data.stinfo.2}"></div>
                    </div>
                </div>
                <h2 class="dw88">终点</h2>
                <div class="du1">
                    <div class="dua">
                        <div class="duaa">
                            <span>省:</span>
                            <input type="text" readonly="readonly" class="i_n text2" value="{$data.OrderInfo.order_info_ends.0}"></div>
                    </div>
                    <div class="dua">
                        <div class="duaa">
                            <span>市:</span>
                            <input type="text" readonly="readonly" class="i_n text2" value="{$data.OrderInfo.order_info_ends.1}"></div>
                    </div>
                    <div class="dua">
                        <div class="duaa">
                            <span>区:</span>
                            <input type="text" readonly="readonly" class="i_n text2" value="{$data.OrderInfo.order_info_end_address}"></div>
                    </div>
                    <div class="dua">
                        <div class="duaa">
                            <span>客户姓名:</span>
                            <input type="text" id="z_name_s" class="i_n text2" value="{$data.eninfo.0}"></div>
                    </div>
                    <div class="dua">
                        <div class="duaa">
                            <span>身份证号:</span>
                            <input type="text" id="z_idcode_s" class="i_n text2" value="{$data.eninfo.1}"></div>
                    </div>
                    <div class="dua">
                        <div class="duaa">
                            <span>手机号:</span>
                            <input type="text" id="z_mobile_s" class="i_n text2" value="{$data.eninfo.2}"></div>
                    </div>
                </div>
            <h2 class="dw88">订单备注</h2>
            <div class="du4">
                <textarea id="conts">{$data.OrderInfo.order_info_remark}</textarea>
            </div>
            <hr>
            <div class="sad2" style="background:#fff;position:fixed;bottom:0px;width:100%">
                <button data-toggle="modal" onclick="upOrderFun('{$data.order_code}');" data-target="#myModa7" class="btn btn-default10" type="button">修改</button>
            </div>
        </div>
    </div>
    <!-- /widget -->
</div>
<!-- /span11 -->
</div>
<!-- /row -->
</div>
</div>
<!--tanchuceng-->
<script>
    function upOrderFun(code){
    	var q_name_s = $("#q_name_s").val();
    	var q_idcode_s = $("#q_idcode_s").val();
    	var q_mobile_s = $("#q_mobile_s").val();
    	var z_name_s = $("#z_name_s").val();
    	var z_idcode_s = $("#z_idcode_s").val();
    	var z_mobile_s = $("#z_mobile_s").val();
    	var conts = $("#conts").val();
    	if(q_name_s==''){
			$.anewAlert('请输入发车人姓名');
			return false;
		}
    	if(q_idcode_s==''){
			$.anewAlert('请输入发车人身份号');
			return false;
		}
    	if(q_mobile_s==''){
			$.anewAlert('请输入发车人手机号');
			return false;
		}
    	if(z_name_s==''){
			$.anewAlert('请输入收车人姓名');
			return false;
		}
    	if(z_idcode_s==''){
			$.anewAlert('请输入收车人身份号');
			return false;
		}
    	if(z_mobile_s==''){
			$.anewAlert('请输入收车人手机号');
			return false;
		}
    	if(!$.isIdCardNo(q_idcode_s)){
			$.anewAlert("发车人身份证格式不对");
			return false;
		}
    	if(!$.check_Mobile(q_mobile_s)){
			$.anewAlert('发车人的手机号不对');
			return false;
		}
    	if(!$.isIdCardNo(z_idcode_s)){
			$.anewAlert("收车人身份证格式不对");
			return false;
		}
    	if(!$.check_Mobile(z_mobile_s)){
			$.anewAlert('收车人的手机号不对');
			return false;
		}
    	var ss = q_name_s+','+q_idcode_s+','+q_mobile_s;
    	var tt = z_name_s+','+z_idcode_s+','+z_mobile_s;
    	$.post("__MODULE__/Worklwt/updateOrder",{code:code,ss:ss,tt:tt,cont:conts},function(data){
    		if(data.flag){
    			$.anewAlert('修改成功',0,1,'__MODULE__/Worklwt/orderinfo/order_code/'+code);
    		}else{
    			$.anewAlert('修改失败');
    		}
    	},'json');
    }
</script>
</body>

</html>